---
import Layout from '../../layouts/Layout.astro';
import Links from '../../details/Links.astro';

---
<Layout>
  <div class="grid grid-cols-12 col-span-full gap-y-8 gap-x-4 h-fit">
    <p class="-my-0.5 col-span-full sm:col-span-10 md:col-span-6 lg:col-span-5 xl:col-span-4">
      Based in Toronto. Used to do full-stack engineering, mostly product design + some frontend now. Design primarily in code, think you get better results that way. Interested in fashion + education + architecture as a meta-discipline. Considering architecture school. Happy to help design stuff — <a href="mailto:max@maxgeorgopoulos.com" class="w-fit inline underline">reach out</a>.
    </p>
    <Links classes='-my-0.5 col-span-full' />
  </div>
</Layout>

<style>
  .fade-out {
    WebkitMaskImage: 'linear-gradient(to right, black 80%, transparent 100%)';
    maskImage: 'linear-gradient(to right, black 5%, transparent 100%)';
    WebkitBackgroundClip: 'text';
    backgroundClip: 'text';
  }
  .dark .fade-out {
    WebkitMaskImage: 'linear-gradient(to right, white 80%, transparent 100%)';
    maskImage: 'linear-gradient(to right, white 5%, transparent 100%)';
  }
</style>