---
import Layout from '../../layouts/Layout.astro';
import Links from '../../details/Links.astro';

---
<Layout>
  <div class="relative sm:static flex flex-col col-span-full sm:col-span-8 md:col-span-6 lg:col-span-4 gap-y-8 h-fit ">
    <div class="flex flex-col gap-3 -my-0.5">
      Based in Toronto. Used to do full-stack, mostly product design + front-of-frontend now. Design primarily in code — think you get better results that way. Interested in fashion + education + architecture as a meta-discipline (prob going to architecture school). Happy to help design stuff, just dm.
    </div>
    <Links classes='-my-0.5' />
  </div>  
</Layout>

<style>
  .fade-out {
    WebkitMaskImage: 'linear-gradient(to right, black 80%, transparent 100%)';
    maskImage: 'linear-gradient(to right, black 5%, transparent 100%)';
    WebkitBackgroundClip: 'text';
    backgroundClip: 'text';
  }
  .dark .fade-out {
    WebkitMaskImage: 'linear-gradient(to right, white 80%, transparent 100%)';
    maskImage: 'linear-gradient(to right, white 5%, transparent 100%)';
  }
</style>