---
import Layout from '../../layouts/Layout.astro';
import Links from '../../details/Links.astro';

---
<Layout>
  <div class="col-span-full md:col-span-6 flex flex-col lg:col-span-4 gap-y-8 h-fit ">
    <p class="-my-0.5">I'm a designer and developer based out of Toronto, but I bum around different places. I believe that the boundary between design and engineering is artificial — you get the best results by blending the two. you get the best results by blending the two. Rn, I'm into fashion, education and philosophy.</p>
    <Links />
  </div>  
</Layout>