---
import Layout from '../../layouts/Layout.astro';
import Links from '../../details/Links.astro';

---
<Layout>
  <div class="flex flex-col col-span-full sm:col-span-8 md:col-span-6 lg:col-span-4 gap-y-8 h-fit ">
    <div class="flex flex-col gap-3 -my-0.5">
      based out of Toronto. used to do full-stack. mostly product design now, but work in code (think you get better results that way). interested in fashion, education & architecture as a meta-discipline. prob going to architecture school, move to NY. happy to help you design stuff, just dm.
    </div>
    <Links classes='-my-0.5' />
  </div>  
</Layout>