---
import clsx from 'clsx';
export interface Props {
  text: string;
  id?: string;
  element?: string;
  classes?: string;
}

const { id, text, element = 'p', classes = '' } = Astro.props;

const Element = element as keyof HTMLElementTagNameMap;

const idParts = id?.split('.');
const idWidth = id ? idParts.length === 3 ? 'w-[33px]' : 'w-[23px]' : null;
---

<Element aria-label={text} class={clsx("flex gap-2 uppercase col-span-full", classes)}>
  {id && <span class={idWidth}>{id}</span>}
  <span>{text}</span>
</Element>