---
export interface Props {
  title: string
}

const { title } = Astro.props;
---
<!-- <div class="grid grid-cols-12 gap-x-2 gap-y-4 !col-span-full border-t-[0.5px] pt-2 border-black dark:border-white" > -->
<div class="grid grid-cols-12 gap-x-2 gap-y-4 !col-span-full border-t-[0.5px] pt-1 border-black dark:border-white" >
  <h1 class="flex  uppercase text-pretty col-span-full md:col-span-2   gap-2  z-10">
    <span>1.0</span>
    <span class="">{title}</span>
  </h1>
  <div class="[&_mark]:bg-transparent [&_mark]:text-black dark:[&_mark]:text-white [&_mark]:font-bold  col-span-full md:col-span-8 lg:col-span-6 xl:col-span-4  flex flex-col gap-2 gap-y-4 ">
    <slot />
  </div>
</div>

