---
export interface Props {
  title?: string
}

const { title } = Astro.props;
---
<!-- <div class="relative grid grid-cols-16 !col-span-full gap-y-5 lg:mt-30 first:mt-0" > -->
<div class="relative grid grid-cols-16 !col-span-full gap-y-5" >
  {title && <h1 class=" text-pretty col-span-full lg:col-span-2 lg:pr-[45px]">{title}</h1>}
  <!-- <p class="max-w-[80ch] break-words hyphens-auto tracking-[-0.01em] dark:tracking-[-0.0025em] text-[19px] leading-[20px] xl:text-[24px] xl:leading-[25px] 3xl:text-30"> -->
  <!-- <p class="max-w-[80ch] text-justify break-words hyphens-auto tracking-[-0.0025em] text-[19px] leading-[20px] xl:text-[24px] xl:leading-[25px] 3xl:text-30"> -->
  <p class="col-span-full lg:col-span-12  break-words hyphens-auto tracking-[-0.005em] text-[20px] leading-[20px] lg:text-[25px] lg:leading-[25px] 2xl:text-30 2xl:leading-[30px]">
    <slot />
  </p>
</div>

<style is:inline>
  p > mark {
    background-color: transparent;
    color: inherit;
  }

  p > mark.solution::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 7px;
    vertical-align: baseline;
    background-color: var(--accent-color);
  }

  @media (max-width: 1649px) {
    p > mark.solution::before {
      height: 17px;
      width: 17px;
      margin-right: 6px;
    }
  }

  @media (max-width: 1279px) {
    p > mark.solution::before {
      height: 14px;
      width: 14px;
      margin-right: 5px;
    }
  }
</style>
