---
import Grid from '../Grid.astro';

export interface Props {
  title?: string
}

const { title } = Astro.props;
---

<Grid classes="!gap-x-4 !gap-y-0" >
  {title && <h1 class="md:max-w-[35ch] 2xl:max-w-[40ch] col-span-full border-b md:border-none border-black md:col-span-2 mb-1 text-pretty">{title}</h1>}
  <p class="break-words hyphens-auto normal-case	font-medium md:tracking-[-0.005em] 2xl:tracking-[-0.015em] col-span-full md:col-span-10 xl:col-span-9 max-w-[80ch] text-[24px] leading-6 md:text-[27px] md:leading-[28px] 2xl:text-[39px] 2xl:leading-[40px]">
    <slot />
  </p>
</Grid>

<style is:inline>
  p > mark {
    background-color: transparent;
    color: inherit;
  }

  p > mark.solution::before {
    content: '';
    display: inline-block;
    height: 28px;
      width: 28px;
    border-radius: 3px;
    margin-right: 12px;
    vertical-align: baseline;
    background-color: #39AC39;
  }

  @media (max-width: 1535px) {
    p > mark.solution::before {
      height: 20px;
      width: 20px;
      border-radius: 2px;
      margin-right: 8px;
    }
  }

  @media (max-width: 767px) {
    p > mark.solution::before {
      height: 18px;
      width: 18px;
      border-radius: 1px;
      margin-right: 8px;
    }
  }
</style>
