---
export interface Props {
  classes?: string;
}
const { classes = '' } = Astro.props;
---

<section class={`
  col-span-full xl:grid-span-8 xl:col-start-2 grid grid-cols-6 xl:grid-cols-8 gap-y-16 gap-x-4
  ${classes}
`}>
  <slot />
</section>