---
export interface Props {
  classes?: string;
}
const { classes = "" } = Astro.props;
---

<div class={`
  grid grid-cols-1 md:grid-cols-6 xl:grid-cols-8 md:gap-y-2 gap-x-4 col-span-full -my-1
  ${classes}
`}>
  <div class="flex gap-1.5 md:gap-2 col-span-full lg:col-span-2 xl:col-start-2 text-neutral-500 text-sm md:text-md md:tracking-tight">
    <span class="font-inter text-[13.5px] md:text-[19px] justify-self-end md:justify-self-start">1.</span>
    <slot name="1" />
  </div>
  <div class="flex gap-1.5 md:gap-2 col-span-full lg:col-span-2 text-neutral-500 text-sm md:text-md md:tracking-tight">
    <span class="font-inter text-[13.5px] md:text-[19px] justify-self-end md:justify-self-start">2.</span>
    <slot name="2" />
  </div>
  <div class="flex gap-1.5 md:gap-2 col-span-full lg:col-span-2 text-neutral-500 text-sm md:text-md md:tracking-tight">
    <span class="font-inter text-[13.5px] md:text-[19px] justify-self-end md:justify-self-start">3.</span>
    <slot name="3" />
  </div>
</div>