---
export interface Props {
  classes?: string;
}
const { classes = "" } = Astro.props;
---

<div class={`
  grid grid-cols-1 sm:grid-cols-6 xl:grid-cols-8 gap-y-1 gap-x-6 col-span-full tracking-tight -my-1
  ${classes}
`}>
  <div class="flex gap-3 col-span-full lg:col-span-2 xl:col-start-2 text-neutral-500 text-md ">
    <span class="w-3.5">1.</span>
    <slot name="1" />
  </div>
  <div class="flex gap-3 col-span-full lg:col-span-2 text-neutral-500 text-md ">
    <span class="w-3.5">2.</span>
    <slot name="2" />
  </div>
  <div class="flex gap-3 col-span-full lg:col-span-2 text-neutral-500 text-md ">
    <span class="w-3.5">3.</span>
    <slot name="3" />
  </div>
</div>