

<div class="grid grid-cols-12 gap-y-30 gap-x-15">
  <!-- <Image
    src="/work/formie/research/forms/etherscan-form-ui.png"
    alt="Etherscan's UI for Uniswaps's Delegate method"
    span={{ base: 12, md: 6 }}
    orientation="horizontal"
    description="We started by studying what worked with Etherscan's interface. Their frontend was a list of forms for each action in a smart contract. We were sceptical that a raw, unstyled form was the best layout... but it was. Turns out, smart contract actions are super simple. Most only take 1-2 inputs and return little to no data. The form's focused, linear path makes it perfect for easing people through the unfamiliar flow of calling contracts."
  />
  <Video
    src="/work/formie/research/one-ways/mloot-flow"
    alt="Flow to mint mLoot"
    span={{ base: 12, md: 6 }}
    description="Contracts have two kinds of actions: One-way actions trigger a change, but return nothing (ex: voting, sending money, changing ownership). Two-way actions return data, often mixing with non-blockchain data (ex: showing account’s balance, getting an NFT’s characteristics). One-ways were simple enough for Etherscan’s UI while two-ways were more complex, often getting custom UIs."
  /> -->
</div>