---
import clsx from 'clsx';

export interface Props {
  hasGap?: boolean;
  classes?: string;
}

const { hasGap = true, classes = "" } = Astro.props;
---

<div class={clsx(
  "grid grid-cols-12 gap-x-4 gap-y-4 lg:gap-y-8 col-span-full",
  hasGap && '-mr-px [&>*]:border-r [&>*]:border-white dark:[&>*]:border-black',
  classes
)}>
  <slot />
</div>