---
import { toUrlSafeKebabCase } from "../../utils/formatting"
export interface Props {
  title: string;
  isSubsection?: boolean;
  classes?: string
}
const { title, isSubsection = false, classes = '' } = Astro.props;
---

<section 
  id={toUrlSafeKebabCase(title)} 
  class={`
    relative grid grid-cols-1 md:grid-cols-6 xl:grid-cols-8 gap-6 col-span-full scroll-mt-[72px] sm:scroll-mt-[108px]
    ${isSubsection ? '' : 'mt-[52px] first:mt-0'}
    ${classes}
  `}
>
  <slot name="heading">
    {isSubsection ? (
      <h2 class="text-white  tracking-tighter col-span-2">{title}</h2>
    ) : (
      <h1 class="text-white tracking-tighter  col-span-2 text-3xl xl:text-4xl -my-1 ">{title}</h1>
    )}
  </slot>
  <slot/>
</section>
