---
import Caption from './Caption.astro';
export interface Props {
  id: string;
  title: string
}

const { id, title } = Astro.props;
---
<section id={id + '-' + title} class="scroll-mt-[47px] relative grid grid-cols-12 gap-x-4 col-span-full lg:mt-8">
  <div class="grid grid-cols-12 gap-x-4 gap-2 lg:hidden sticky lg:static top-[47px] col-span-full z-10">
    <!-- <hr class="col-span-full border-t-[0.5px] border-black dark:border-white " /> -->
    <Caption id={id} text={title} element="h2" classes='text-pretty ' />
  </div>
  <!-- <hr class="hidden lg:block col-span-full border-t-[0.5px] border-black dark:border-white z-10 pb-2" /> -->
  <h1 class="hidden lg:flex sticky top-[48px]  uppercase text-pretty col-span-2  gap-2 -my-0.5 z-10">
    <span>{id}</span>
    <span class="">{title}</span>
  </h1>
  <div class="context flex flex-col mt-3 lg:-mt-0.5 -mb-0.5 [&_mark]:bg-transparent [&_mark]:text-black dark:[&_mark]:text-white [&_mark]:font-bold  col-span-full md:col-span-9 lg:col-start-3  lg:col-span-6 xl:col-span-4 3xl:col-span-3 xl:col-start-3 justify-self-end 3xl:max-w-[85ch] h-fit [&>p]:mb-3 last:[&>p]:mb-0">
    <slot name="context" />
  </div>
  {Astro.slots.has('default') && (
    <div class="grid grid-cols-12 gap-y-8 mt-8 col-span-full">
      <slot />
    </div>
  )}
<section/>

<style>
  .context > ol {
    list-style-type: none;
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
  }
  
  .context > ol > li {
    counter-increment: item;
  }
  
  .context > ol > li::before {
    content: counter(item) " ";
    font-weight: bold;
    margin-right: 0.5em;
  }
</style>