---
import Caption from './Caption.astro';

export interface Props {
  title?: {
    text: string
    id?: string,
  };
}

const { title } = Astro.props;
---

<div class="!grid grid-cols-12 gap-y-1 gap-x-4 !col-span-full -my-0.5">
  {title && (
    <Caption element='h3' id={title.id} text={title.text} classes="col-span-full lg:col-span-2 uppercase whitespace-nowrap" />
  )}
  <p class="order-last not-prose col-span-full  lg:col-start-3 max-w-[75ch]">
    <slot />
  </p>
</div>
