---
import { marked } from 'marked';
import Image from './Image.astro';

export interface Props {
  title: string;
  image?: {
    src: string;
    alt: string;
    id: string;
  }
}

const { title, image } = Astro.props;
---

<div class="col-span-full md:col-span-9 md:col-start-3 grid grid-cols-12 md:grid-cols-8 gap-y-3 gap-x-4">
  <div class="col-span-full lg:col-span-7 xl:col-span-2 flex flex-col  ">
    <h3 class="text-pretty" set:html={marked.parse(title)}></h3>
    <div class=" flex flex-col gap-2 text-balance font-medium text-[12px] normal-case">
      <slot />
    </div>
  </div>
  {image && (
    <Image
      id='T1'
      src={image.src}
      alt={image.src}
      span={{ base: 12, lg: 7, xl: 6 }}
      hasCaption={false}
      classes="self-center xl:order-first"
    />
  )}
</div>
