---
import type { Cols, FullBleed } from '../../utils/class-generator'
import { getColClasses, getFullBleedClasses } from '../../utils/class-generator'
import { stripExtension } from "../../utils/formatting";
import clsx from 'clsx';

export interface Props {
  src: string;
  alt: string;
  description?: string;
  span?: Cols;
  start?: Cols;
  end?: Cols;
  fullBleed?: FullBleed;
  hasBorder?: boolean;
  hasCaption?: boolean;
  orientation?: 'vertical' | 'horizontal';
  classes?: string;
}

const {
  src, 
  alt,
  span = 12,
  start,
  end,
  fullBleed = false,
  description = "",
  hasBorder = false,
  hasCaption = true,
  orientation = 'horizontal',
  classes = "" 
} = Astro.props;

const extensionlessSrc = stripExtension(src);

const { spanClasses, startClasses, endClasses } = getColClasses(span, start, end);
const { bleedClasses, paddingClasses } = getFullBleedClasses(fullBleed);

---
<div class={clsx(
  "flex flex-col gap-2 h-fit",
  spanClasses,
  startClasses,
  endClasses,
  bleedClasses,
  classes
)}>
  <video
    class={`
      object-cover w-full select-none self-center 
      ${orientation === 'vertical' ? 'aspect-[2/3]' : 'aspect-[7/4]'}
      ${hasBorder ? 'border border-neutral-300 dark:border-neutral-700' : ''}
    `}
    poster={extensionlessSrc + ".png"}
    playsinline
    autoplay
    muted
    loop
  >
    <source src={extensionlessSrc + ".mp4"} type="video/mp4" />
  </video>
  <div class={clsx(
    hasCaption || description ? 'flex flex-col gap-2' : 'hidden',
    paddingClasses
  )}>
    {hasCaption && <p class="col-span-full uppercase -my-0.5">{alt}</p>}
    {description && <p class="col-span-full">{description}</p>}
  </div>
</div>
