---
import clsx from "clsx";

export interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

const interests = [
  { 
    title: "Education reform",
    description: "Maniacle focus + uncompromising vision + you need a strong leader to make great things happen." 
  },
  { 
    title: "Electronic music", 
    description: "Contraints make you creative + make fun things.", 
    link: "https://en.wikipedia.org/wiki/Gunpei_Yokoi" 
  },
  {
    title: "Toy design", 
    description: "Semantics are everything + elegance elegance elegance.", 
    link: "https://www.rit.edu/vignellicenter/sites/rit.edu.vignellicenter/files/documents/The%20Vignelli%20Canon.pdf" 
  },
];
---
<div class={clsx("flex flex-col gap-15", classes)}>
  <h3>Interests</h3>
  <ul>
    {interests.map((interest) => (
      <li class="pl-px">
        <details class="transition-all group before:content-none  flex w-full  items-center gap-15 [&_summary]:open:cursor-zoom-out ">
          <summary class="transition duration-75 hover:cursor-zoom-in ">{interest.title}</summary>
          <p class="pl-[0.65rem]  normal-case font-medium">{interest.description} {interest.link && <a href={interest.link} target="_blank" class="inline underline">Learn</a>}</p>  
        </details>
      </li>
    ))}
  </ul>
</div>