---
import clsx from "clsx";

export interface Props {
  cols?: number;
  classes?: string;
}

const { classes = "" } = Astro.props;

const links: {
  name: string;
  url: string;
  target?: "_self" | "_blank";
}[] = [
  
  {
    name: "Dribbble",
    url: "https://dribbble.com/maxgeo",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/maxoulos",
  },
  {
    name: "Layers",
    url: "https://layers.to/maxgeorgopoulos",
  },
  {
    name: "Github",
    url:  "https://github.com/maxgeor",
  },
  {
    name: "Arena",
    url: "https://www.are.na/max-georgopoulos",
  },
  {
    name: "Music",
    url: "https://soundcloud.com/max-georgopoulos-9135/tracks"
  },
  {
    name: "CV",
    url: "https://drive.google.com/file/d/1hmnQPdPr7JXtI3t-4lKrsL0hQKhDqj7o/view?usp=sharing",
  },
];
---

<div class={clsx("grid gap-x-4", classes)}>
  {links.map(link => (
    <a href={link.url} target={link.target || '_blank'} class="uppercase">
      {link.name}
    </a>
  ))}
</div>