---
import clsx from "clsx";
import CopyButton from "../components/CopyButton.astro";

export interface Props {
  cols?: number;
  classes?: string;
}

const { classes = "" } = Astro.props;

type Link = {
  type: 'link';
  url: string;
  target?: "_self" | "_blank";
}

type CopiableButton = {
  type: 'copyButton';
  copyText: string;
}

type Button = {
  name: string;
} & (Link | CopiableButton);

const buttons: Button[] = [
  {
    type: "link",
    name: "Dribbble",
    url: "https://dribbble.com/maxgeo",
  },
  {
    type: "link",
    name: "Twitter",
    url: "https://twitter.com/maxoulos",
  },
  {
    type: "link",
    name: "Layers",
    url: "https://layers.to/maxgeorgopoulos",
  },
  {
    type: "link",
    name: "Github",
    url:  "https://github.com/maxgeor",
  },
  {
    type: "link",
    name: "Arena",
    url: "https://www.are.na/max-georgopoulos",
  },
  {
    type: "copyButton",
    name: "Email",
    copyText: "max@maxgeorgopoulos.com",
  },
  {
    type: "link",
    name: "CV",
    url: "https://drive.google.com/file/d/1126aBg3Z49hJd0H5likQorzbWRWKVLvS/view?usp=sharing",
  },
];
---

<div class={clsx("flex flex-col h-fit gap-x-4", classes)}>
  {buttons.map(btn => (
    btn.type === "copyButton" ? (
      <CopyButton label={btn.name} copyText={btn.copyText} />
    ) : (
      <a href={btn.url} target={btn.target || "_blank"} class="uppercase">
        {btn.name}
      </a>
    )
  ))}
</div>