---
import { getCollection } from 'astro:content';
import { formatDate } from '../utils/formatting';
import clsx from "clsx";

export interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

const writings = await getCollection('writing');
---
<div class={clsx("flex flex-col gap-15", classes)}>
  <h3>Writing</h3>
  <ol>
    {writings?.sort((a, b) => {
      const dateA: any = new Date(a.data.date);
      const dateB: any = new Date(b.data.date);
      return dateB - dateA;
    }).map((writing) => (
      <li>
        <a href={`/writing/${writing.slug}`} class="flex gap-5 truncate">
          <span>{formatDate(writing.data.date)}</span>
          <span class="overflow-hidden">{writing.data.title}</span>
        </a>
      </li>
    ))}
  </ol>
</div>