---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Resume" backgroundColor="bg-white">
  <div class="mx-auto max-w-3xl text-[#222]">
    <div
      class="mx-auto flex flex-col gap-4 bg-white px-8 pt-6 pb-16 text-xs"
    >
      <header class="grid grid-cols-4 gap-4">
        <h1>Max Georgopoulos</h1>
        <div class="flex flex-col gap-4">
          <div>
            <p>Toronto</p>
            <p>416-804-8644</p>
            <p>max123358@gmail.com</p>
          </div>
        </div>
        <div class="col-span-2 flex flex-col gap-4">
          <p class="col-span-2">
            I have extensive experience working in fast-based, high-stress environments and delivering quality. I've used my communication and organization skills to manage multiple complex projects independently while creating a fun, friendly atmosphere for customers and coworkers.
          </p>
        </div>
      </header>
      <section class="grid grid-cols-4 gap-4 border-t border-[#dddddd]">
        <h2>Work</h2>
        <div class="col-span-3 mt-4 grid grid-cols-3 gap-4">
          <article class="col-span-3 grid grid-cols-3 gap-4">
            <h3 class={`font-medium text-neutral-950`}>
              Software Engineer
            </h3>
            <p>Wavy</p>
            <div class="relative flex h-fit justify-self-end gap-1.5 items-center">
              <p class="shrink-0">Feb 2023</p>
              <span 
                >-</span
              >
              <p class="shrink-0">Mar 2023</p>
            </div>
            <ul class="col-span-full list-disc pl-[14px] m-0 flex flex-col gap-1">
              <li>Owned development of complex product features, end-to-end.</li>
              <li>Led a team to develop Wavy's authentication system.</li>
              <li>Used critical thinking and communication skills to solve highly complex problems individually and on a team.</li>
            </ul>
          </article>
          <span class="w-full h-px bg-transparent col-span-full border-t border-[#dddddd]"></span>
          <article class="col-span-3 grid grid-cols-3 gap-4">
            <h3 class={`font-medium text-neutral-950`}>
              Operations Coordinator
            </h3>
            <p>Wavy</p>
            <div class="relative flex h-fit justify-self-end gap-1.5 items-center">
              <p class="shrink-0">May 2022</p>
              <span 
                >-</span
              >
              <p class="shrink-0">Feb 2023</p>
            </div>
            <ul class="col-span-full list-disc pl-[14px] m-0 flex flex-col gap-1">
              <li>Planned and ran 100+ online, in-person, and hybrid events.</li>
              <li>Used communication and organizational skills to coordinate event structure, package deliveries, and host training.</li>
              <li>Thrived under stress to solve time-sensitive event issues.</li>
            </ul>
          </article>
          <!-- <span class="w-full h-px bg-transparent col-span-full border-t border-[#dddddd]"></span>
          <article class="col-span-3 grid grid-cols-3 gap-4">
            <h3 class={`font-medium text-neutral-950`}>
              Digital Marketing Coordinator
            </h3>
            <p>Wavy</p>
            <div class="relative flex h-fit justify-self-end gap-1.5 items-center">
              <p class="shrink-0">May 2019</p>
              <span 
                >-</span
              >
              <p class="shrink-0">Aug 2019</p>
            </div>
            <ul class="col-span-full list-disc pl-[14px] m-0 flex flex-col gap-1">
              <li>Entertained customers by produced and edited an IGTV series.</li> 
              <li>Used sales and communication skills to get downloads for Wavy's app at events.</li> 
            </ul>
          </article> -->
          <span class="w-full h-px bg-transparent col-span-full border-t border-[#dddddd]"></span>
          <article class="col-span-3 grid grid-cols-3 gap-4">
            <h3 class={`font-medium text-neutral-950`}>
              Digital Marketing & Sales Specialist
            </h3>
            <p>Dream Team Real Estate</p>
            <div class="relative flex h-fit justify-self-end gap-1.5 items-center">
              <p class="shrink-0">Jan 2019</p>
              <span 
                >-</span
              >
              <p class="shrink-0">Mar 2019</p>
            </div>
            <ul class="col-span-full list-disc pl-[14px] m-0 flex flex-col gap-1">
              <li>Cold called and emailed to convert leads into clients.</li> 
              <li>Used interpersonal skills to manage and nurture long-term client realtionships.</li> 
            </ul>
          </article>
          <span class="w-full h-px bg-transparent col-span-full border-t border-[#dddddd]"></span>
          <article class="col-span-3 grid grid-cols-3 gap-4">
            <h3 class={`font-medium text-neutral-950`}>
              Brand Ambassador
            </h3>
            <p>Mosaic Canada</p>
            <div class="relative flex h-fit justify-self-end gap-1.5 items-center">
              <p class="shrink-0">Jun 2017</p>
              <span 
                >-</span
              >
              <p class="shrink-0">Sep 2017</p>
            </div>
            <ul class="col-span-full list-disc pl-[14px] m-0 flex flex-col gap-1">
              <li>Embodied KiSS 92.5's fun and charismatic brand at various events.</li> 
              <li>Grew KiSS' listener base by interacting with listeners and communicating key
            messages.</li> 
            </ul>
          </article>
          <span class="w-full h-px bg-transparent col-span-full border-t border-[#dddddd]"></span>
          <article class="col-span-3 grid grid-cols-3 gap-4">
            <h3 class={`font-medium text-neutral-950`}>
              Lifeguard and Swim Instructor
            </h3>
            <p>Town of Aurora & Camp Green Acres</p>
            <div class="relative flex h-fit justify-self-end gap-1.5 items-center">
              <p class="shrink-0">Oct 2015</p>
              <span 
                >-</span
              >
              <p class="shrink-0">Aug 2016</p>
            </div>
            <ul class="col-span-full list-disc pl-[14px] m-0 flex flex-col gap-1">
              <li>Worked with a team under pressure to ensure the safety of patrons.</li> 
              <li>Won Staff of the Summer by creating a positive, engaging learning environment for all age groups.</li> 
            </ul>
          </article>
        </div>
      </section>
      <section class="grid grid-cols-4 gap-4 border-t border-[#dddddd]">
        <h2>Education</h2>
        <div class="col-span-3 mt-4 flex flex-col gap-4">
          <div class="grid grid-cols-3 gap-4">
            <h3>Bachelor of  Commerce</h3>
            <p>Dalhousie University</p>
            <div class="relative flex h-fit justify-self-end gap-1.5 items-center">
              <p class="shrink-0">Sep 2016</p>
              <span
                >-
              </span>
              <p class="shrink-0">Apr 2021</p>
            </div>
          </div>
          <div class="grid grid-cols-3 gap-4">
            <h3 class="col-span-1">Smart Serve Certification</h3>
            <div class="col-start-3 col-end-4 relative flex h-fit justify-self-end gap-1.5 items-center">
              <p class="shrink-0">Aug 2023</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>