---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---
<div class="col-span-3">
  <h4 class="cols-span-2 italic">{title}</h4>
  <p class="col-span-2 text-xs font-medium normal-case"><slot /></p>
</div>
