---
import NavList from "./NavList.astro";

export interface Props {
  sections: {
    title: string;
    subsections?: {
      title: string;
    }[];
  }[];
}

const { sections } = Astro.props;
---

<nav
  class="no-scrollbar col-span-full -mb-6 h-fit overflow-x-scroll scroll-smooth pt-4 pb-5 px-6 sm:py-5 sm:-mb-6 sm:px-12 lg:sticky lg:top-[108px] 3xl:top-[68px] lg:col-span-2 lg:m-0 lg:overflow-visible lg:p-0"
>
  <NavList sections={sections} />
  <div
    class="absolute top-px left-0 z-10 h-[60px] w-6 shrink-0 bg-gradient-to-r from-white dark:from-neutral-800 lg:hidden"
  >
  </div>
  <div
    class="absolute top-px right-0 z-10 h-[60px] w-6 shrink-0 bg-gradient-to-l from-white dark:from-neutral-800 lg:hidden"
  >
  </div>
</nav>
