---
import NavList from "./NavList.astro";

export interface Props {
  sections: {
    title: string;
    subsections?: {
      title: string;
    }[];
  }[];
}

const { sections } = Astro.props;
---

<nav
  class="no-scrollbar col-span-full -mb-6 h-fit overflow-x-scroll scroll-smooth p-6 pt-5 sm:-mb-6 sm:px-12 sm:pt-6 lg:sticky lg:top-28 lg:col-span-2 lg:m-0 lg:overflow-visible lg:p-0"
>
  <NavList sections={sections} />
  <div
    class="dark:from-neutral-850 absolute top-1 left-0 z-10 h-[60px] w-6 shrink-0 bg-gradient-to-r from-white lg:hidden"
  >
  </div>
  <div
    class="dark:from-neutral-850 absolute top-1 right-0 z-10 h-[60px] w-6 shrink-0 bg-gradient-to-l from-white lg:hidden"
  >
  </div>
</nav>
