---
import NavList from "./NavList.astro";
import Button from "../../Button.astro";
import ChevronLeftIcon from "../../icons/ChevronLeftIcon.astro";

export interface Props {
  sections: {
    title: string;
    subsections?: {
      title: string;
    }[];
  }[];
  classes?: string;
}

const { sections, classes = '' } = Astro.props;
---

<nav
  class={`
    flex flex-col items-start justify-start overflow-auto sm:overflow-scroll no-scrollbar col-span-full sm:h-screen scroll-smooth sm:sticky sm:col-span-1 px-4 sm:px-0 -mt-1 sm:mt-0 sm:pl-0 sm:pr-4 sm:pb-16 top-0 w-full relative
    ${classes}
  `}
>
  <a href="/" class="hidden sm:flex justify-center items-center p-6 sticky top-0 -left-12 z-10">
    <ChevronLeftIcon classes="-ml-[3px]" />
  </a>
  <NavList sections={sections} />
  <div
    class="sticky top-0 left-0 z-10 h-5 w-4 shrink-0 bg-gradient-to-r from-white dark:from-black lg:hidden"
  >
  </div>
  <div
    class="sticky top-0 right-0 z-10 h-5 w-4 shrink-0 bg-gradient-to-l from-white dark:from-black lg:hidden"
  >
  </div>
</nav>
