---
export interface Props {
  text: string;
  classes?: string;
}
const { text, classes = '' } = Astro.props;
---
<p class={`
  caption transition-all text-center text-[12px] leading-4 py-0.5 italic text-gray-500
  ${classes} 
`}>
  {text}
</p>