<div class="flex items-center  max-w-7xl mx-auto max-h-96 my-10 overflow-x-scroll">
  <slot/>
</div>

<style>
  /* .full-width {
    width: 75vw;
    position: relative;
    left: 50%;
    right: 50%;
    /* margin-left: -50vw;
    margin-right: -50vw; */
</style>