---
export interface Props {
  number: number;
  classes?: string;
}
const { number, classes = "" } = Astro.props;
---

<span class={`
  flex not-prose xl:absolute top-0 -right-[233px] xl:w-52 text-xs text-neutral-490 dark:text-neutral-490 
  ${classes}
`}>
  <span class="relative flex">
    <span class="absolute top-0 left-0">{number}</div>
    <span class="pl-4 xl:pl-6">
      <slot />
    </span>
  </span>
</span>