---
import Image from "../../components/prose/Image.astro";
import Caption from "./Caption.astro";
import Carouselle from "./Carouselle.astro";

export interface Props {
  images: {
    src: string;
    alt: string;
  }[];
  isCarouselle?: boolean;
  classes?: string;
}
const { images, isCarouselle = false, classes = '' } = Astro.props;
---

<div slot="images" class={`
  flex flex-col gap-6 col-span-full lg:col-span-6 xl:col-start-7 xl:col-end-13
  ${classes}
`}>
  {images.length > 1 && isCarouselle ? (
    <Carouselle images={images} />
  ) : (
    images.map((image) => (
      <div class="flex flex-col items-center gap-3">
        <Image 
          src={image.src} 
          alt={image.alt || "Image"} 
          classes={`aspect-[7/4] object-cover w-full border border-[#eef0f4] border-b-gray-200 rounded-sm`}
        />
        <Caption text={image.alt || ''} />
      </div>
    ))
  )}
</div>
