<div class="flex flex-col gap-y-6 col-span-full lg:col-start-3 lg:col-end-7">
  <slot name="text"/>
</div>
<div class="flex flex-col gap-y-6 col-span-full lg:col-start-7 lg:col-end-13">
  <slot name="images"/>
</div>