---
export interface Props {
  title: string;
  classes?: string;
}
const { title, classes = '' } = Astro.props;
---
<section class=`
  col-span-full grid grid-cols-12 grid gap-y-6 gap-x-12
  ${classes}
`>
  <h2 class=`col-span-full lg:col-span-2 font-bold -my-1.5`>
    {title}
  </h2>
  <slot/>
</section>