---
import ImageList from "../../components/prose/ImageList.astro";

export interface Props {
  images?: {
    src: string;
    alt: string;
  }[];
  isCarouselle?: boolean;
}
const { images, isCarouselle = false } = Astro.props;
---
<div class={`
  flex flex-col gap-6 col-span-full lg:col-end-7 xl:col-start-3 xl:col-end-7
`}>
  <slot/>
</div>
{images ? <ImageList images={images} isCarouselle={isCarouselle} /> : null}