---
import type { image } from 'astro:content';

import Image from "../../components/prose/Image.astro";

export interface Props {
  images?: {
    src: string;
    alt?: string;
  }[];
}
const { images } = Astro.props;
---
<div class="flex flex-col gap-6 col-span-full lg:col-span-6 xl:col-start-3 xl:col-end-7">
  <slot/>
</div>
{images ? (
  <div class="flex flex-col gap-6 col-span-full lg:col-span-6 xl:col-start-7 xl:col-end-13 -mx-6 sm:mx-0">
    {images.map((image) => (
      <Image 
        src={image.src} 
        alt={image.alt || "Image"} 
        classes="aspect-[7/4] object-contain w-full h-full"
      />
      ))}
  </div>
) : null}