---
import { imageConfigDefault } from "next/dist/shared/lib/image-config";
import Image from "../../components/prose/Image.astro";

export interface Props {
  images?: {
    src: string;
    alt?: string;
    isPadded?: boolean;
  }[];
}
const { images } = Astro.props;
---
<div class="flex flex-col gap-6 col-span-full lg:col-span-6 xl:col-start-3 xl:col-end-7">
  <slot/>
</div>
{images ? (
  <div class="flex flex-col gap-6 col-span-full lg:col-span-6 xl:col-start-7 xl:col-end-13">
    {images.map((image) => (
      <Image 
        src={image.src} 
        alt={image.alt || "Image"} 
        isPadded={image.isPadded}
        classes={`aspect-[7/4] object-fit w-full h-full shadow-float`}
      />
    ))}
  </div>
) : null}