---
import Image from "../../components/prose/Image.astro";
import Caption from "./Caption.astro";
import Carouselle from "./Carouselle.astro";

export interface Props {
  images?: {
    src: string;
    alt?: string;
    hasCaptions?: boolean;
  }[];
  isUsingCarouselle?: boolean;
}
const { images, isUsingCarouselle = false } = Astro.props;
---
<div class="flex flex-col gap-6 col-span-full lg:col-start-1 lg:col-end-7 xl:col-start-3 xl:col-end-7">
  <slot/>
</div>
{images ? (
  <div class="flex flex-col gap-6 col-span-full lg:col-span-6 xl:col-start-7 xl:col-end-13">
    {images.length > 1 && isUsingCarouselle ? (
      <Carouselle images={images} />
    ) : (
      images.map((image) => (
        <div class="flex flex-col items-center gap-3 sm:gap-4">
          <Image 
            src={image.src} 
            alt={image.alt || "Image"} 
            classes={`aspect-[7/4] object-fit w-full border border-t-[#F1F3F5] border-x-[#EEF0F4] border-b-[#E6EAEF] rounded-sm`}
          />
          <Caption text={image.alt || ''} />
        </div>
      ))
    )}
  </div>
) : null}