---
// import ChevronRightIcon from '../icons/ChevronRightIcon.astro'

export interface Props {
  text: string;
}
const { text } = Astro.props;
---

<span class="group relative w-min">
  <span class="underline decoration-dashed decoration-1 underline-offset-4 w-min">{text}</span>
  <div class="hidden text-white group-hover:flex flex-col absolute left-0 top-6 bg-black p-6 rounded-md shadow w-0 group-hover:w-80  gap-6">
    <slot />
  </div>
</span>