---
import PauseIcon from '../icons/PauseIcon.astro';

export interface Props {
  src: string;
  classes?: string;
}
const { src, classes = "" } = Astro.props;
---
<div class="relative">
  <video 
    class={`transition duration-[250ms] ease-out col-span-full xl:col-start-2 xl:col-end-8 aspect-[7/4] object-cover w-full border border-[#eeeff2] border-b-gray-200 dark:border-[#2c2c2c] dark:border-b-[#2c2c2c] dark:border-t-[#373737] rounded-lg dark:brightness-90 ${classes}`} 
    poster={src.replace('.mp4', '.png')}
    playsinline
    autoplay
    muted
    loop
  >
    <source src={src} type="video/mp4">
  </video>
  <PauseIcon classes="pause-icon transform opacity-0 -rotate-12 -translate-x-5 z-10 absolute top-4 left-[13px] transition duration-[200ms] ease-out text-white pointer-events-none drop-shadow" />
</div>

<script>
  const videos = document.querySelectorAll('video');

  videos.forEach(video => {
    const pause = video.parentElement?.querySelector('.pause-icon') as HTMLElement;
    
    let isFrozen = false;
    const isPlaying = (video: HTMLVideoElement) => !!(video.currentTime > 0 && !video.paused && !video.ended && video.readyState > 2);
    const isMobileOrTablet = () => /Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent);

    const pauseVideo = () => {
      // if (video.paused) return;

      video.pause();
      video.classList.add('brightness-75');
      video.classList.remove('dark:brightness-90');
      pause.classList.remove('opacity-0', '-rotate-12', '-translate-x-5');
    }

    const playVideo = () => {
      // if (isPlaying(video)) return;
      
      video.play();
      video.classList.add('dark:brightness-90');
      video.classList.remove('brightness-75');
      pause.classList.add('opacity-0', '-rotate-12', '-translate-x-5');
    }

    video.addEventListener('mouseover', () => {
      if (isFrozen || isMobileOrTablet()) return;

      pauseVideo();
    });

    video.addEventListener('mouseout', () => {
      if (isFrozen || isMobileOrTablet()) return;

      playVideo();
    });

    video.addEventListener('click', () => {
      if (video.paused) { 
        if (isFrozen) {
          isFrozen = false;
        }
        playVideo();
      } else {
        isFrozen = true;
        pauseVideo();
      }
    });
  });
</script>