---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Max Georgopoulos">
	<main class="col-span-full flex flex-col gap-12 pt-6 pb-12 sm:py-12 px-6 sm:px-12 ">
		<div class="flex justify-between">
			<div class="-my-1">
				<a href="/" class="group hover:underline">
					Max Georgopoulos
				</a>
				<div class="flex gap-3 items-baseline">
					<p id="email" class="cursor-pointer text-gray-500 hover:underline">max123358@gmail.com</p>
					<span id="copyConfirmation" class="hidden text-xs text-gray-500">
						Copied!
					</span>
				</div>
			</div>
			<a href="/resume-max-georgopoulos.pdf" download="resume-max-georgopoulos.pdf" class="hover:underline xl:order-2 -my-1">Resume</a>
		</div>
		<div class="flex flex-col sm:grid sm:grid-cols-12 gap-6 sm:gap-12">
			<img src="/me.jpeg" alt="my face" class="col-span-4 xl:col-span-3 aspect-square max-w-sm w-full h-full mx-auto" />
			<div class="col-span-8 xl:col-span-9 flex flex-col xl:flex-row gap-12">
				<p class="xl:basis-2/3 max-w-prose -my-1">I believe that the boundary between design and engineering is artificial — you get the best results by blending the two. Lately, I've been inspired by Ryan Singer's design techniques, TailwindCSS, and The 2023 Spring Summer Collection from Homme Plissé.</p>
				<div class="xl:basis-1/3 gap-x-3 flex xl:flex-col sm:text-right flex-wrap -my-1">
					<a href="#" class="hover:underline">Dribbble</a>
					<a href="#" class="hover:underline">Twitter</a>
					<a href="#" class="hover:underline">Github</a>
					<a href="#" class="hover:underline">Arena</a>
				</div>
			</div>
		</div>
	</main>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const email = document.querySelector('#email');

		if (email == null) return;

		email.addEventListener('click', function() {
			var textToCopy = email.innerText;
			navigator.clipboard.writeText(textToCopy)
				.then(function() {
					console.log('Text copied to clipboard: ' + textToCopy);
				})
				.catch(function(error) {
					console.error('Error copying text to clipboard: ', error);
				});

			// Show the hidden span tag
			var copyConfirmation = document.querySelector('#copyConfirmation');
			copyConfirmation.style.display = 'inline';

			// Hide the span tag after 3 seconds
			setTimeout(function() {
				copyConfirmation.style.display = 'none';
			}, 3000);
		});
	});
</script>