---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Max Georgopoulos">
	<main class="col-span-full grid grid-cols-1 md:grid-cols-12 gap-12 pt-6 sm:pt-12 px-6 sm:px-12 ">
		<a href="/" id="logo" class="group col-span-full md:col-span-4 xl:col-span-3 hover:underline -my-1">
        Max Georgopoulos
      </a>
		<div class="col-span-full md:col-span-8 xl:col-span-9 flex flex-col xl:flex-row xl:justify-between gap-12">
			<div class="max-w-prose gap-5 -my-1">
				<p>I believe that the boundary between design and engineering is artificial — you get the best results by blending the two. Lately, I've been inspired by Ryan Singer's design techniques, TailwindCSS, and The 2023 Spring Summer Collection from Homme Plissé.</p>
			</div>
			<div class="flex xl:flex-col xl:text-right w-fit flex-wrap">
				<a href="#" class="hover:underline xl:order-6">Email</a><span class="xl:hidden mr-1.5 xl:mr-0">,</span>
				<a href="#" class="hover:underline xl:order-5">Arena</a><span class="xl:hidden mr-1.5 xl:mr-0">,</span>
				<a href="#" class="hover:underline xl:order-4">Github</a><span class="xl:hidden mr-1.5 xl:mr-0">,</span>
				<a href="#" class="hover:underline xl:order-3">Twitter</a><span class="xl:hidden mr-1.5 xl:mr-0">,</span>
				<a href="#" class="hover:underline xl:order-2">Resume</a><span class="xl:hidden mr-1.5 xl:mr-0">,</span>
				<a href="#" class="hover:underline xl:order-1">Dribbble</a>
			</div>
		</div>
	</main>
</Layout>