---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<Layout title="Max Georgopoulos">
  <div class="col-span-full flex flex-col gap-12 px-6 sm:px-12 max-w-[1900px] mx-auto">
    <Header />
    <main class="flex flex-col gap-12 lg:grid lg:grid-cols-12">
      <div class="hidden lg:flex flex-col gap-12 col-span-3 ">
        <img
          src="/me.jpeg"
          alt="my face"
          class="mx-auto aspect-square w-full max-w-sm lg:max-w-none"
        />
        <SocialLinks />
      </div>
      <img
        src="/me.jpeg"
        alt="my face"
        class="lg:hidden mx-auto aspect-square w-full max-w-sm lg:max-w-none"
      />
      <div class="col-span-9 flex flex-col justify-between gap-12 ">
        <p class="mx-auto -my-1 max-w-prose lg:mx-0 xl:basis-3/4">
          Yo! I'm a designer and developer based out of Toronto, but I bum
          around different places. I believe that the boundary between design
          and engineering is artificial — you get the best results by blending
          the two. Lately, I've been inspired by Ryan Singer's design
          techniques, TailwindCSS, and The 2023 Spring Summer Collection from
          Homme Plissé.
        </p>
      </div>
      <SocialLinks classes="lg:hidden" />
    </main>
  </div>
</Layout>
