---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<Layout title="Max Georgopoulos">
  <div class="col-span-full flex flex-col gap-4 px-4 max-w-[1900px] mx-auto">
    <Header hasBorder={true} />
    <main class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 gap-4">
      <div class="hidden lg:flex flex-col gap-4">
        <img
          src="/me.jpeg"
          alt="my face"
          class="mx-auto aspect-square w-full max-w-sm lg:max-w-none"
        />
        <SocialLinks />
      </div>
      <img
        src="/me.jpeg"
        alt="my face"
        class="lg:hidden mx-auto aspect-square w-full max-w-sm lg:max-w-none"
      />
      <div class="col-span-3 grid grid-cols-1 md:grid-col-3 gap-4">
        <p class="md:col-start-2 md:col-end-4 mx-auto -my-1 max-w-prose lg:mx-0 xl:basis-3/4">
          Yo! I'm a designer and developer based out of Toronto, but I bum
          around different places. I believe that the boundary between design
          and engineering is artificial — you get the best results by blending
          the two. Lately, I've been inspired by Ryan Singer's design
          techniques, TailwindCSS, and The 2023 Spring Summer Collection from
          Homme Plissé.
        </p>
      </div>
      <SocialLinks classes="lg:hidden" />
    </main>
  </div>
</Layout>
