---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Max Georgopoulos">
	<main class="col-span-full flex flex-col gap-12 pt-6 pb-12 lg:py-12 px-6 lg:px-12 ">
		<div class="flex justify-between">
			<a href="/" class="group hover:underline -my-1">
				Max Georgopoulos
			</a>
			<a href="/resume-max-georgopoulos.pdf" download="resume-max-georgopoulos.pdf" class="hover:underline xl:order-2 -my-1">Resume</a>
		</div>
		<div class="flex flex-col lg:grid lg:grid-cols-12 gap-12">
			<img src="/me.jpeg" alt="my face" class="col-span-4 xl:col-span-3 aspect-square max-w-sm w-full h-full mx-auto" />
			<div class="col-span-8 xl:col-span-9 flex flex-col xl:flex-row gap-12">
				<p class="xl:basis-2/3 max-w-prose -my-1">I'm a designer and developer based out of Toronto. I believe that the boundary between design and engineering is artificial — you get the best results by blending the two. Lately, I've been inspired by Ryan Singer's design techniques, TailwindCSS, and The 2023 Spring Summer Collection from Homme Plissé.</p>
				<div class="xl:basis-1/3 flex flex-col">
					<a href="#" class="hover:underline py-1 border-t w-full">Arena</a>
					<a href="#" class="hover:underline py-1 border-t w-full">Github</a>
					<a href="#" class="hover:underline py-1 border-t w-full">Twitter</a>
					<a href="#" class="hover:underline py-1 border-t w-full">Dribbble</a>
					<button id="email" class="group flex gap-3 items-baseline py-1 border-y cursor-pointer w-full">
						<span class="group-hover:underline xl:order-last">max123358@gmail.com</span>
						<span id="copyConfirmation" class="hidden text-xs text-gray-500">
							Copied!
						</span>
					</button>
				</div>
			</div>
		</div>
	</main>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const email = document.querySelector('#email');

		if (email == null) return;

		email.addEventListener('click', function() {
			var textToCopy = email.innerText;
			navigator.clipboard.writeText(textToCopy)
				.then(function() {
					console.log('Text copied to clipboard: ' + textToCopy);
				})
				.catch(function(error) {
					console.error('Error copying text to clipboard: ', error);
				});

			// Show the hidden span tag
			var copyConfirmation = document.querySelector('#copyConfirmation');
			copyConfirmation.style.display = 'inline';

			// Hide the span tag after 3 seconds
			setTimeout(function() {
				copyConfirmation.style.display = 'none';
			}, 3000);
		});
	});
</script>