---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<Layout title="Max Georgopoulos">
  <main class="col-span-full flex flex-col gap-12 px-6 sm:px-12">
    <Header link={{ text: "Resume", href: "/resume-max-georgopoulos.pdf" }} />
    <div class="flex flex-col gap-12 lg:grid lg:grid-cols-12">
      <img
        src="/me.jpeg"
        alt="my face"
        class="col-start-9 col-end-13 mx-auto aspect-square w-full max-w-sm lg:order-2 lg:max-w-none"
      />
      <div
        class="col-span-8 flex flex-col justify-between gap-12 lg:order-first"
      >
        <p class="mx-auto -my-1 max-w-prose lg:mx-0 xl:basis-2/3">
          Yo! I'm a designer and developer based out of Toronto, but I bum
          around different places. I believe that the boundary between design
          and engineering is artificial — you get the best results by blending
          the two. Lately, I've been inspired by Ryan Singer's design
          techniques, TailwindCSS, and The 2023 Spring Summer Collection from
          Homme Plissé.
        </p>
      </div>
      <SocialLinks classes="col-start-9 col-end-13 lg:order-last" />
    </div>
  </main>
</Layout>
