---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Max Georgopoulos">
	<main class="col-span-full grid grid-cols-1 md:grid-cols-12 gap-12 pt-6 sm:pt-12 px-6 sm:px-12 ">
		<a href="/" id="logo" class="group col-span-full md:col-span-4 xl:col-span-3 flex items-center gap-x-1 -ml-2 md:-ml-[19px] -my-1 h-fit">
			<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.84182 3.13514C9.04327 3.32401 9.05348 3.64042 8.86462 3.84188L5.43521 7.49991L8.86462 11.1579C9.05348 11.3594 9.04327 11.6758 8.84182 11.8647C8.64036 12.0535 8.32394 12.0433 8.13508 11.8419L4.38508 7.84188C4.20477 7.64955 4.20477 7.35027 4.38508 7.15794L8.13508 3.15794C8.32394 2.95648 8.64036 2.94628 8.84182 3.13514Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
			<span class="group-hover:underline">Max Georgopoulos</span>
		</a>
		<div class="col-span-full md:col-span-8 xl:col-span-9 flex flex-col xl:flex-row xl:justify-between gap-12">
			<div class="max-w-prose gap-5 -my-1">
				<p>I believe that the boundary between design and engineering is artificial — you get the best results by blending the two. Lately, I've been inspired by Ryan Singer's design techniques, TailwindCSS, and The 2023 Spring Summer Collection from Homme Plissé.</p>
			</div>
			<div class="flex xl:flex-col gap-x-1.5 xl:text-right w-fit flex-wrap">
				<a href="#" class="hover:underline xl:order-6">Email<span class="xl:hidden">,</span></a> 
				<a href="#" class="hover:underline xl:order-5">Arena<span class="xl:hidden">,</span></a> 
				<a href="#" class="hover:underline xl:order-4">Github<span class="xl:hidden">,</span></a> 
				<a href="#" class="hover:underline xl:order-3">Twitter<span class="xl:hidden">,</span></a> 
				<a href="#" class="hover:underline xl:order-2">Resume<span class="xl:hidden">,</span></a> 
				<a href="#" class="hover:underline xl:order-1">Dribbble</a>
			</div>
		</div>
	</main>
</Layout>