---
import Layout from '../layouts/Layout.astro';
import Table from '../components/Table.astro';
import Row from '../components/Row.astro';
import WorkList from '../components/WorkList.astro';

---
<Layout title="Max Georgopoulos" maxWidth='max-w-8xl'>
	<div 
		class="flex s gap-y-4"
		style="font-family: 'untitled';"
	>
		<header class="flex flex-col items-center gap-4 justify-between p-4 h-screen">
			<div 
				style="font-family: 'Erode-VariableItalic';" 
				class="w-full text-center border-y-[0.5px] pb-2 border-white text-2xl font-medium tracking-tight "
			>
				mg.
			</div>
			<div class="flex flex-col items-center gap-4">
				<span class="text-center rounded-full w-full uppercase tracking-wider text-black py-4 px-4 text-xs bg-[#ffbda9]">Work</span>
				<span class="text-center rounded-full w-full uppercase tracking-wider py-4 px-4 text-black text-xs bg-[#9cccff]">Projects</span>
				<!-- <span class="text-5xl"> ☟</span> -->
				<span class="text-center rounded-full w-full uppercase tracking-wider py-4 px-4 text-black text-xs bg-[#fff693]">Writing</span>
				<!-- <span class="text-5xl"> ☞</span> -->
			</div>
			<!-- <div class="w-full border-b pb-2"> -->
			<div class="w-full">
				<hr class="w-full border-t-[0.5px] border-black border-white"/>
				<span class="text-justify">Twitter</span>
				<hr class="w-full border-t-[0.5px] border-black border-white"/>
				<span class="text-right">Github</span>
				<hr class="w-full border-t-[0.5px] border-black border-white"/>
				<span class="text-justify">Dribbble</span>
				<hr class="w-full border-t-[0.5px] border-black border-white"/>
				<span class="text-right">Email</span>
				<hr class="w-full border-t-[0.5px] border-black border-white"/>
			</div>
		</header>
		<div class="flex flex-col gap-y-6 w-full p-4 pt-2 pl-0">
			<!-- <h1 
				class="ml-1 text-justify text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl  uppercase " 
				style="font-family: 'Gambarino-Regular'; text-justify: inter-character;"
			>
				Max Georgopoulos Product designer & developer. Be design and engineering is artificial
			</h1> -->
			 <h1 
				class="text-justify text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl  uppercase font-bold" 
				style="font-family: 'untitled-light';"
			>
				Max Georgopoulos Product designer & developer. Be design and engineering is artificial
			</h1>
			<!-- <div class="flex flex-col items-center w-full">
				<hr class="w-full border-t-[0.5px] border-black border-white"/>
				<span>Feb 24, 2023</span>
				<hr class="w-full border-t-[0.5px] border-black border-white"/>
			</div>
			<div class="max-w-prose mx-auto">
				<p class="text-justify">Product designer & developer</p>
				<p class="text-justify">I'm a product designer and developer based in Athens, Greece. I'm currently working at <a href="https://www.figma.com/" class="text-[#ff6f61]">Figma</a> as a product designer. I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p class="text-justify">I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p class="text-justify">I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p class="text-justify">I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p class="text-justify">I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p class="text-justify">I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p class="text-justify">I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p class="text-justify">I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
			</div> -->
			<div class="columns-2 md:columns-3 lg:columns-4 gap-4">
				<div class="">
					<div class="aspect-square bg-neutral-300"></div>
					<div class="flex items-center justify-between">
						<h3>Formie</h3>
						<div class="h-[10px] w-[10px] rounded-full bg-[#ffbda9]"></div>
					</div>
					<p>Formie is a form builder for Figma. It's a plugin that lets you create forms in Figma, and then export them as HTML, CSS, and JavaScript.</p>
				</div>
				<div class=" h-fit">
					<div class="aspect-video bg-neutral-300"></div>
					<h3>Formie</h3>
					<p>Formie is a form builder for Figma. It's a plugin that lets you create forms in Figma, and then export them as HTML, CSS, and JavaScript.</p>
				</div>
				<div class="">
					<div class="aspect-square bg-neutral-300"></div>
					<h3>Formie</h3>
					<p>Formie is a form builder for Figma. It's a plugin that lets you create forms in Figma, and then export them as HTML, CSS, and JavaScript.</p>
				</div>
				<div class=" rounded-lg">
					<div class="aspect-square bg-neutral-300"></div>
					<h3>Formie</h3>
					<p>Formie is a form builder for Figma. It's a plugin that lets you create forms in Figma, and then export them as HTML, CSS, and JavaScript.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="flex flex-col gap-y-12 lg:col-span-5 xl:col-span-4">
		<div class="border-t-[0.5px] border-[#3d352b] pt-2 lg:border-0 lg:p-0">
			<h1 class="uppercase leading-6 tracking-wider text-base">Max Georgopoulos</h1>	
			<p class="italic mb-4">Software designer & developer</p>
			<p class="text-justify">Product designer & developer. Doing Rails stuff at Wavy. I believe that the boundary between design and engineering is artificial — you get the best results by blending the two. Lately, I've been inspired by Ryan Singer's design techniques, TailwindCSS, and The 2023 Spring Summer Collection from Homme Plissé.</p>
		</div>
		<WorkList classes='lg:hidden' />
		<Table>
			<Row isTitle={true}>Projects</Row>
			<Row>
				<td ><a>Scope Todo</a></td>
				<td >Good ol' todo widget for Figma</td>
			</Row>
			<Row>
				<td ><a>Sayings, Forgotten</a></td>
				<td >Collection of misremembered sayings</td>
			</Row>
			<Row>
				<td ><a>The Quest Board</a></td>
				<td >Job board for the Loot community</td>
			</Row>
			<Row>
				<td><a>Dissect Design</a></td>
				<td>Collection of design case studies</td>
			</Row>
		</Table>
		<Table>
			<Row isTitle={true}>Writing</Row>
			<Row>
				<td><a>In defence of bad writing</a></td>
				<td class='text-right'>2022</td>
			</Row>
			<Row>
				<td><a>Yes, you can learn to code</a></td>
				<td class='text-right'>2021</td>
			</Row>
		</Table>
	</div>
	<WorkList classes='lg:col-span-7 xl:col-span-8 hidden lg:flex'/>
-->
</Layout> 

<style>
	h1 {
		font-family: 'Ranade_Light';
	}
</style>
