---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Max Georgopoulos">
	<main class="pb-48" >
		<header class="p-6 py-12 ">
			<div class="flex justify-between gap-x-6">
				<ul class="">
					<li class="leading-[16px] text-[10px] font-ibm text-neutral-400 uppercase tracking-wider ">Work</li>
					<li class="leading-[16px] text-[10px] font-ibm text-neutral-400 uppercase tracking-wider ">Writing</li>
					<li class="leading-[16px] text-[10px] font-ibm text-neutral-400 uppercase tracking-wider ">Random</li>
				</ul>
				<div class="text-right">
					<h1 class="leading-[28px] md:leading-[36px] mb-4 text-4xl md:text-5xl italic tracking-tight">
						Max Georgopoulos
					</h1>
					<div class="flex gap-x-0.5 justify-end items-baseline flex-wrap leading-[16px] text-[10px] font-ibm text-neutral-400 uppercase tracking-wider ">
						<span>Frontend-developer +</span> 
						<span>product designer +</span> 
						<a href="#" class="text-neutral-300 underline  underline-offset-4 font-bold tracking-[2px] w-[13px] overflow-clip">...</a>
					</div>
					
				</div>
			</div>
			<!-- <div class="mt-4">
				<ul>
					<li>I'm a guy who liks to code. I'm interested in a lotof stuff. Chat GPT made this whole site</li>
					<li>I'm a guy who liks to code. I'm interested in a lotof stuff. Chat GPT made this whole site</li>
					<li>I'm a guy who liks to code. I'm interested in a lotof stuff. Chat GPT made this whole site</li>
				</ul>
				<p class="text-small font-ibm">I'm a guy who liks to code. I'm interested in a lotof stuff. Chat GPT made this whole site</p>
			</div> -->
		</header>
		<div class="mx-6 pt-4 mb-6 border-t-[0.5px] border-neutral-700">
			<h2 class="text-4xl">Work</h2>
		</div>
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
			<Card
				href="/studies/memiori"
				companyName="Client project"
				title="Memiori"
				description="Redesigned note taking app"
				roles={["branding", "Mobile design"]}
			/>
			<!-- <Card
				companyName="Wavy"
				title="Polls"
				description="I built and co-designed Polls"
				role="UI/UX design, Ruby on Rails"
			/> -->
			<Card
				companyName="Wavy"
				title="Polls"
				description="Built and co-designed Wavy's Polls feature"
				roles={["UI/UX design", "Full-stack development"]}
			/>
			<Card
				companyName="Personal Project"
				title="Formie"
				description="Designed & co-built a smart contract UI generator"
				roles={["branding", "UI/UX design", "Frontend development"]}
			/>
		</div>
		<div class="mx-6 pt-4 mt-12 mb-6 border-t-[0.5px] border-neutral-700">
			<h2 class="text-4xl">Writing</h2>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-2 ">
			<div class="flex flex-col gap-y-4 lg:col-start-2 mx-6">
				<a href="#" class="flex items-baseline gap-x-3 group underline-none transition">
					<p class="text-lg group-hover:underline">Yes, you can learn to code</p> 
					<span class="uppercase tracking-wider text-xs text-neutral-400">Feb 2022</span>
				</a>
				<a href="#" class="flex items-baseline gap-x-3 group underline-none transition">
					<p class="text-lg group-hover:underline">Yes, you can learn to code</p> 
					<span class="uppercase tracking-wider text-xs text-neutral-400">Feb 2022</span>
				</a>
			</div>
		</div>
		<!-- <p>I also co-designed and built Custom Content.</p>
		Hey, Max here. I design and code. I've done Full-Stack Development at Wavy. Big cooker and fan of economics. I'm trying to figure out how to create the perfect environment to learn coding.
		At Wavy, I built and co-designed Polls.
		I also co-designed and built Custom Content.
		I made a thing called <a href="formie.co">Formie</a>, a no code UI maker for smart contracts -->
		<!-- <div class="flex flex-col gap-y-12">
			<p>I've made a few other things too</p>
			<ul class="flex flex-col gap-y-6">
				<li><a href="#">Scope Todo</a>, a todo widget for Figjam</li>
				<li><a href="#">The Quest Board</a>, a bounty board for the Loot community</li>
				<li><a href="#">Dissect Design</a>, a collection of design case studies</li>
			</ul>
		</div>
		<div class="flex flex-col gap-y-12">
			<p>and I write a little bit</p>
			<ul class="flex flex-col gap-y-6">
				<li><a href="#">In defence of bad writing</a></li>
				<li><a href="#">Yes, you can learn to code</a></li>
			</ul>
		</div> -->
	</main>
</Layout>
