---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/work/Card.astro";
import Link from "../components/Link.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<Layout title="Max Georgopoulos">
  <div class="relative mx-auto max-w-[1900px] grid grid-cols-4 gap-6 px-4 sm:px-6">
    <Header />
    <Card
      title="Formie"
      link={{ href: "/work/formie" }}
      image="/work/formie/cover.png"
      description="Universal UI for smart contracts"
      roles={['Product', 'Brand', 'Dev']}
      year={2022}
      featured={true}
    />
    <Card
      title="Memiori"
      link={{ href: "#" }}
      image="/work/memiori/cover-2.png"
      description="Refresh of mood journaling app"
      roles={['Product', 'Brand']}
      year={2023}
      featured={true}
    />
    <h2
      class="col-span-full border-t border-[#DADADA] dark:border-neutral-700 -mb-1"
    >
      Work
    </h2>
    <Card
      title='KG Handcrafted'
      link={{ href: "/work/wavy", target: "_blank" }}
      description='Brand + site for knifemaker'
      image="/work/kg.png"
    />
    <Card
      title="Scope Todo"
      link={{ href: "/work/wavy", target: "_blank" }}
      image="/work/scope-todo.png"
      description="Todo widget for Figma"
    />
    <Card
      title="Dissect Design"
      link={{ href: "/work/wavy", target: "_blank" }}
      image="/work/dissect-design.png"
      description="Collection of design decisions"
    />
    <Card
      title="The Quest Board"
      link={{ href: "/work/wavy", target: "_blank" }}
      image="/work/the-quest-board.gif"
      description="Job board for Loot community"
    />
    <Card
      title="Sayings, Forgotten"
      link={{ href: "/work/wavy", target: "_blank" }}
      image="/work/sayings-forgotten.gif"
      description="Misremembered sayings"
    />
    <Card
      title='Wavy'
      link={{ href: "/work/wavy" }}
      description='Features I built while working at Wavy'
      image="/work/memiori/preview"
    />
    <h2 class="col-span-full border-t border-[#DADADA] dark:border-neutral-700 -mb-1">
      Writing
    </h2>
    <Link
      type="writing"
      title="Write it"
      href="/writing/write"
      description="Jul 2023"
    />
    <Link
      type="writing"
      title="In defence of bad writing"
      href="/writing/bad"
      description="Mar 2022"
    />
    <Link
      type="writing"
      title="Yes, you can learn to code"
      href="/writing/yes"
      description="Feb 2021"
    />
    </div>
  </div>
</Layout>
