---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout 
	title="Max Georgopoulos" 
	maxWidth="max-w-5xl"
>
	<main class="flex flex-col gap-y-24" >
		<header class="px-6 pt-12">
				<h1 class="mb-2 leading-6 text-4xl italic tracking-tight">
					Max Georgopoulos
				</h1>
				<div class="flex gap-x-1.5 items-baseline font-ibm text-[#918C88] mb-6">
					<span>Frontend-developer</span> 
					<span class="font-crimson italic text-lg h-3">&</span> 
					<span>product designer</span> 
				</div>
				<p class="text-[#918C88] max-w-2xl">Product designer & developer. Doing Rails stuff at Wavy. I believe that the boundary between design and engineering is artificial — you get the best results by blending the two. Lately, I've been inspired by Ryan Singer's design techniques, TailwindCSS, and The 2023 Spring Summer Collection from Homme Plissé .</p>
		</header>
		<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 overflow-x-scroll overflow-y-hidden -my-6">
			<Card
				href="/studies/memiori"
				companyName="Client project"
				title="Memiori"
				description="Redesigned note taking app"
				roles={["branding", "Mobile design"]}
			/>
			<Card
				companyName="Wavy"
				title="Polls"
				description="Built and co-designed Wavy's Polls feature"
				roles={["UI/UX design", "Full-stack development"]}
			/>
			<Card
				companyName="Personal Project"
				title="Formie"
				description="Designed & co-built a smart contract UI generator"
				roles={["branding", "UI/UX design", "Frontend development"]}
			/>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-7 mx-6 gap-y-6">
			<h2 class="text-2xl leading-5 col-span-3">Projects</h2>
			<div class="flex col-span-4 ">
				<table>
					<tr>
						<td>Scope Todo</td>
						<td class="text-[#918C88]">Figma todow widget</td>
					</tr>
					<tr>
						<td>Dissect Design</td>
						<td class="text-[#918C88]">Place to find and share product design case studies</td>
					</tr>
					<tr>
						<td>Sayings, forgotten</td>
						<td class="text-[#918C88]">Collection of saying who's meanings changed overtime</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-7 mx-6 gap-y-6">
			<h2 class="text-2xl leading-5 col-span-3">Writing</h2>
			<div class="flex flex-col gap-y-2 col-span-4">
				<a href="/writing/yes" class="flex flex-col gap-y-1 sm:flex-row items-baseline flex-wrap gap-x-3 group underline-none transition">
					<p class=" group-hover:underline">Yes, you can learn to code</p> 
					<span class="uppercase tracking-wider text-[10px] text-[#918C88]">Feb 2022</span>
				</a>
			</div>
		</div>
	</main>
</Layout>

<style>
	tr > td {
		padding-bottom: 8px;
	}
</style>
