---
import Layout from '../layouts/Layout.astro';
import CaseStudyCard from '../components/CaseStudyCard.astro';
import DropLetter from '../components/DropLetter.astro';
import Flower from '../components/Flower.astro';
---

<Layout title="Max Georgopoulos" maxWidth="max-w-8xl">
	<header class="flex items-center justify-between sticky top-0 mx-6 md:mx-9 py-3 md:py-4 gap-6 md:gap-9">
		<p class="whitespace-nowrap">Designer & Developer</p>
    <p class="whitespace-nowrap">Max Georgopoulos</p>
  </header>
	<main class=" flex flex-col gap-y-[72px] mix-blend-difference m-6 md:m-9 " >
		<section class="text-3xl leading-[40px] md:text-4xl md:leading-[48px] ">
			<DropLetter letter="M" classes="float-left text-[#333] text-[112px] font-floral md:text-[139px] pt-[31px] md:pt-[38px]  pr-[10px]  -ml-0.5 md:-ml-1 " />
			<p>ax here. I code & design software. Doing Rails stuff at <i>Wavy</i>. I believe that the boundary between design and engineering is artificial — you get the best results by blending the two. Lately, I've been inspired by Ryan Singer's design techniques, TailwindCSS, and The 2023 Spring Summer Collection from Homme Plissé.</p>
		</section>
		<div class="flex flex-col gap-6 md:gap-9">
			<CaseStudyCard
				title="Memiori"
				href="/studies/memiori"
				type="Freelance"
				description="Redesigned note taking app"
				roles={["branding", "Mobile design"]}
				image="/studies/memiori/preview.png"

				roles={["UI/UX design", "Full-stack development"]}
				tools={["Figma", "NextJS"]}
			/>
			<CaseStudyCard
				title="Polls"
				href="/studies/polls"
				type="Feature"
				company="Wavy"
				description="Built and co-designed Wavy's Polls feature"
				roles={["UI/UX design", "Full-stack development"]}
				collaborators={
					[{
						name: "Dan Stein",
						role: "Design",
						link: "https://twitter.com/hassantsyed",
					}]
				}
				tools={["Ruby on Rails", "Hotwire", "TailwindCSS"]}
			/>
			<CaseStudyCard
				title="Formie"
				company="Wavy"
				href="/studies/formie"
				type="Personal Project"
				description="Designed & co-built a smart contract UI generator"
				roles={["Branding", "UI/UX design", "Frontend development"]}
				collaborators={
					[{
							name: "Hassan Syed",
							role: "Frontend Development",
							link: "https://twitter.com/hassantsyed",
						},
						// { name: "Max Syed", role: "Frontend", link: "https://twitter.com/hassantsyed" },
					]
				}
				tools={["NextJS", "Firebase", "TailwindCSS"]}
				tldr="Transforming smart contract interaction with focused, friendly forms."
			/>
		</div>
		<!-- <hr class="h-px border-t-neutral-700"/> -->
		<div class="grid grid-cols-1 md:grid-cols-7 gap-y-6 border-t-[0.5px] border-black -mt-[0.5px] pt-4">
			<h2 class="text-2xl leading-5 col-span-3">Projects</h2>
			<div class="flex col-span-4 ">
				<table>
					<tr>
						<td>Scope Todo</td>
						<td class="">Figma todow widget</td>
					</tr>
					<tr>
						<td>Dissect Design</td>
						<td class="">Place to find and share product design case studies</td>
					</tr>
					<tr>
						<td>Sayings, forgotten</td>
						<td class="">Collection of saying who's meanings changed overtime</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-7 gap-y-6 border-t-[0.5px] border-black pt-4 -mt-[0.5px]">
			<h2 class=" col-span-3 text-2xl leading-5 ">Writing</h2>
			<div class="flex flex-col gap-y-2 col-span-4">
				<a href="/writing/yes" class="flex flex-col sm:flex-row items-baseline flex-wrap gap-x-3 group underline-none ">
					<p class=" group-hover:underline">Yes, you can learn to code</p> 
					<span class="uppercase font-sans tracking-wide text-[10px] ">Feb 2022</span>
				</a>
			</div>
		</div>
	</main>
</Layout>
