---
import Layout from '../layouts/Layout.astro';
import Table from '../components/Table.astro';
import Row from '../components/Row.astro';
import WorkList from '../components/WorkList.astro';

---
<Layout title="Max Georgopoulos" maxWidth='max-w-8xl'>
	<div class="flex flex-col gap-y-12 lg:col-span-4">
		<div class="border-t-[0.5px] border-[#403c38] pt-2 lg:border-0 lg:p-0">
			<h1 class="uppercase leading-6 tracking-wider text-base">Max Georgopoulos</h1>	
			<p class="italic mb-4">Software designer & developer</p>
			<p class="text-justify">Product designer & developer. Doing Rails stuff at Wavy. I believe that the boundary between design and engineering is artificial — you get the best results by blending the two. Lately, I've been inspired by Ryan Singer's design techniques, TailwindCSS, and The 2023 Spring Summer Collection from Homme Plissé.</p>
		</div>
		<WorkList classes='lg:hidden' />
		<Table>
			<Row isTitle={true}>Projects</Row>
			<Row>
				<td ><a>Scope Todo</a></td>
				<td >Good ol' todo widget for Figma</td>
			</Row>
			<Row>
				<td ><a>Sayings, Forgotten</a></td>
				<td >Collection of misremembered sayings</td>
			</Row>
			<Row>
				<td ><a>The Quest Board</a></td>
				<td >Job board for the Loot community</td>
			</Row>
			<Row>
				<td><a>Dissect Design</a></td>
				<td>Collection of design case studies</td>
			</Row>
		</Table>
		<Table>
			<Row isTitle={true}>Writing</Row>
			<Row>
				<td><a>In defence of bad writing</a></td>
				<td class='text-right'>2022</td>
			</Row>
			<Row>
				<td><a>Yes, you can learn to code</a></td>
				<td class='text-right'>2021</td>
			</Row>
		</Table>
	</div>
	<WorkList classes='lg:col-span-8 hidden lg:flex'/>
</Layout>
