---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CategoryTabList from '../components/CategoryTabList.astro';
import CategoryTab from '../components/CategoryTab.astro';
import WorkBlock from '../components/WorkBlock.astro';
---
<Layout title="Max Georgopoulos">
	<div class="relative">
		<section class="lg:fixed lg:w-[calc(100vw/4)] flex flex-col lg:border-r-[0.5px] border-[#39393b] lg:h-screen">
			<section class="basis-5/6 lg:basis-auto p-5 pt-2 flex-grow overflow-y-scroll">
				<div class="flex items-center gap-x-5">
					<hr class="h-[0.5px] border-t-[0.5px] border-[#39393b] w-full"/>
					<h1 class="uppercase text-lg tracking-[0.02em] text-center">MG</h1>
					<hr class="h-[0.5px] border-t-[0.5px] border-[#39393b] w-full"/>
				</div>
				<p class="italic mt-1 mb-5 text-sm font-bodoni text-center">Software desiger <span class="text-[13px]">&</span> developer</p>
				<p class="lg:indent-5">I'm a product designer & developer based out of Toronto.</p>
				<p class="lg:indent-5">I believe that the boundary between design and engineering is artificial — you get the best results by blending the two. Lately, I've been inspired by Ryan Singer's design techniques, TailwindCSS, and The 2023 Spring Summer Collection from Homme Plissé.</p>
				<div class="flex justify-center lg:hidden text-center text-sm gap-x-5 gap-y-1 flex-wrap w-full mt-5">
					<a href="#" class="underline">Email</a>
					<a href="#" class="underline">Are.na</a>
					<a href="#" class="underline">Github</a>
					<a href="#" class="underline">Twitter</a>
					<a href="#" class="underline">Dribbble</a>
				</div>
			</section>
			<section class="hidden lg:flex flex-col 1.5xl:flex-row  text-sm p-5 border-t-[0.5px] border-[#39393b]">
			<a href="#" class="w-full underline">Email</a>
				<a href="#" class="w-full underline">Are.na</a>
				<a href="#" class="w-full underline">Github</a>
				<a href="#" class="w-full underline">Twitter</a>
				<a href="#" class="w-full underline">Dribbble</a>
			</section>
		</section>
		<main class="relative lg:ml-[calc(100vw/4)]">
			<nav class="sticky top-0 flex w-full text-xs uppercase tracking-wider border-t-[0.5px] lg:border-t-0 border-[#39393b]">
				<div class="flex items-center justify-center bg-[#d1d1d4] w-full border-r-[0.5px] border-[#39393b] h-10 border-box">
					<p>Work</p>
				</div>
				<div class="flex items-center justify-center bg-[#d1d1d4] w-full border-b-[0.5px] border-r-[0.5px] border-[#39393b] h-10 border-box">
					<p>Projects</p>
				</div>
				<div class="flex items-center justify-center bg-[#d1d1d4] w-full border-b-[0.5px] border-[#39393b] h-10 border-box">
					<p>Writing</p>
				</div>
			</nav>
			<section>
				<WorkBlock
					title='Memiori'
					href='/work/memiori'
					description="Redesign & brand refresh for mood tracking app"
					roles={['Branding', 'Mobile Design']}
					year={2023}
					tools={['Figma', 'TailwindCSS']}
				/>
				<WorkBlock
					title='Polls'
					href='/work/polls'
					description="Built & co-designed feature at Wavy to let people vote for their next team event"
					roles={['Full-Stack Development', 'UX/UI Design']}
					company='Wavy'
					collaborators={[{ name: 'Dan Stein', role: 'design', href: '#' }]}
					year={2023}
					tools={['Ruby on Rails', 'Hotwire', 'TailwindCSS']}
				/>
				<WorkBlock
					title='Formie'
					href='/work/formie'
					description="Designed & co-built a form builder for smart contracts"
					roles={['Frontend Development', 'UX/UI Design', 'Branding']}
					collaborators={[{ name: 'Hassan Seyed', role: 'developement', href: '#' }]}
					year={2022}
					tools={['Next.js', 'TailwindCSS', 'Web3']}
				/>
			</section>
		</main>
	</div>
</Layout>