---
import Layout from '../layouts/Layout.astro';
import Table from '../components/Table.astro';
import Row from '../components/Row.astro';
import WorkList from '../components/WorkList.astro';

---
<Layout title="Max Georgopoulos" maxWidth='max-w-8xl'>
	<div 
		class="flex s gap-y-3"
		style="font-family: 'untitled';"
	>
		<header class="flex flex-col gap-3 justify-between  bg-white pt-3 px-3">
			<div 
				style="font-family: 'Erode-VariableItalic';" 
				class="px-3 text-2xl font-medium tracking-tight "
			>
				mg.
			</div>
			<div class="flex flex-col gap-3">
				<span class="text-center rounded-full w-full uppercase tracking-wider py-3 px-4 text-xs bg-[#E4E4E4]">Work</span>
				<span class="text-center rounded-full w-full uppercase tracking-wider py-3 px-4 text-xs bg-[#ffbda9]">Projects</span>
				<span class="text-center rounded-full w-full uppercase tracking-wider py-3 px-4 text-xs bg-[#9cccff]">Writing</span>
				<span class="text-center rounded-full w-full uppercase tracking-wider py-3 px-4 text-xs bg-[#fff693]">Links</span>
			</div>
			<div class="flex flex-col">
				<hr class="border-t-[0.5px] border-black"/>
				<span>Twitter</span>
				<hr class="border-t-[0.5px] border-black"/>
				<span>Github</span>
				<hr class="border-t-[0.5px] border-black"/>
				<span>Dribbble</span>
				<hr class="border-t-[0.5px] border-black"/>
				<span>Email</span>
				<hr class="border-t-[0.5px] border-black"/>
			</div>
		</header>
		<div class="flex flex-col gap-y-6">

			<h1 
				class=" border-neutral-700 font-ranade text-justify text-[5vw] leading-[5vw]  uppercase " 
				style="font-family: 'Gambarino-Regular';"
			>
				Max Georgopoulos Product designer & developer. Be design and engineering is artificial
			</h1>
			<div class="columns-2 md:columns-3 lg:columns-4 gap-3">
				<div class="bg-[#E4E4E4] p-3">
					<div class="h-80 w-80 bg-neutral-300"></div>
					<h3>Formie</h3>
					<p>Formie is a form builder for Figma. It's a plugin that lets you create forms in Figma, and then export them as HTML, CSS, and JavaScript.</p>
				</div>
				<div class="bg-[#E4E4E4] p-3 h-fit">
					<div class="h-60 w-80 bg-neutral-300"></div>
					<h3>Formie</h3>
					<p>Formie is a form builder for Figma. It's a plugin that lets you create forms in Figma, and then export them as HTML, CSS, and JavaScript.</p>
				</div>
				<div class="bg-[#E4E4E4] p-3">
					<div class="h-80 w-80 bg-neutral-300"></div>
					<h3>Formie</h3>
					<p>Formie is a form builder for Figma. It's a plugin that lets you create forms in Figma, and then export them as HTML, CSS, and JavaScript.</p>
				</div>
				<div class="bg-[#E4E4E4] p-3 rounded-lg">
					<div class="h-80 w-80 bg-neutral-300"></div>
					<h3>Formie</h3>
					<p>Formie is a form builder for Figma. It's a plugin that lets you create forms in Figma, and then export them as HTML, CSS, and JavaScript.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="flex flex-col gap-y-12 lg:col-span-5 xl:col-span-4">
		<div class="border-t-[0.5px] border-[#3d352b] pt-2 lg:border-0 lg:p-0">
			<h1 class="uppercase leading-6 tracking-wider text-base">Max Georgopoulos</h1>	
			<p class="italic mb-4">Software designer & developer</p>
			<p class="text-justify">Product designer & developer. Doing Rails stuff at Wavy. I believe that the boundary between design and engineering is artificial — you get the best results by blending the two. Lately, I've been inspired by Ryan Singer's design techniques, TailwindCSS, and The 2023 Spring Summer Collection from Homme Plissé.</p>
		</div>
		<WorkList classes='lg:hidden' />
		<Table>
			<Row isTitle={true}>Projects</Row>
			<Row>
				<td ><a>Scope Todo</a></td>
				<td >Good ol' todo widget for Figma</td>
			</Row>
			<Row>
				<td ><a>Sayings, Forgotten</a></td>
				<td >Collection of misremembered sayings</td>
			</Row>
			<Row>
				<td ><a>The Quest Board</a></td>
				<td >Job board for the Loot community</td>
			</Row>
			<Row>
				<td><a>Dissect Design</a></td>
				<td>Collection of design case studies</td>
			</Row>
		</Table>
		<Table>
			<Row isTitle={true}>Writing</Row>
			<Row>
				<td><a>In defence of bad writing</a></td>
				<td class='text-right'>2022</td>
			</Row>
			<Row>
				<td><a>Yes, you can learn to code</a></td>
				<td class='text-right'>2021</td>
			</Row>
		</Table>
	</div>
	<WorkList classes='lg:col-span-7 xl:col-span-8 hidden lg:flex'/> -->
</Layout>

<style>
	h1 {
		font-family: 'Ranade_Light';
	}
</style>
