---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CategoryTabList from '../components/CategoryTabList.astro';
import CategoryTab from '../components/CategoryTab.astro';
import WorkBlock from '../components/WorkBlock.astro';
import LinkBlock from '../components/LinkBlock.astro';
---
<Layout title="Max Georgopoulos">
	<div class="relative">
		<aside class="lg:fixed lg:w-[calc(100vw/4)] flex flex-col lg:border-r-[0.5px] border-gray-darkest lg:h-screen">
			<section class="basis-5/6 lg:basis-auto p-5 pt-[7px] lg:pt-2 flex-grow overflow-y-scroll">
				<div class="flex items-center gap-x-5 -pb-px lg:pb-0">
					<hr class="h-[0.5px] border-t-[0.5px] border-gray-darkest w-full"/>
					<h1 id="logo" class="uppercase text-[17px] lg:text-lg tracking-[0.02em] text-center">MG</h1>
					<hr class="h-[0.5px] border-t-[0.5px] border-gray-darkest w-full"/>
				</div>
				<p class="italic mt-1 mb-5 text-sm font-bodoni text-center">Software desiger <span class="text-[12px]">&</span> developer</p>
				<p class="lg:indent-5">I'm a product designer & developer based out of Toronto.</p>
				<p class="lg:indent-5">I believe that the boundary between design and engineering is artificial — you get the best results by blending the two. Lately, I've been inspired by Ryan Singer's design techniques, TailwindCSS, and The 2023 Spring Summer Collection from Homme Plissé.</p>
				<div class="flex justify-center lg:hidden text-center gap-x-5 gap-y-1 text-sm leading-4 flex-wrap w-full mt-5">
					<a href="#" class="hover:underline">Email</a>
					<a href="#" class="hover:underline">Are.na</a>
					<a href="#" class="hover:underline">Github</a>
					<a href="#" class="hover:underline">Twitter</a>
					<a href="#" class="hover:underline">Dribbble</a>
				</div>
			</section>
			<section class="hidden lg:block p-5 border-t-[0.5px] border-gray-darkest">
				<div class="flex flex-col 1.5xl:flex-row 1.5xl:justify-around gap-x-5 1.5xl:text-center text-sm">
					<a href="#" class="w-full hover:underline 1.5xl:order-1">Email</a>
					<a href="#" class="w-full hover:underline 1.5xl:order-5">Are.na</a>
					<a href="#" class="w-full hover:underline 1.5xl:order-2">Github</a>
					<a href="#" class="w-full hover:underline 1.5xl:order-4">Twitter</a>
					<a href="#" class="w-full hover:underline 1.5xl:order-3">Dribbble</a>
				</div>
			</section>
		</aside>
		<div class="relative lg:ml-[calc(100vw/4)]">
			<nav class="sticky top-0 flex w-full text-xs uppercase tracking-wider border-t-[0.5px] border-gray-darkest lg:border-t-0 ">
				<!-- <div class="flex items-center justify-center bg-gray text-gray-light w-full border-r-[0.5px] border-gray-darkest h-10 border-box"> -->
				<div class="flex items-center justify-center bg-gray w-full border-r-[0.5px] border-gray-darkest h-10 border-box">
					<p>Work</p>
				</div>
				<!-- <div class="flex items-center justify-center bg-gray hover:bg-gray-dark text-gray-light w-full border-b-[0.5px] border-r-[0.5px] border-gray-darkest h-10 border-box"> -->
				<div class="flex items-center justify-center bg-gray hover:bg-gray-dark w-full border-b-[0.5px] border-r-[0.5px] border-gray-darkest h-10 border-box">
					<p>Projects</p>
				</div>
				<!-- <div class="flex items-center justify-center bg-gray hover:bg-gray-dark w-full border-b-[0.5px] border-gray-darkest h-10 border-box"> -->
				<div class="flex items-center justify-center bg-gray hover:bg-gray-dark w-full border-b-[0.5px] border-gray-darkest h-10 border-box">
					<p>Writing</p>
				</div>
			</nav>
			<main>
				<WorkBlock
					title='Memiori'
					href='/work/memiori'
					description="Redesign & brand refresh for mood tracking app"
					roles={['Branding', 'Mobile Design']}
					year={2023}
					tools={['Figma', 'TailwindCSS']}
				/>
				<WorkBlock
					title='Polls'
					href='/work/polls'
					description="Built & co-designed feature at Wavy to let people vote for their next team event"
					roles={['Full-Stack Development', 'UX/UI Design']}
					company='Wavy'
					collaborators={[{ name: 'Dan Stein', role: 'design', href: '#' }]}
					year={2023}
					tools={['Ruby on Rails', 'Hotwire', 'TailwindCSS']}
				/>
				<WorkBlock
					title='Formie'
					href='/work/formie'
					description="Designed & co-built a form builder for smart contracts"
					roles={['Frontend Development', 'UX/UI Design', 'Branding']}
					collaborators={[{ name: 'Hassan Seyed', role: 'developement', href: '#' }]}
					year={2022}
					tools={['Next.js', 'TailwindCSS', 'Web3']}
				/>
				<!-- <hr class="h-px border-t-1 border-gray-darkest w-full"/> -->
				<section class="border-b-[0.5px] border-gray-darkest">

					<div class="p-5">
						<!-- <h2 class="text-2xl lg:text-3xl 2xl:text-4xl tracking-[-0.03em]"> -->
						<h2 class="text-xl lg:text-2xl 2xl:text-3xl tracking-[-0.03em] -mb-1">
							Projects
						</h2>
					</div>
					<div>
						<LinkBlock 
							type='project'
							title='Scope Todo'
							href='#'
							description="A good ol' todo widget for FigJam (inspired by Ryan Singer's design techniques)"
							externalLink={true}
						/>
						<LinkBlock 
							type='project'
							title='The Quest Board'
							href='#'
							description="Job board for the Loot community"
							externalLink={true}
						/>
						<LinkBlock 
							type='project'
							title='Sayings, forgotten'
							href='#'
							description="Collection of sayings with forgotten meanings"
							externalLink={true}
						/>
						<LinkBlock 
							type='project'
							title='Dissect Design'
							href='#'
							description="Collection of design decisions (mostly from 37Signals)"
							externalLink={true}
						/>
					</div>
				</section>
				<!-- <hr class="h-[0.5px] border-t-[0.5px] border-gray-darkest w-full"/> -->
				<section>
					<div class="p-5">
						<h2 class="text-xl lg:text-2xl 2xl:text-3xl tracking-[-0.03em] -mb-1">
							Writing
						</h2>
					</div>
					<div>
						<LinkBlock 
							type='writing'
							title='In defence of bad writing'
							href='#'
							description="Mar 2022"
						/>
						<LinkBlock 
							type='writing'
							title='Yes, you can learn to code'
							href='#'
							description="Feb 2021"
						/>
					</div>
				</section>
			</main>
		</div>
	</div>
</Layout>