---
import Layout from "../layouts/Layout.astro";
import Work from "../components/Work.astro";
import { getCollection } from 'astro:content';
import Links from "../details/Links.astro";
import Skills from "../details/Skills.astro";
import Interests from "../details/Interests.astro";
import Influences from "../details/Influences.astro";
import Writings from "../details/Writings.astro";

const works = await getCollection('work', ({ data: { isDraft } }) => !isDraft);
---
<Layout offset="pt-[114px] xs:pt-[94px]">
  <nav class=" flex flex-col xs:grid grid-cols-12 col-span-full  gap-2 gap-x-4 uppercase  flex-wrap fixed left-2 right-2 top-[50px] mb-[62px] z-10">
    <div class=" grid grid-cols-3 xs:flex gap-x-4 xs:gap-x-2 col-span-6 md:col-span-4 xl:col-span-3 -my-0.5">
      <a class="whitespace-nowrap h-min xs:py-2 xs:-my-2 ">Product <sup>4</sup></a>
      <a class="whitespace-nowrap h-min xs:py-2 xs:-my-2">Brand <sup>4</sup></a>
      <a class="whitespace-nowrap h-min xs:py-2 xs:-my-2">Code <sup>4</sup></a>
    </div>
    <div class="grid grid-cols-3 xs:flex order-last xl:order-none gap-x-4 xs:gap-x-2 col-span-6 md:col-span-4 xl:col-span-3 -my-0.5">
      <a class="whitespace-nowrap h-min xs:py-2 xs:-my-2">Project <sup>4</sup></a>
      <a class="whitespace-nowrap h-min xs:py-2 xs:-my-2">Client <sup>4</sup></a>
      <a class="whitespace-nowrap md:hidden h-min xs:py-2 xs:-my-2">Case Study <sup>4</sup></a>
    </div>
    <div class=" hidden md:flex gap-x-2 col-span-3 md:col-span-4 xl:col-span-3 ">
      <a class="col-span-1 h-min xs:py-2 xs:-my-2">Case Study <sup>4</sup></a>
    </div>
  </nav>
  <div class="grid grid-cols-12 col-span-full gap-y-8 gap-x-4">
    {works?.sort((a, b) => (a.data.order - b.data.order)).map(({ data: work }, index) => (
      <Work variant="row" {...work} index={index} isHighlighted={index % 3} />
    ))}
  </div>
</Layout>