---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Work from "../components/Work.astro";
import { getCollection } from 'astro:content';

const works = await getCollection('work', ({ data: { isDraft } }) => !isDraft);
---
<Layout>
  <Nav />
  <div class="col-span-full relative grid grid-cols-12 gap-3 md:ml-[108px]">
    {works?.sort((a, b) => (a.data.order - b.data.order)).map(({ data: work }, index) => (
      <Work variant="row" {...work} index={index} />
    ))}
  </div>
</Layout>

<style>
  #study-title {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform-style: preserve-3d;
    animation: spin 20s infinite linear 0s;
    z-index: 100;
  }

  #study-title span {
    position: absolute;
    background-color: green;
    color: white;
    /* background: url('/cloud.gif'); */
    /* animation: shimmer 100s infinite 0s linear; */
  }

  @keyframes spin {
    0% {
      transform: rotateX(37deg) rotateY(123deg) rotateZ(45deg);
    }
    50% {
      transform: rotateX(82deg) rotateY(275deg) rotateZ(19deg);
    }
    100% {
      transform: rotateX(14deg) rotateY(93deg) rotateZ(27deg);
    }
    /* 0% {
      transform: rotateX(10deg) rotateY(10deg);
    }
    50% {
      transform: rotateX(60deg) rotateY(360deg);
    }
    100% {
      transform: rotateX(10deg) rotateY(10deg);
    } */
  }
</style>