---
import Logo from '../components/Logo.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import TabList from '../components/TabList.astro';
import LinkList from '../components/LinkList.astro';
import Headline from '../components/Headline.astro';

---
<Layout title="Max Georgopoulos">
	<div class="relative" style="font-family: 'untitled';">
		<aside class="hidden md:flex flex-col items-center justify-between fixed left-0 gap-5 p-5 h-screen w-[160px]">
			<a 
				href='#'
				class='flex items-center gap-x-5 md:gap-x-2 border-y-[0.5px] border-gray-dark w-full'
			>
				<span class="hidden md:inline-block w-1.5 h-1.5 ml-0.5 mr-0.5 bg-gray-light rounded-full"></span>
				<Logo/>
			</a>
			<TabList/>
			<LinkList/>
		</aside>
		<main class="relative md:ml-[160px] w-auto flex flex-col  gap-5 p-5 pt-0 md:pt-5 md:pl-0">
			<Headline text="Max Georgopoulos Product designer & developer Be design and engineering is artificial" />
			<LinkList/>
			<TabList type='row'/>
			<div class="space-y-5 columns-2 lg:columns-3 xl:columns-4 gap-5">
				<div>
					<div class="aspect-square bg-neutral-300"></div>
					<div class="mt-1 flex items-center justify-between">
						<h3>Formie</h3>
						<div class="h-2 w-2 rounded-full bg-red"></div>
					</div>
					<p class="text-[#888888]">Formie is a form builder for Figma. It's a plugin that lets you create forms in Figma, and then export them as HTML, CSS, and JavaScript.</p>
				</div>
				<div>
					<div class="aspect-video bg-neutral-300"></div>
					<div class="mt-1 flex items-center justify-between">
						<h3>Formie</h3>
						<div class="h-2 w-2 rounded-full bg-red"></div>
					</div>
					<p class="text-gray">Formie is a form builder for Figma. It's a plugin that lets you create forms in Figma, and then export them as HTML, CSS, and JavaScript.</p>
				</div>
				<div>
					<div class="aspect-square bg-neutral-300"></div>
					<div class="mt-1 flex items-center justify-between">
						<h3>Formie</h3>
						<div class="h-2 w-2 rounded-full bg-red"></div>
					</div>
					<p class="text-gray">Formie is a form builder for Figma. It's a plugin that lets you create forms in Figma, and then export them as HTML, CSS, and JavaScript.</p>
				</div>
				<div>
					<div class="aspect-square bg-neutral-300"></div>
					<div class="mt-1 flex items-center justify-between">
						<h3>Formie</h3>
						<div class="h-2 w-2 rounded-full bg-red"></div>
					</div>
					<p class="text-gray">Formie is a form builder for Figma. It's a plugin that lets you create forms in Figma, and then export them as HTML, CSS, and JavaScript.</p>
				</div>
			</div>
			<!-- <div class="flex flex-col items-center w-full">
				<hr class="w-full border-t-[0.5px]  "/>
				<span>Feb 24, 2023</span>
				<hr class="w-full border-t-[0.5px]  "/>
			</div>
			<div 
				class="max-w-prose mx-auto"
			>
				<p>Product designer & developer</p>
				<p>I'm a product designer and developer based in Athens, Greece. I'm currently working at <a href="https://www.figma.com/" class="text-[#ff6f61]">Figma</a> as a product designer. I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p>I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p>I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p>I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p>I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p>I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p>I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
				<p>I'm also the creator of <a href="https://formie.design/" class="text-[#ff6f61]">Formie</a>, a form builder for Figma.</p>
			</div> -->
		</main>
	</div>
</Layout> 
