---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Max Georgopoulos">
	<main class="flex flex-col gap-y-12 pb-48" >
		<header class="p-6 pt-12">
				<!-- <ul class="flex flex-col gap-y-1">
					<li class="leading-[16px] text-[10px] font-ibm text-gray-500 uppercase tracking-wider ">Work</li>
					<li class="leading-[16px] text-[10px] font-ibm text-gray-500 uppercase tracking-wider ">Writing</li>
					<li class="leading-[16px] text-[10px] font-ibm text-gray-500 uppercase tracking-wider ">Random</li>
				</ul> -->
				<h1 class=" mb-3 text-4xl md:text-5xl italic tracking-tight">
					Max Georgopoulos
				</h1>
				<div class="flex gap-x-1.5 items-baseline flex-wrap leading-[16px] text-[10px] font-ibm text-gray-500 uppercase tracking-wider ">
					<span>Frontend-developer</span> 
					<span class="font-crimson italic text-base h-4">&</span> 
					<span>product designer</span> 
				</div>
					<!-- <div class="flex gap-x-1.5 text-gray-500 mt-3 justify-end items-baseline flex-wrap leading-[16px] text-[10px] font-ibm  uppercase tracking-wider">
						<a href="" >
							Email
						</a>
						<span class="text-gray-400">/</span>
						<a href="" >
							Twitter
						</a>
						<span class="text-gray-400">/</span>
						<a href="" >
							github
						</a>
						<span class="text-gray-400">/</span>
						<a href="" >
							dribbble
						</a>
					</div> -->
		</header>
		<!-- <div class="mx-6 pt-4 mb-6 border-t-[0.5px] border-gray-400">
			<h2 class="text-4xl">Work</h2>
		</div> -->
		<div class="flex gap-x-6 mx-6 overflow-x-scroll overflow-y-hidden">
			<Card
				href="/studies/memiori"
				companyName="Client project"
				title="Memiori"
				description="Redesigned note taking app"
				roles={["branding", "Mobile design"]}
			/>
			<Card
				companyName="Wavy"
				title="Polls"
				description="Built and co-designed Wavy's Polls feature"
				roles={["UI/UX design", "Full-stack development"]}
			/>
			<Card
				companyName="Personal Project"
				title="Formie"
				description="Designed & co-built a smart contract UI generator"
				roles={["branding", "UI/UX design", "Frontend development"]}
			/>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-7 mx-6 gap-3 ">
			<h2 class="text-xl col-span-3">Projects</h2>
			<div class="flex col-span-4 ">
				<table>
					<tr>
						<td>Scope Todo</td>
						<td class="text-gray-500">Figma todow widget</td>
					</tr>
					<tr>
						<td>Disect Design</td>
						<td class="text-gray-500">Place to find and share product design case studies</td>
					</tr>
					<tr>
						<td>Sayings, forgotten</td>
						<td class="text-gray-500">Collection of saying who's meanings changed overtime</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- <div class="mx-6 pt-4 mt-24 mb-6 border-t-[0.5px] border-gray-400">
			<h2 class="text-4xl">Writing</h2>
		</div> -->
		<div class="grid grid-cols-1 md:grid-cols-7 mx-6 gap-3">
			<h2 class="text-xl col-span-3">Writing</h2>
			<div class="flex flex-col gap-y-3 col-span-4">
				<a href="#" class="flex flex-col sm:flex-row gap-y-1 items-baseline flex-wrap gap-x-3 group underline-none transition">
					<p class=" group-hover:underline">Yes, you can learn to code</p> 
					<span class="uppercase tracking-wider text-[10px] text-gray-500">Feb 2022</span>
				</a>
				<a href="#" class="flex flex-col sm:flex-row gap-y-1 items-baseline flex-wrap gap-x-3 group underline-none transition">
					<p class=" group-hover:underline">Yes, you can learn to code</p> 
					<span class="uppercase tracking-wider text-[10px] text-gray-500">Feb 2022</span>
				</a>
				<a href="#" class="flex flex-col sm:flex-row gap-y-1 items-baseline flex-wrap gap-x-3 group underline-none transition">
					<p class="group-hover:underline">Yes, you can learn to code</p> 
					<span class="uppercase tracking-wider text-[10px] text-gray-500">Feb 2022</span>
				</a>
			</div>
		</div>
	</main>
</Layout>
