---
import Logo from '../components/Logo.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import LinkList from '../components/LinkList.astro';
import Headline from '../components/Headline.astro';
import CategoryTabList from '../components/CategoryTabList.astro';
import CategoryTab from '../components/CategoryTab.astro';
---
<Layout title="Max Georgopoulos">
	<div class="relative flex flex-col gap-20" style="font-family: 'untitled';">
		<!-- <header class="bg-black p-5 rounded-full hidden md:flex sticky top-[12px] border border-white/20 items-center justify-between gap-5 w-full"> -->
		<header class="bg-black sticky top-0 grid grid-cols-12 gap-5 w-full p-5">
			<a 
				href='#'
				class='flex gap-x-2 col-span-4 self-start md:self-auto group border-gray-dark -mt-0.5 mb-0.5'
			>
				<span class="h-5 flex items-center">
					<span class="h-[10px] w-[10px] mb-0.5 -mt-0.5 rounded-full bg-white shrink-0"></span>
				</span>
			</a>
			<div class="col-span-4 self-start order-last md:order-none">
				<div class="sm:hidden">
					<CategoryTabList hasDots={false}/>
				</div>
				<div class="hidden sm:block">
					<CategoryTabList hasDots={false}/>
				</div>
			</div>
			<!-- <div class="col-span-5 md:col-span-4 self-start md:self-auto">
				<span class="md:hidden h-5 flex items-center">
					<span class="h-[10px] w-[10px] mb-0.5 -mt-0.5 rounded-full bg-white shrink-0"></span>
				</span> -->
			<div class="col-span-4 self-start md:self-auto">
				<p >Who?</p>
				<p >Contact</p>
			</div>
		</header>
		
		<main class="grid grid-cols-12 gap-5 p-5">
			<span class=" text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl col-span-4 -my-1.5 sm:-my-2 md:-my-2.5 lg:-my-3.5 xl:-my-5">Max Gergopoulos</span>
			<div class="col-span-12 sm:col-start-9 sm:col-end-12 flex flex-col self-start">
				<span class="md:text-xl -my-0.5 md:-my-1.5">Software developer & designer</span>
			</div>
			<div class="col-span-12 grid grid-cols-12 gap-5 mt-20">
				<div class="md:hidden col-span-12 rounded-lg aspect-[10/7] w-full bg-neutral-500 max-h-[400px]"></div>
				<div class="col-span-12 md:col-span-4 flex flex-col gap-y-3">
					<Headline isJumbo={true}>
						Formie
					</Headline>
					<p class="md:hidden">Redesign & brand refresh for mood tracking app</p>
				</div>
				<div class="col-span-12 grid grid-cols-12 gap-5 w-full">
					<div class="hidden md:block col-span-4 rounded-lg aspect-[10/7] w-full bg-white max-h-[400px]"></div>
					<div class="flex flex-col justify-between col-span-12 md:col-span-8">
						<div class="hidden md:grid grid-cols-8 gap-5 w-full border-t-[0.5px] py-2">
							<p class="col-span-4">Redesign & brand refresh for mood tracking app</p>
						</div>
						<div class=" gap-5 w-full">
							<div class="grid grid-cols-12 w-full border-t-[0.5px] py-0.5 ">
								<p class="col-span-4 md:col-span-6">Did</p>
								<p class="col-span-8 md:col-span-6">Product design</p>
							</div>
							<div class="grid grid-cols-12 w-full border-t-[0.5px]  py-0.5">
								<p class="col-span-4 md:col-span-6">For</p>
								<p class="col-span-8 md:col-span-6">Wavy</p>
							</div>
							<div class="grid grid-cols-12 w-full border-t-[0.5px]  py-0.5">
								<p class="col-span-4 md:col-span-6">Year</p>
								<p class="col-span-8 md:col-span-6">2021</p>
							</div>
							<div class="grid grid-cols-12 w-full border-y-[0.5px] py-0.5">
								<p class="col-span-4 md:col-span-6">With</p>
								<p class="col-span-8 md:col-span-6">Dan Stein (Design)</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</Layout> 
