---
import Layout from '../layouts/Layout.astro';
import Tile from '../components/Tile.astro';
---

<Layout title="Max Georgopoulos">
	<main>
		<Tile
			href="https://docs.astro.build/"
			textColor="text-black"
			bgColor="bg-white"
		>
			Hey, Max here. I design and code. I've done Full-Stack Development at Wavy. Big cooker and fan of economics. I'm trying to figure out how to create the perfect environment to learn coding.
		</Tile>
		<Tile
			href="https://docs.astro.build/"
			textColor="text-white"
			bgColor="bg-[#005e7a]"
		>
			At Wavy, I built and co-designed Polls.
		</Tile>
		<Tile
			href="https://docs.astro.build/"
			textColor="text-white"
			bgColor="bg-[#005e7a]"
		>
			I also co-designed and built Custom Content.
		</Tile>
		<Tile
			href="https://docs.astro.build/"
			textColor="text-white"
			bgColor="bg-blue-500"
		>
			I made a thing called <a href="formie.co">Formie</a>, a no code UI maker for smart contracts
		</Tile>
		<Tile
			href="https://docs.astro.build/"
			textColor="text-black"
			bgColor="bg-white"
		>
			<div class="flex flex-col gap-y-12">
				<p>I've made a few other things too</p>
				<ul class="flex flex-col gap-y-6">
					<li><a href="#">Scope Todo</a>, a todo widget for Figjam</li>
					<li><a href="#">The Quest Board</a>, a bounty board for the Loot community</li>
					<li><a href="#">Dissect Design</a>, a collection of design case studies</li>
				</ul>
			</div>
		</Tile>
		<Tile
			href="https://docs.astro.build/"
			textColor="text-black"
			bgColor="bg-white"
		>
			<div class="flex flex-col gap-y-12">
				<p>and I write a little bit</p>
				<ul class="flex flex-col gap-y-6">
					<li><a href="#">In defence of bad writing</a></li>
					<li><a href="#">Yes, you can learn to code</a></li>
				</ul>
			</div>
		</Tile>
	</main>
</Layout>
