---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Work from "../components/Work.astro";
import { getCollection } from 'astro:content';
import DancingLetters from "../components/DancingLetters.astro";

const works = await getCollection('work', ({ data: { isDraft } }) => !isDraft);
---
<Layout title="Max Georgopoulos">
  <div class="col-span-full relative grid grid-cols-12 gap-4">
    <hr class="h-px col-span-full border-t border-black -mt-2"/>
    <div class="flex items-center justify-center pt-8  col-span-full overflow-hidden -mx-4 ">
      <h1 class="font-london tracking-tighter text-[48vw] -mt-[1.5vw] -mb-[4vw] leading-[40vw] text-center text-black ">MKCG</h1>
    </div>
    <Header />
    <div class="my-12 grid grid-cols-12 col-span-full gap-x-4 ">
      {works?.sort((a, b) => (a.data.order - b.data.order)).map(({ data: work }, index) => (
        <Work variant="row" {...work} index={index} />
      ))}
    </div>
    <div class="columns-1 sm:columns-2 md:columns-3 col-span-full  space-y-2 gap-x-4">
      {works?.sort((a, b) => a.data.order - b.data.order).map(({ data: work }, index) => (
        <Work variant="card" {...work} index={index} />
      ))}
    </div>
  </div>
</Layout>