---
import Layout from "../layouts/Layout.astro";
import Work from "../components/Work.astro";
import { getCollection } from 'astro:content';
import Links from "../details/Links.astro";
import Skills from "../details/Skills.astro";
import Interests from "../details/Interests.astro";
import Influences from "../details/Influences.astro";
import Writings from "../details/Writings.astro";

const works = await getCollection('work', ({ data: { isDraft } }) => !isDraft);
---
<Layout>
  <!-- <nav class="flex justify-between xs:grid md:hidden grid-cols-6 col-span-full gap-2 uppercase ">
    <a class="whitespace-nowrap">Product <sup>4</sup></a>
    <a class="whitespace-nowrap">Brand <sup>4</sup></a>
    <a class="whitespace-nowrap">Code <sup>4</sup></a>
    <a class="whitespace-nowrap">Client <sup>4</sup></a>
    <a class="whitespace-nowrap">Project <sup>4</sup></a>
    <a class="whitespace-nowrap">Case Study <sup>4</sup></a>
  </nav> -->
  <nav class="flex md:grid grid-cols-6 col-span-full gap-2 uppercase  ">
    <div class="flex  gap-x-2 col-span-2 lg:col-span-1 col-start-3 ">
      <a class="whitespace-nowrap col-span-1 h-min">Product <sup>4</sup></a>
      <a class="whitespace-nowrap col-span-1 h-min">Brand <sup>4</sup></a>
      <a class="whitespace-nowrap col-span-1 h-min">Code <sup>4</sup></a>
    </div>
    <div class="flex  gap-x-2 col-span-2  lg:col-span-1">
      <a class="whitespace-nowrap col-span-1 h-min">Project <sup>4</sup></a>
      <a class="whitespace-nowrap col-span-1 h-min">Client <sup>4</sup></a>
    </div>
    <div class=" flex gap-x-2 col-span-2  lg:col-span-1">
      <a class="col-span-1 h-min">Case Study <sup>4</sup></a>
    </div>
  </nav>
  <div class="grid grid-cols-12 col-span-full -mx-2 gap-y-8">
    {works?.sort((a, b) => (a.data.order - b.data.order)).map(({ data: work }, index) => (
      <Work variant="row" {...work} index={index} isHighlighted={index % 3} />
    ))}
  </div>
</Layout>