---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SocialLinks from "../components/SocialLinks.astro";

const heros = [
  { 
    name: "Steve Jobs",
    description: "Maniacle focus + uncompromising vision + you need a strong leader to make great things happen" 
  },
  { 
    name: "Gunpei Yokoi", 
    description: "Contraints make you creative + make fun things", 
    link: "https://en.wikipedia.org/wiki/Gunpei_Yokoi" 
  },
  {
    name: "Massimo & Lella Vignelli", 
    description: "Semantics are everything + elegance elegance elegance", 
    link: "https://www.rit.edu/vignellicenter/sites/rit.edu.vignellicenter/files/documents/The%20Vignelli%20Canon.pdf" 
  },
  { 
    name: "Dieter Rams", 
    description: "Radical simplicity, understanding engineering makes you a better designer", 
    link: "https://www.google.com/search?q=dieter+rams+products&tbm=isch&ved=2ahUKEwi37cjNy5mEAxXMPlkFHcp6CxkQ2-cCegQIABAA&oq=dieter+rams+products&gs_lp=EgNpbWciFGRpZXRlciByYW1zIHByb2R1Y3RzMgUQABiABDIFEAAYgAQyBRAAGIAEMgYQABgFGB4yBBAAGB4yBhAAGAgYHkjIEFD6AliEEHAAeACQAQCYAdMBoAGMCaoBBTMuNS4xuAEDyAEA-AEBigILZ3dzLXdpei1pbWfCAgQQIxgnwgIKEAAYgAQYigUYQ4gGAQ&sclient=img&ei=96fDZfeVBsz95NoPyvWtyAE&bih=779&biw=1440" 
  },
  { 
    name: "Ryan Singer", 
    description: "All roads lead to Rome.", 
    link: "https://www.feltpresence.com/" 
  },
  { 
    name: "Hayao Miyazaki", 
    description: "You can make your work more beautiful and emotive", 
    link: "https://en.wikipedia.org/wiki/Hayao_Miyazaki" 
  },
  { 
    name: "Christopher Alexander", 
    description: "Beauty can be objective.", 
    link: "https://en.wikipedia.org/wiki/Christopher_Alexander" 
  },
  { 
    name: "Maria Montessori", 
    description: "It's possible to make a dent in the education system", 
    link: "https://en.wikipedia.org/wiki/Maria_Montessori" 
  }
];
---

<Layout title="Max Georgopoulos">
  <Header />
  <div class="col-span-full grid grid-cols-12 gap-x-4">
    
    <div class="order-first uppercase pb-1 col-span-full grid grid-cols-12 gap-4 border-b border-neutral-700">
      <p class="col-span-2">Who?</p>
      <p class="hidden sm:inline-block col-span-8 lg:col-span-4">Bio</p>
      <p class="hidden lg:inline-block col-span-4">Heros</p>
      <p class="hidden sm:inline-block col-span-2">Links</p>
    </div>
    <div class="col-span-full flex flex-col sm:grid grid-cols-12 gap-x-4">
      <div class="flex sm:flex-col col-span-full sm:col-span-2 gap-x-4 sm:h-fit w-full">
        <img src="/me.jpg" alt="my face" class="object-cover aspect-square h-full pt-[7px] sm:pb-1 max-h-[100px] sm:max-h-none"/>
        <div class="w-full">
          <div class="py-1 flex gap-1.5">
            <span class="w-[9px]">M</span> 
            <span>=</span> 
            <span>Max</span> 
          </div>
          <div class="py-1 border-t flex gap-1.5 border-neutral-700">
            <span class="w-[9px]">K</span> 
            <span>=</span> 
            <span>Kevin</span> 
          </div>
          <div class="py-1 border-t flex gap-1.5 border-neutral-700">
            <span class="w-[9px]">C</span> 
            <span>=</span> 
            <span>Crapper</span> 
          </div>
          <div class="py-1 border-y flex gap-1.5 border-neutral-700">
            <span class="w-[9px]">G</span> 
            <span>=</span> 
            <span>Georgopoulos</span> 
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-8 gap-4 col-span-full sm:col-span-8">
        <div class="col-span-4 flex flex-col pt-4 sm:pt-1">
          <p>
            Yo! I'm a designer and developer based out of Toronto, but I bum
            around different places. I believe that the boundary between design
            and engineering is artificial — you get the best results by blending
            the two. Lately, I've been inspired by Ryan Singer's design
            techniques, TailwindCSS, and The 2023 Spring Summer Collection from
            Homme Plissé.
          </p>
          <p >
            Ho! I'm a designer and developer based out of Toronto, but I bum
            around different places. I believe that the boundary between design
            and engineering is artificial — you get the best results by blending
            the two. Lately, I've been inspired by Ryan Singer's design
            techniques, TailwindCSS, and The 2023 Spring Summer Collection from
            Homme Plissé.
          </p>
        </div>
        <div class="col-span-4  flex flex-col">
          <p class="lg:hidden uppercase border-b border-neutral-700 pb-1">Heros</p>
          <ul class="flex flex-col">
            {heros.map((hero) => (
              <li class="border-t first:border-none last:border-y border-neutral-700  ">
                <details
                  class="before:content-none flex w-full justify-between items-center gap-4 [&_summary]:open:cursor-zoom-out [&_summary]:open:hover:bg-transparent "
                >
                  <summary class="py-1 hover:bg-neutral-750 hover:cursor-zoom-in">{hero.name}</summary>
                  <div class="flex justify-between gap-6 pb-1">
                    {hero.description}
                    {hero.link && <Link href={hero.link} target="_blank" classes="gap-0 shrink-0 p-6 -m-6"></Link>}
                  </div>
                </details>
              </li>
            ))}
          </ul>
        </div>
      </div>
      <div class="col-span-full sm:col-span-2 sm:col-start-11 ">
        <div class="sm:hidden w-full border-b border-neutral-700 pb-1 mt-4">
          <p class="uppercase">Links</p>
        </div>
        <SocialLinks classes="w-full" />
      </div>
    </div>
  </div>
</Layout>
