---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<Layout title="Max Georgopoulos">
  <Header />
  <div class="col-span-full grid grid-cols-12 gap-x-4">
    
    <div class="order-first uppercase pb-1 col-span-full grid grid-cols-12 gap-4 border-b border-neutral-700">
      <p class="col-span-2">Who?</p>
      <p class="hidden sm:inline-block col-span-8 lg:col-span-4">Bio</p>
      <p class="hidden lg:inline-block col-span-4">Heros</p>
      <p class="hidden sm:inline-block col-span-2">Links</p>
    </div>
    <div class="col-span-full flex flex-col sm:grid grid-cols-12 gap-x-4">
      <div class="flex sm:flex-col col-span-full sm:col-span-2 gap-x-4 sm:h-fit w-full">
        <img src="/me.jpg" alt="my face" class="object-cover aspect-square h-full pt-[7px] sm:pb-1 max-h-[100px] sm:max-h-none"/>
        <div class="w-full">
          <div class="py-1 flex gap-1.5">
            <span class="w-[9px]">M</span> 
            <span>=</span> 
            <span>Max</span> 
          </div>
          <div class="py-1 border-t flex gap-1.5 border-neutral-700">
            <span class="w-[9px]">K</span> 
            <span>=</span> 
            <span>Kevin</span> 
          </div>
          <div class="py-1 border-t flex gap-1.5 border-neutral-700">
            <span class="w-[9px]">C</span> 
            <span>=</span> 
            <span>Crapper</span> 
          </div>
          <div class="py-1 border-y flex gap-1.5 border-neutral-700">
            <span class="w-[9px]">G</span> 
            <span>=</span> 
            <span>Georgopoulos</span> 
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-8 gap-4 col-span-full sm:col-span-8">
        <div class="col-span-4 flex flex-col pt-4 sm:pt-1">
          <p>
            Yo! I'm a designer and developer based out of Toronto, but I bum
            around different places. I believe that the boundary between design
            and engineering is artificial — you get the best results by blending
            the two. Lately, I've been inspired by Ryan Singer's design
            techniques, TailwindCSS, and The 2023 Spring Summer Collection from
            Homme Plissé.
          </p>
          <p >
            Ho! I'm a designer and developer based out of Toronto, but I bum
            around different places. I believe that the boundary between design
            and engineering is artificial — you get the best results by blending
            the two. Lately, I've been inspired by Ryan Singer's design
            techniques, TailwindCSS, and The 2023 Spring Summer Collection from
            Homme Plissé.
          </p>
        </div>
        <div class="col-span-4  flex flex-col">
          <p class="lg:hidden uppercase border-b border-neutral-700 pb-1">Heros</p>
          <ul class="flex flex-col">
            <li class="border-neutral-700 py-1 hover:bg-neutral-750">
              <details
                class="before:content-none flex w-full justify-between items-center gap-4 "
              >
                <summary>Steve Jobs</summary>
              </details>
            </li>
            <li class="border-t first:border-none border-neutral-700 py-1 hover:bg-neutral-750">
              <details
                class="flex w-full justify-between items-center gap-4 "
              >
                <summary>Gunpei Yokoi</summary>
              </details>
            </li>
            <li class="border-t first:border-none border-neutral-700 py-1 hover:bg-neutral-750">
              <details
                class="flex w-full justify-between items-center gap-4 "
              >
                <summary>Massimo Vigneli</summary>
              </details>
            </li>
            <li class="border-t first:border-none border-neutral-700 py-1 hover:bg-neutral-750">
              <details
                class="flex w-full justify-between items-center gap-4 "
              >
                <summary>Dieter Rams</summary>
              </details>
            </li>
            <li class="border-t first:border-none border-neutral-700 py-1 hover:bg-neutral-750">
              <details
                class="flex w-full justify-between items-center gap-4 "
              >
                <summary>Ryan Singer</summary>
              </details>
            </li>
            <li class="border-y first:border-none border-neutral-700 py-1 hover:bg-neutral-750">
              <details
                class="flex w-full justify-between items-center gap-4 "
              >
                <summary class="pl-0 bg-none appearance-none">Hayao Miyazaki</summary>
              </details>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-span-full sm:col-span-2 sm:col-start-11 ">
        <div class="sm:hidden w-full border-b border-neutral-700 pb-1 mt-4">
          <p class="uppercase">Links</p>
        </div>
        <SocialLinks classes="w-full" />
      </div>
    </div>
  </div>
</Layout>
