---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/resume/Experience.astro";
import Project from "../components/resume/Project.astro";
---

<!-- <Layout title="Resume" backgroundColor="bg-[#1a1e1e]"> -->
<Layout title="Resume" backgroundColor="bg-neutral-800">
  <!-- <div class="mx-auto max-w-3xl text-[#A2A9A8]"> -->
  <div class="mx-auto max-w-3xl text-[#222]">
    <!-- <div
      class="mx-auto flex flex-col gap-4 bg-[#1a1e1e] px-8 pt-6 pb-16 text-xs"
    > -->
    <div
      class="mx-auto flex flex-col gap-4 bg-neutral-800 px-8 pt-6 pb-16 text-xs"
    >
      <header class="grid grid-cols-4 gap-4">
        <h1>Max Georgopoulos</h1>
        <div class="flex flex-col gap-4">
          <div>
            <p>Toronto</p>
            <p>416-804-8644</p>
            <p>max123358@gmail.com</p>
          </div>
          <div>
            <p>github/maxgeor</p>
            <p>dribbble/maxgeo</p>
            <p>maxgeorgopoulos.com</p>
          </div>
        </div>
        <div class="col-span-2 flex flex-col gap-4">
          <p class="col-span-2">
            Primarily a frontend engineer, with full-stack experience. I've
            owned multiple features, taking responsiblity for planning,
            development, and release.
          </p>
          <p class="col-span-2">
            I also have product design experience (in-house & freelance). My
            blended skills let me bridge gaps within product teams and ship
            polished interfaces.
          </p>
        </div>
      </header>
      <section class="grid grid-cols-4 gap-4 border-t border-[#b6b6b6]">
        <h2>Work</h2>
        <div class="col-span-3 mt-4 grid grid-cols-3 gap-4">
          <Experience
            title="Full-Stack \n Engineer"
            titleWidth="w-24"
            company="Wavy"
            startDate="Jan 2023"
            endDate="Mar 2023"
            tech={["Ruby on Rails", "View Components", "React"]}
            blurb="Owned development & design of key features. Conceptualized & pitched projects. Maintained production code quality via code review & bug fixing."
          >
            <Project title="Polls">
              Designed & built a feature allowing teams to vote for their next
              event. Saved Sales and CS teams 5 hours of work per week.
            </Project>
            <Project title="Saves & Collections">
              Co-designed and built a feature that allows people to save &
              compare events. Saved sales 5 hours/week of creating proposals.
            </Project>
          </Experience>
          <!-- <hr class="col-span-full border-t border-[#313636]" /> -->
          <span class="w-full h-px bg-transparent col-span-full border-t border-[#b6b6b6]"></span>
          <Experience
            title="Junior Full-Stack Engineer"
            titleWidth="w-28"
            company="Wavy"
            startDate="Feb 2022"
            endDate="Jan 2023"
            tech={["Ruby on Rails", "Auth0", "React"]}
            blurb="Owned development of key features. Worked with design to develop and maintain Wavy's design system."
          >
            <Project title="Onboarding + Signup Flow">
              Co-designed, built, and led a project to add robust user
              authentication & onboarding. Led to 50 sign-ups in the first few
              months.
            </Project>
            <!-- <Project title="Admin redesign">
							redesigned and developed Wavy's internal tool platform. Custom CMS interface and tooling replaced Airtable & Retool.
						</Project> -->
            <Project title="Custom Content">
              Built a bulk uploader & multi-step flow for companies to add and edit
              events. Became a key feature of the platform.
            </Project>
          </Experience>
        </div>
      </section>
      <section class="grid grid-cols-4 gap-4 border-t border-[#b6b6b6]">
        <h2>Projects</h2>
        <div class="col-span-3 mt-4 grid grid-cols-3 gap-4">
          <Project title="Formie">
            Created a tool to make beautiful UI for any smart contract (Next.js
            & Firebase). Featured by The Milk Road.
          </Project>
          <Project title="Scope Todo">
            Created a collaborative todo widget for Figma & Figjam (React) with
            25k+ downloads.
          </Project>
        </div>
      </section>
      <section class="grid grid-cols-4 gap-4 border-t border-[#b6b6b6]">
        <h2>Education</h2>
        <div class="col-span-3 mt-4 grid grid-cols-3 gap-4">
          <h3>Bachelor of <br /> Commerce</h3>
          <p>Dalhousie<br />University</p>
          <div class="relative flex h-fit justify-self-end">
            <p class="w-[68px] shrink-0">Sep 2016</p>
            <span
              class="absolute top-1/2 left-[57px] -translate-y-1/2 transform"
              >-
            </span>
            <p class="w-[53px] shrink-0">Apr 2021</p>
          </div>
        </div>
      </section>
      <section class="grid grid-cols-4 gap-4 border-t border-[#b6b6b6]">
        <h2>Technologies</h2>
        <div class="col-span-3 mt-4">
          <p>
            Next.js, React, Javascript, Typescript, Ruby on Rails, View
            Components, HTML, CSS, TailwindCSS, Sanity CMS, Git, PostgreSQL,
            Auth0, Firebase, S3, Rspec, Capybara
          </p>
        </div>
      </section>
    </div>
  </div>
</Layout>