---
export interface Props {
  text: string
  title?: boolean;
}

const { text, title = false } = Astro.props;

const classes = 'py-1 flex gap-x-2 items-baseline w-full border-b-[0.5px] border-[#403c38]';
---

{title ? (
  <h2 class={`${classes} text-xs leading-5 uppercase tracking-wide border-t`}>
    {text}
  </h2>
) : (
  <span class={classes}>
    {text}
  </span>
)}