---
import CopyIcon from "./icons/CopyIcon.astro";
import CheckIcon from "./icons/CheckIcon.astro";

export interface Props {
  showIcon?: boolean;
  classes?: string;
}

const { showIcon = true, classes = "" } = Astro.props;
---
<button
  aria-label="Copy email"
  class={`
    copy-email-button relative flex justify-between gap-1 w-full items-center ring-offset-2 ring-green focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-green  cursor-default transition duration-75 hover:bg-[#e1e1e1]
    ${classes}
  `}
>
  <span class={showIcon ? 'flex gap-px capitalize' : ''}>
    <slot />
  </span>
  {showIcon && (
    <>
      <CopyIcon id="copy-icon" classes="-mr-px" />
      <CheckIcon id="check-icon" classes="hidden -mr-0.5" />
    </>
  )}
</button>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const emailButtons: NodeListOf<HTMLButtonElement> = 
      document.querySelectorAll('.copy-email-button');

    emailButtons.forEach((button) => {
      button?.addEventListener("click", () => {
        navigator.clipboard.writeText('max123358@gmail.com');
  
        const copyIcon: HTMLElement | null = button.querySelector("#copy-icon");
        const checkIcon: HTMLElement | null = button.querySelector("#check-icon");
  
        copyIcon?.classList.add("hidden");
        checkIcon?.classList.remove("hidden");
  
        setTimeout(() => {
          copyIcon?.classList.remove("hidden");
          checkIcon?.classList.add("hidden");
        }, 2500);
      });
    })
  });
</script>
