---
export interface Props {
  size: 'normal' | 'large';
  text: string;
  classes?: string;
}

const { size = 'normal', text, classes } = Astro.props;

import DropLetter from './DropLetter.astro';
---

<section class={`
  wide-paragraph text-3xl leading-[40px] md:text-4xl md:leading-[48px] 
  ${size === 'large' 
    ? 'text-4xl  leading-[48px] md:leading-[56px] md:text-5xl xl:text-6xl xl:leading-[72px]'
    : 'text-3xl leading-[40px] md:text-4xl md:leading-[48px]'
  }
  ${classes}
`}>
  <DropLetter 
    letter={text.slice(0, 1)} 
    classes={`
      float-left font-floral pr-[9px] -ml-0.5
      ${size === 'large' 
        ? 'text-[137px] pt-[37px] md:text-[162px] md:pt-[42px] xl:text-[200px] xl:pt-[56px]'
        : 'text-[112px] md:text-[137px] pt-[32px] md:pt-[37px] '
      }
    `}
  />
  <span class="tracking-tightish">{text.substring(1)}</span>
</section>