---
export interface Props {
  type: string;
  fluttering: boolean;
  classes?: string;
}

const { type, fluttering, classes = '' } = Astro.props;
---

<div class={`
  flex items-center justify-center font-ornament text-2xl leading-4 flower transform -rotate-[5deg]
  ${classes} ${fluttering ? 'fluttering' : ''}
`}>
  <p>{type}</p>
</div>

<style>
  .fluttering {
    transform: rotate(5deg);
  }
</style>
