<footer class="mb-6 mt-48 mx-6 flex gap-x-1.5 text-[#918C88] flex-wrap leading-4 text-[10px] font-ibm  uppercase tracking-wider w-full">
  <a href="" >
    Email
  </a>
  <span class="text-stone-600">/</span>
  <a href="" >
    Twitter
  </a>
  <span class="text-stone-600">/</span>
  <a href="" >
    github
  </a>
  <span class="text-stone-600">/</span>
  <a href="" >
    dribbble
  </a>
</footer>