<footer class="mb-6 mt-48 mx-6 flex gap-x-1.5 flex-wrap text-sm">
  <a href="" >
    Email
  </a>
  <span class="">/</span>
  <a href="" >
    Twitter
  </a>
  <span class="">/</span>
  <a href="" >
    Github
  </a>
  <span class="">/</span>
  <a href="" >
    Dribbble
  </a>
</footer>