<footer class="mb-6 mt-48 mx-6 flex gap-x-1.5  flex-wrap leading-4 text-[10px] font-ibm  uppercase tracking-wider ">
  <a href="" >
    Email
  </a>
  <span class="">/</span>
  <a href="" >
    Twitter
  </a>
  <span class="">/</span>
  <a href="" >
    github
  </a>
  <span class="">/</span>
  <a href="" >
    dribbble
  </a>
</footer>