---
import Flower from "./Flower.astro";
---

<footer class="flex items-center justify-between gap-x-6 text-xs mt-60">
  <div class="flex gap-x-1.5 flex-wrap">
    <a href="hover:underline" >
      Email
    </a>
    <span class="">/</span>
    <a href="hover:underline" >
      Twitter
    </a>
    <span class="hover:underline">/</span>
    <a href="" >
      Github
    </a>
    <span class="hover:underline">/</span>
    <a href="hover:underline" >
      Dribbble
    </a>
  </div>
  <div class="flex gap-x-1.5 flex-wrap">
    <Flower type="°" classes={'h-6 w-6'} fluttering={true}/>
    <Flower type="Ø" classes={'h-6 w-6'} fluttering={false}/>
    <Flower type=">" classes={'h-6 w-6'} fluttering={false}/>
    <Flower type="`" classes={'h-6 w-6'} fluttering={true}/>
  </div>
</footer>

<!-- <script>
  const flowers = document.querySelectorAll('.flower');

  setInterval(() => flowers.forEach((flower) => flower.classList.toggle('fluttering')), 350);
</script> -->