---
export interface Props {
  cols?: number;
  start?: number;
  end?: number;
  span?: number;
  gap?: number | { x?: number; y?: number };
  classes?: string;
}

const { 
  cols = 12,
  start = 1,
  end = -1,
  span,
  gap = 16,
  classes = ''
} = Astro.props;

const gapX = typeof gap === 'object' && `${gap.x || 0}px` || `${gap}px`
const gapY = (typeof gap === 'object' && `${gap.y || 0}px` || `${gap}px`)
---

<div class={`grid ${classes}`}>
  <slot />
</div>

<style define:vars={{ cols, span, start, end, gapX, gapY }}>
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
    grid-column: span var(--span) / span var(--span);
    grid-column-start: var(--start);
    grid-column-end: var(--end);
    gap: var(--gapY) var(--gapX);
  }
</style>