---
import Logo from './Logo.astro';
import Tab from './Tab.astro';

export interface Props {
  activeTab?: string;
  currentPage?: string;
  path: string;
}
// The question you want to know is if you're on the home page or not?
  // Well you could be on the About page, which shouldn't expand the Tab list
---

<header class='flex items-center justify-center gap-x-5 border-b-[0.5px] border-gray-dark w-full'>
  <a 
    href='#'
    class='flex items-center gap-x-5 md:gap-x-2 border-y-[0.5px] border-gray-dark w-full'
  >
    <Logo/>
  </a>
  <div class="md:hidden flex items-center gap-x-5">
    <span class="text-gray ml-1">/</span>
    <Tab title='work' />
    <span class="text-gray">/</span>
    <p>Formie</p>
  </div>
</header>
