---
import Link from "./Link.astro"
import CopyEmailButton from "./CopyEmailButton.astro";

export interface Props {
  goBackPath?: string;
  classes?: string;
}

const { classes = "" } = Astro.props;

const currentPath = Astro.url.pathname;

const gifs = [
  'kill-bill',
  'akira-falling',
  '912',
  '812',
  'twin-peaks',
  'worm',
];
---
<header
  class={`
    col-span-full grid grid-cols-12 gap-4
    ${classes}
  `}
>
  <div class="flex flex-col md:grid grid-cols-6 gap-x-4 col-span-6">
    <a href="/" class="col-span-2  group">
      <div class="flex gap-[7px] items-center">
        <span class="h-[9px] w-[10px] bg-yellow mb-px"></span>
        <span class="uppercase  mix-blend-difference flex gap-px left-0 right-0 ">
          MKCG
        </span>
        <!-- <img src={`/gifs/${gifs[Math.floor(Math.random() * gifs.length)]}.gif`} class="hidden brightness-80  w-full h-full object-cover" /> -->
      </div>
    </a>
    <p class="col-span-4 mt-2 md:mt-0">Product Designer +<br/> Frontend Developer</p>
  </div>
  <div class="flex flex-col md:grid grid-cols-6 gap-x-4 col-span-6">
    <div class="flex uppercase col-span-4 gap-2">
      <Link 
        href="/" 
        classes={`
          focus:h-fit
          ${currentPath === '/' || currentPath.includes('study') ? 'line-through hover:line-through' : ''}
        `}
      >
        Work
      </Link>
      <Link 
        href="/writing"
        classes={`
          focus:h-fit
          ${currentPath.includes('writing') ? 'line-through hover:line-through' : ''}
        `}
      >Writing</Link>
      <Link 
        href="/info"
        classes={`
          focus:h-fit
          ${currentPath.includes('info') ? 'line-through hover:line-through' : ''}
        `}
      >Info</Link>
    </div>
    <div class=" relative col-span-2 mt-2 md:mt-0">
      <p>Available for work</p>
      <CopyEmailButton showIcon={false} classes="w-min">
        max123358<span class="font-mono">@</span>gmail.com
      </CopyEmailButton>
    </div>
  </div>
</header>
