---
import Link from './Link.astro';
export interface Props {
  goBackPath?: string;
  classes?: string;
}

const { classes = "" } = Astro.props;
---
<header class={`top-2 border-b border-black fixed left-4 right-4 bottom-auto z-50 col-span-full grid grid-cols-12 gap-4 ${classes}`}>
  <Link href="/" classes=" col-span-4 md:col-span-2 mix-blend-exclusion">Mkcg</Link>
  <div class="flex gap-1.5 whitespace-nowrap col-span-4 md:col-span-6 ">
    <Link href="/" classes=" w-fit">Work</Link>
    <Link href="/writing" classes="w-fit col-span-2 mix-blend-exclusion">Writing</Link>
  </div>
  <Link href="/info" classes="col-span-4 justify-self-end w-fit">Info</Link>
</header>