---
export interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

const currentPath = Astro.url.pathname;
const doesLinkMatchCurrentPath = (matchingPaths: string[]) => 
  matchingPaths.some((path) => currentPath.includes(path));
---

<header
  class={`
    col-span-full grid grid-cols-4 gap-4 -my-1 pt-4
    ${classes}
  `}
>
  <a href="/" class=" h-2.5 w-2.5 bg-white rounded-full my-[5px] order-first no-underline"></a>
  <a href='/about' class='order-2 md:order-3 xl:order-4 hover:underline'>
    About
  </a>
  <a href='/work' class='order-3 md:order-2 hover:underline'>
    Work
  </a>
  <a href='/writing' class='order-4 xl:order-3 hover:underline'>
    Writing
  </a>
</header>
