---
import ThemeButton from "./ThemeButton.astro";
import UpRightArrowIcon from "./icons/UpRightArrowIcon.astro";

export interface Props {
  link?: {
    text: string;
    href: string;
    classes?: string;
    isExternal?: boolean;
  };
  hasBorder?: boolean;
  classes?: string;
}

const { link, hasBorder = false, classes = "" } = Astro.props;
---

<header
  class={`
    relative col-span-full flex items-center justify-between xl:grid grid-cols-12 gap-4 pt-4 -my-1
    ${hasBorder ? 'border-[#DADADA] dark:border-neutral-700 pb-3 mb-0' : ''}
    ${classes}
  `}
>
  <div class="col-span-3 flex items-center justify-between gap-6 sm:gap-12">
    <a href="/" class="hover:underline">Max Georgopoulos</a>
  </div>

  <div
    class={`${
      !link && "justify-self-end"
    } xl:col-start-4 col-end-13 flex items-center justify-between gap-6`}
  >
    {
      link ? (
        <>
          <a
            href={link.href}
            target={link.isExternal ? "_blank" : undefined}
            class={`items-center gap-[3px] hover:underline lg:flex ${link.classes}`}
          >
            {link.text}
            {link.isExternal ? (
              <UpRightArrowIcon classes="mt-0.5 -mr-[3px]" />
            ) : null}
          </a>
        </>
      ) : null
    }
    <ThemeButton />
  </div> 
  
</header>
