---
export interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

const currentPath = Astro.url.pathname;
const doesLinkMatchCurrentPath = (matchingPaths: string[]) => 
  matchingPaths.some((path) => currentPath.includes(path));
---

<header
  class={`
    col-span-full grid grid-cols-12 gap-6 -my-1 pt-6
    ${classes}
  `}
>
  <!-- <a href="/" class=" h-2.5 w-2.5 rounded-full bg-white my-[5px] order-first no-underline"></a> -->
    <div class="col-start-3 col-span-3 flex gap-2">
      <a href='/work' class='col-start-3 col-span-2 hover:underline'>
        Work
      </a>
      <span>/</span>
      <a href='/writing' class='col-span-2 hover:underline'>
        Writing
      </a>
      <span>/</span>
      <a href='/about' class='col-span-2 col-start-11 hover:underline'>
        About
      </a>  
    </div>
    

</header>
