---
export interface Props {
  goBackPath?: string;
  classes?: string;
}

const { classes = "" } = Astro.props;

const currentPath = Astro.url.pathname;
---
<header class={`top-2  fixed left-4 right-4 border-dotted bottom-auto z-50 col-span-full grid grid-cols-12 gap-4 ${classes}`}>
  <a href="/" class="mix-blend-difference  col-span-4 md:col-span-2 uppercase ">mkcg</a>

  <p class="whitespace-nowrap col-span-4 md:col-span-6 mix-blend-difference ">
    <a href="/" class="x ">Work</a>, <a href="/writing" class="col-span-2 ">Writing</a>
  </p>
  <a href="/info" class={`col-span-4 justify-self-end mix-blend-difference `}>Info</a>
</header>