---
import ThemeButton from "./ThemeButton.astro";
import UpRightArrowIcon from "./icons/UpRightArrowIcon.astro";

export interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

const links = [
  { href: "/work", text: "Work" },
  { href: "/writing", text: "Writing" },
  { href: "/about", text: "About" },
];

const currentPath = Astro.url.pathname;
---

<header
  class={`
    relative col-span-full grid grid-cols-2 lg:grid-cols-4 gap-6 pt-4 sm:pt-6 -my-1
    ${classes}
  `}
>
  <div class="flex items-center justify-between gap-4">
    <a href="/" class="hover:underline">Max Georgopoulos</a>
  </div>

  <div class="lg:col-start-4 flex gap-1 text-neutral-490">
    {links.map(({ href, text }, index) => (
      <span>
        <a
          href={href}
          class={`
            ${currentPath.includes(href) ? "text-neutral-200" : ""}
            hover:underline -mr-0.5
          `}
        >
          {text}
        </a>
        {index < links.length - 1 ? <span>,</span> : null}
      </span>
    ))}
  </div>

  <!-- <ThemeButton classes="absolute top-[18px] sm:top-[26px] right-0" /> -->
</header>
