---
import Logo from './Logo.astro';
import Tab from './Tab.astro';

export interface Props {
  activeTab?: string;
  currentPage?: string;
  path?: string;
}
// The question you want to know is if you're on the home page or not?
  // Well you could be on the About page, which shouldn't expand the Tab list
---

<header class='h-8 border-box flex md:hidden items-center justify-between border-b-[0.5px] border-gray-dark w-full py-1.5'>
  <a href='#' class='-ml-px'>
    <Logo/>
  </a>
  <div class="md:hidden flex items-center gap-x-3">
    <div class="flex -mr-0.5">
      <span class="h-3 w-3 border-2 border-black border-box rounded-full bg-red z-[3]"></span>
      <span class="h-3 w-3 border-2 border-black border-box rounded-full bg-blue -ml-1 z-[2]"></span>
      <span class="h-3 w-3 border-2 border-black border-box rounded-full bg-yellow -ml-1 z-[1]"></span>
    </div>
    <span class="text-[#666]">/</span>
    <Tab title='work' />
    <span class="hidden xs:inline-block text-[#666]">/</span>
    <p class="hidden xs:inline-block">Formie</p>
  </div>
</header>
