---
import Link from "./Link.astro"

export interface Props {
  goBackPath?: string;
  classes?: string;
}

const { goBackPath = "/", classes = "" } = Astro.props;

const currentPath = Astro.url.pathname;

const date = new Date();
---
<header
  class={`
    col-span-full grid grid-cols-8 border-b -mx-4 border-neutral-600 px-4
    ${classes}
  `}
>
  {currentPath !== "/" ? (
    <a 
      href={goBackPath} 
      class="group w-full flex items-center justify-center -ml-4"
    >
      MG
    </a>
  ) : (
    <p class=" flex items-center justify-center w-full -ml-4">MG</p>
  )}
  <Link 
    href="/work" 
    classes={`
      border-l  flex justify-center border-neutral-600 col-span-2 md:col-span-1 w-full
      ${
        currentPath.includes("/work") || currentPath.includes("/study") 
          ? "border-b border-b-[#111] h-[17px] -mb-px" 
          : ""
      }
    `}
  >
    Work
  </Link>
  <Link href="/writing" classes={`
    border-l   flex justify-center border-neutral-600 col-span-2 md:col-span-1 w-full
    ${
      currentPath.includes("/writing") 
        ? "border-b border-b-[#111] h-[17px] -mb-px" 
        : ""
    }
  `}>
    Writing
  </Link>
  <Link href="/info" classes={`
      border-l flex justify-center border-neutral-600 col-span-2 md:col-span-1 w-full
    ${
      currentPath.includes("/info") 
        ? "border-b border-b-[#111] h-[17px] -mb-px" 
        : ""
    }
  `}>
    Info
  </Link>
  <div class="relative col-span-3  border-l border-neutral-600">
    <span class="absolute z-50 top-0 left-0 h-4 bg-[#111]"></span>
    <div class="news marquee ">
    <div class="text">
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
    </div>
    <div class="text">
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
        <span>Coming Soon</span>
    </div>
  </div>
    <span class="absolute z-50 top-0 right-0 h-4 bg-[#111]"></span>
  </div>
  <div class="flex justify-center border-l border-neutral-600 -mr-4">{date.getTime()}</div>
</header>

<style>
  .news {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
  }

  .text {
    animation: animate_text 120s linear infinite;
    font-size: 12px;
    line-height: 16px;
  }

  .text span {
    margin-right: 3px;
  }

  @keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
</style>
