---
import clsx from 'clsx';

export interface Props {
  classes?: string | string[];
}

const { classes = "" } = Astro.props;
---

<div class={clsx(
  "inset-border absolute z-50 inset-0 shadow-[inset_0_1px_0_rgba(0,0,0,0.05),_inset_0_-1px_0_rgba(0,0,0,0.05)] dark:shadow-[inset_0_1px_0_rgba(255,255,255,0.05),_inset_0_-1px_0_rgba(255,255,255,0.05)] pointer-events-none",
  classes
)}></div>