---
import ExternalLinkIcon from './icons/ExternalLinkIcon.astro';
export interface Props {
  isMobile?: string;
}
const { isMobile = false } = Astro.props;
---

{isMobile ? (
  <ul class='flex md:hidden flex-col w-full'>
    <li class="w-full border-t-[0.5px] border-gray-dark">
      <a href="#">Twitter</a>
    </li>
    <li class="w-full border-t-[0.5px] border-gray-dark">
      <a href="#">Github</a>
    </li>
    <li class="w-full border-t-[0.5px] border-gray-dark">
      <a href="#">Dribbble</a>
    </li>
    <li class="w-full border-t-[0.5px] border-gray-dark">
      <a href="#">Are.na</a>
    </li>
    <li class="w-full border-y-[0.5px] border-gray-dark">
      <a href="#">Email</a>
    </li>
  </ul>
) : (
  <ul class='hidden md:flex flex-col w-full'>
    <li class="flex items-center  gap-x-1 w-full border-t-[0.5px] border-gray-dark">
      <ExternalLinkIcon classes="w-4 h-4 -ml-1" />
      <a href="#">Twitter</a>
    </li>
    <li class="flex items-center  gap-x-1 w-full border-t-[0.5px] border-gray-dark">
      <ExternalLinkIcon classes="w-4 h-4 -ml-1" />
      <a href="#">Github</a>
    </li>
    <li class="flex items-center  gap-x-1 w-full border-t-[0.5px] border-gray-dark">
      <ExternalLinkIcon classes="w-4 h-4 -ml-1" />
      <a href="#">Dribbble</a>
    </li>
    <li class="flex items-center  gap-x-1 w-full border-t-[0.5px] border-gray-dark">
      <ExternalLinkIcon classes="w-4 h-4 -ml-1" />
      <a href="#">Are.na</a>
    </li>
    <li class="flex items-center  gap-x-1 w-full border-y-[0.5px] border-gray-dark">
      <ExternalLinkIcon classes="w-4 h-4 -ml-1" />
      <a href="#">Email</a>
    </li>
  </ul>
)}
