---

import UpRightArrowIcon from './icons/UpRightArrowIcon.astro';
export interface Props {
  href: string;
  target?: '_self' | '_blank';
  classes?: string;
}

const { href, target = '_self', classes = "" } = Astro.props;
---
<a 
  href={href} 
  target={target}
  class={`group hover:no-underline w-fit ${classes}`}
>
  <span class="w-fit group-hover:bg-neutral-750">
    <slot />
    {target === '_blank' && <UpRightArrowIcon classes="inline -ml-[3px] mb-px" />}
  </span>
</a>
