---

import UpRightArrowIcon from './icons/UpRightArrowIcon.astro';
export interface Props {
  href: string;
  target?: '_self' | '_blank';
  hasIcon?: boolean;
  classes?: string;
}

const { href, target = '_self', hasIcon = true, classes = "" } = Astro.props;
---
<a 
  href={href} 
  target={target}
  class={`cursor-pointer hover:no-underline w-fit transition duration-75 hover:bg-[#e1e1e1]  px-[1px] -mx-[1px]  ${classes}`}
>
  <span class="w-fit ">
    <slot />
    {hasIcon && target === '_blank' && <UpRightArrowIcon classes="inline -ml-[3px] -mr-px mb-px" />}
  </span>
</a>
