---
export interface Props {
	type: 'project' | 'writing';
	href: string;
	title: string;
	description: string;
	externalLink?: boolean;
}

const { type, href, title, description, externalLink = false } = Astro.props;
---
<a 
	href={href}
	target={externalLink ? '_blank' : '_self'}
	class="group relative col-span-full grid grid-cols-12 p-5 border-b-[0.5px] last:border-0 border-gray-darker hover:bg-gray focus:bg-gray "
>
	<div class='col-span-6 pr-5 -my-1'>
		<p>{title}</p>
	</div>
	<div class={`
		${type === 'writing' ? 'text-sm' : null}
		col-span-6 -my-1
	`}>
		<p>{description}</p>
	</div>
</a>
