---

import UpRightArrowIcon from './icons/UpRightArrowIcon.astro';
export interface Props {
  href: string;
  target?: '_self' | '_blank';
  classes?: string;
}

const { href, target = '_self', classes = "" } = Astro.props;

const hasContent = Astro.slots.has('default');
---
<a 
  href={href} 
  target={target}
  class={`group hover:no-underline ${classes}`}
>
  <span class="w-fit group-hover:bg-neutral-750">
    <slot />
    {target === '_blank' && <UpRightArrowIcon classes="inline -ml-px mb-px" />}
  </span>
</a>
