---
import ExternalLinkIcon from './icons/ExternalLinkIcon.astro';
export interface Props {
  isMobile?: boolean;
  hasIcons?: boolean;
  hasDividers?: boolean;
  isInfititeScroll?: boolean;
}
const { 
  isMobile = false, 
  hasIcons = false, 
  hasDividers = false,
  isInfititeScroll = false
} = Astro.props;
---
<div class={`
  text-gray text-xs
  ${isMobile ? 'flex md:hidden' : 'hidden md:flex'}
  ${isInfititeScroll ? 'infinite-scroller full-width' : null}`
}>
  <ul class={`flex ${isInfititeScroll ? 'gap-x-3' : 'flex-col w-full gap-y-0.5'}`}>
    <li class={`
      ${hasDividers && 'border-t-[0.5px] border-gray-dark'}
      flex items-center gap-x-1 w-full
      `}>
      {hasIcons && <ExternalLinkIcon classes="w-4 h-4 -ml-1" />}
      <a href="#">Email</a>
    </li>
    <li class={`
      ${hasDividers && 'border-t-[0.5px] border-gray-dark'}
      flex items-center gap-x-1 w-full
      `}>
      {hasIcons && <ExternalLinkIcon classes="w-4 h-4 -ml-1" />}
      <a href="#">Are.na</a>
    </li>
    <li class={`
      ${hasDividers && 'border-t-[0.5px] border-gray-dark'}
      flex items-center gap-x-1 w-full
    `}>
      {hasIcons && <ExternalLinkIcon classes="w-4 h-4 -ml-1" />}
      <a href="#">Github</a>
    </li>
    <li class={`
      ${hasDividers && 'border-t-[0.5px] border-gray-dark'}
      flex items-center gap-x-1 w-full
    `}>
      {hasIcons && <ExternalLinkIcon classes="w-4 h-4 -ml-1" />}
      <a href="#">Twitter</a>
    </li>
    <li class={`
      ${hasDividers && 'border-t-[0.5px] border-gray-dark'}
      flex items-center gap-x-1 w-full
    `}>
      {hasIcons && <ExternalLinkIcon classes="w-4 h-4 -ml-1" />}
      <a href="#">Dribbble</a>
    </li>
  </ul>
  {isInfititeScroll && (
    <ul class={`flex ${isInfititeScroll ? 'gap-x-3' : 'flex-col w-full'}`}>
      <li class={`
        ${hasDividers && 'border-t-[0.5px] border-gray-dark'}
        flex items-center gap-x-1 w-full
      `}>
        {hasIcons && <ExternalLinkIcon classes="w-4 h-4 -ml-1" />}
        <a href="#">Email</a>
      </li>
      <li class={`
        ${hasDividers && 'border-t-[0.5px] border-gray-dark'}
        flex items-center gap-x-1 w-full
      `}>
        {hasIcons && <ExternalLinkIcon classes="w-4 h-4 -ml-1" />}
        <a href="#">Are.na</a>
      </li>
      <li class={`
        ${hasDividers && 'border-t-[0.5px] border-gray-dark'}
        flex items-center gap-x-1 w-full
      `}>
        {hasIcons && <ExternalLinkIcon classes="w-4 h-4 -ml-1" />}
        <a href="#">Github</a>
      </li>
      <li class={`
        ${hasDividers && 'border-t-[0.5px] border-gray-dark'}
        flex items-center gap-x-1 w-full
      `}>
        {hasIcons && <ExternalLinkIcon classes="w-4 h-4 -ml-1" />}
        <a href="#">Twitter</a>
      </li>
      <li class={`
        ${hasDividers && 'border-t-[0.5px] border-gray-dark'}
        flex items-center gap-x-1 w-full
      `}>
        {hasIcons && <ExternalLinkIcon classes="w-4 h-4 -ml-1" />}
        <a href="#">Dribbble</a>
      </li>
    </ul>
  )}
</div>

<style>
  .infinite-scroller {
    overflow: hidden;
    position: relative;
  }
  &:hover li {
		animation-play-state: paused;
	}

  .infinite-scroller > ul > * { 
		position: relative;
		animation: marquee 5s linear infinite;
	}

  @keyframes marquee {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
</style>
