---

import UpRightArrowIcon from './icons/UpRightArrowIcon.astro';
export interface Props {
  href: string;
  target?: '_self' | '_blank';
  classes?: string;
}

const { href, target = '_self', classes = "" } = Astro.props;
---
<a 
  href={href} 
  target={target}
  class={`cursor-pointer hover:no-underline w-fit transition duration-75 hover:bg-[#e1e1e1]  px-[3px] -mx-[3px] rounded-[3px] ${classes}`}
>
  <span class="w-fit ">
    <slot />
    {target === '_blank' && <UpRightArrowIcon classes="inline -ml-[3px] -mr-px mb-px" />}
  </span>
</a>
