---
export interface Props {
	type: 'project' | 'writing';
	href: string;
	title: string;
	description: string;
	externalLink?: boolean;
}

const { type, href, title, description, externalLink = false } = Astro.props;
---
<a 
	href={href}
	target={externalLink ? '_blank' : '_self'}
	class={`
		group relative col-span-full items-baseline gap-x-5 lg:gap-x-10 flex
	`}
>
	<p class='basis-1/2 sm:basis-1/3 lg:basis-1/2 group-hover:underline'>
		{title}
	</p>
	<p class={`
		${type === 'writing' ? 'text-[13px]' : null}
		basis-1/2 sm:basis-2/3 lg:basis-1/2
	`}>
		{description}
	</p>
</a>

<style>
	a:last-child > div {
		border-bottom: none;
	}
</style>
