---
export type Props = {
  link?: string | false;
  classes?: string;
};

const { link = '/', classes = "" } = Astro.props;

const gifs = [
  'kill-bill',
  'akira-falling',
  '912',
  '812',
  'twin-peaks',
];
---

{link ? (
  <a href="/" class={` flex items-center h-4 gap-[7px] relative focus:h-fit ${classes}`}>
    <span class="h-[10px] w-[10px] bg-[#0E9900] mb-px"></span>
    <span>MKCG</span>
  </a>
  // <a href="/" class={` flex justify-between grayscale  hover:grayscale-0 transition-all relative h-4 w-[108px] focus:h-fit ${classes}`}>
  //   {"MKCG".split('').map((letter) => <span class=" uppercase mix-blend-difference z-[1]">{letter}</span>)}
  //   <img src={`/gifs/${gifs[Math.floor(Math.random() * gifs.length)]}.gif`} class=" brightness-80  w-full h-full object-cover absolute inset-0 z-0" />
  // </a>
) : (
  <div class={`flex gap-[7px] items-center mix-blend-difference ${classes}`}>
    <span class="h-[10px] w-[10px] bg-[#0E9900] mb-px"></span>
    <span class="uppercase flex gap-px left-0 right-0 ">
      MKCG
    </span>
  </div>
)}


