
---
import type { boolean } from 'astro/zod';

export interface Props {
  classes?: string;
  useSvg?: boolean;
  size?: 'small' | 'normal';
}
const { classes, useSvg = false, size = 'normal' } = Astro.props;
---

{useSvg ? size === 'small' ? (
  <svg width="29" height="20" viewBox="0 0 29 20" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_82_2)">
  <path d="M3.128 15H1.035L2.392 7.341C2.45333 6.927 2.40733 6.63567 2.254 6.467C2.10067 6.29833 1.82467 6.18333 1.426 6.122L1.564 5.294L3.933 4.604H4.784L4.531 6.053C5.727 4.97967 6.77733 4.443 7.682 4.443C8.924 4.443 9.75967 4.972 10.189 6.03C11.4003 4.972 12.5273 4.443 13.57 4.443C14.628 4.443 15.4177 4.82633 15.939 5.593C16.4603 6.34433 16.606 7.341 16.376 8.583L15.502 13.137C15.41 13.5663 15.6093 13.781 16.1 13.781C16.2993 13.781 16.5063 13.7657 16.721 13.735L16.56 14.655C16.1 14.9617 15.548 15.115 14.904 15.115C14.352 15.115 13.938 14.9387 13.662 14.586C13.4013 14.218 13.3323 13.7043 13.455 13.045L14.26 8.698C14.582 6.996 14.0147 6.145 12.558 6.145C11.868 6.145 11.1397 6.33667 10.373 6.72C10.4957 7.25667 10.4957 7.87767 10.373 8.583L9.269 15H7.176L8.257 8.698C8.56367 6.996 8.027 6.145 6.647 6.145C6.03367 6.145 5.34367 6.329 4.577 6.697L3.128 15ZM21.2781 19.761C19.8981 19.761 18.8171 19.5157 18.0351 19.025C17.2531 18.5497 16.8621 17.9133 16.8621 17.116C16.8621 15.9353 17.6747 15.0307 19.3001 14.402C18.7634 14.0493 18.4951 13.5357 18.4951 12.861C18.4951 11.8797 19.1314 11.136 20.4041 10.63C19.4381 10.0933 18.9551 9.28067 18.9551 8.192C18.9551 7.088 19.3921 6.191 20.2661 5.501C21.1401 4.79567 22.1827 4.443 23.3941 4.443C24.3907 4.443 25.2187 4.61933 25.8781 4.972L26.2691 2.626H28.4311C28.0937 3.60733 27.4497 4.535 26.4991 5.409C27.0817 5.94567 27.3731 6.628 27.3731 7.456C27.3731 8.57533 26.9437 9.48 26.0851 10.17C25.2264 10.86 24.1684 11.205 22.9111 11.205C22.2517 11.205 21.6461 11.1207 21.0941 10.952C20.5421 11.2587 20.2661 11.6727 20.2661 12.194C20.2661 12.562 20.4884 12.838 20.9331 13.022C21.3931 13.1907 21.9451 13.3057 22.5891 13.367C23.2331 13.413 23.8771 13.4897 24.5211 13.597C25.1804 13.7043 25.7324 13.942 26.1771 14.31C26.6371 14.678 26.8671 15.1993 26.8671 15.874C26.8671 16.932 26.3304 17.8443 25.2571 18.611C24.1991 19.3777 22.8727 19.761 21.2781 19.761ZM22.9341 10.239C23.6241 10.239 24.1837 9.963 24.6131 9.411C25.0577 8.859 25.2801 8.23033 25.2801 7.525C25.2801 6.881 25.1114 6.375 24.7741 6.007C24.4521 5.62367 23.9921 5.432 23.3941 5.432C22.7194 5.432 22.1597 5.708 21.7151 6.26C21.2704 6.812 21.0481 7.44833 21.0481 8.169C21.0481 8.78233 21.2167 9.28067 21.5541 9.664C21.9067 10.0473 22.3667 10.239 22.9341 10.239ZM18.7481 16.702C18.7481 17.2847 18.9704 17.7447 19.4151 18.082C19.8597 18.4347 20.5114 18.611 21.3701 18.611C22.4281 18.611 23.2791 18.4117 23.9231 18.013C24.5824 17.6297 24.9121 17.1237 24.9121 16.495C24.9121 16.0197 24.6514 15.6823 24.1301 15.483C23.6241 15.299 22.9111 15.161 21.9911 15.069C21.0711 14.977 20.3964 14.8543 19.9671 14.701C19.1544 15.2683 18.7481 15.9353 18.7481 16.702Z" fill="white"/>
  </g>
  <defs>
  <clipPath id="clip0_82_2">
  <rect width="29" height="20" fill="white"/>
  </clipPath>
  </defs>
  </svg>
) : (
  <svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_81_53)">
  <path d="M3.264 14H1.08L2.496 6.008C2.56 5.576 2.512 5.272 2.352 5.096C2.192 4.92 1.904 4.8 1.488 4.736L1.632 3.872L4.104 3.152H4.992L4.728 4.664C5.976 3.544 7.072 2.984 8.016 2.984C9.312 2.984 10.184 3.536 10.632 4.64C11.896 3.536 13.072 2.984 14.16 2.984C15.264 2.984 16.088 3.384 16.632 4.184C17.176 4.968 17.328 6.008 17.088 7.304L16.176 12.056C16.08 12.504 16.288 12.728 16.8 12.728C17.008 12.728 17.224 12.712 17.448 12.68L17.28 13.64C16.8 13.96 16.224 14.12 15.552 14.12C14.976 14.12 14.544 13.936 14.256 13.568C13.984 13.184 13.912 12.648 14.04 11.96L14.88 7.424C15.216 5.648 14.624 4.76 13.104 4.76C12.384 4.76 11.624 4.96 10.824 5.36C10.952 5.92 10.952 6.568 10.824 7.304L9.672 14H7.488L8.616 7.424C8.936 5.648 8.376 4.76 6.936 4.76C6.296 4.76 5.576 4.952 4.776 5.336L3.264 14ZM22.2032 18.968C20.7632 18.968 19.6352 18.712 18.8192 18.2C18.0032 17.704 17.5952 17.04 17.5952 16.208C17.5952 14.976 18.4432 14.032 20.1392 13.376C19.5792 13.008 19.2992 12.472 19.2992 11.768C19.2992 10.744 19.9632 9.968 21.2912 9.44C20.2832 8.88 19.7792 8.032 19.7792 6.896C19.7792 5.744 20.2352 4.808 21.1472 4.088C22.0592 3.352 23.1472 2.984 24.4112 2.984C25.4512 2.984 26.3152 3.168 27.0032 3.536L27.4112 1.088H29.6672C29.3152 2.112 28.6432 3.08 27.6512 3.992C28.2592 4.552 28.5632 5.264 28.5632 6.128C28.5632 7.296 28.1152 8.24 27.2192 8.96C26.3232 9.68 25.2192 10.04 23.9072 10.04C23.2192 10.04 22.5872 9.952 22.0112 9.776C21.4352 10.096 21.1472 10.528 21.1472 11.072C21.1472 11.456 21.3792 11.744 21.8432 11.936C22.3232 12.112 22.8992 12.232 23.5712 12.296C24.2432 12.344 24.9152 12.424 25.5872 12.536C26.2752 12.648 26.8512 12.896 27.3152 13.28C27.7952 13.664 28.0352 14.208 28.0352 14.912C28.0352 16.016 27.4752 16.968 26.3552 17.768C25.2512 18.568 23.8672 18.968 22.2032 18.968ZM23.9312 9.032C24.6512 9.032 25.2352 8.744 25.6832 8.168C26.1472 7.592 26.3792 6.936 26.3792 6.2C26.3792 5.528 26.2032 5 25.8512 4.616C25.5152 4.216 25.0352 4.016 24.4112 4.016C23.7072 4.016 23.1232 4.304 22.6592 4.88C22.1952 5.456 21.9632 6.12 21.9632 6.872C21.9632 7.512 22.1392 8.032 22.4912 8.432C22.8592 8.832 23.3392 9.032 23.9312 9.032ZM19.5632 15.776C19.5632 16.384 19.7952 16.864 20.2592 17.216C20.7232 17.584 21.4032 17.768 22.2992 17.768C23.4032 17.768 24.2912 17.56 24.9632 17.144C25.6512 16.744 25.9952 16.216 25.9952 15.56C25.9952 15.064 25.7232 14.712 25.1792 14.504C24.6512 14.312 23.9072 14.168 22.9472 14.072C21.9872 13.976 21.2832 13.848 20.8352 13.688C19.9872 14.28 19.5632 14.976 19.5632 15.776Z" fill="white"/>
  </g>
  <defs>
  <clipPath id="clip0_81_53">
  <rect width="30" height="20" fill="white"/>
  </clipPath>
  </defs>
  </svg>
  ) : (
  <span 
    class={`
      leading-6 pb-2 text-2xl tracking-tight 
      ${classes}
    `}
    style="font-family: 'Erode-VariableItalic';" 
  >
    mg
  </span>
)}