---
import RightArrowIcon from "./icons/RightArrowIcon.astro";
import UpRightArrowIcon from "./icons/UpRightArrowIcon.astro";
import CopyIcon from "./icons/CopyIcon.astro";
import CheckIcon from "./icons/CheckIcon.astro";
export interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

const links: {
  name: string;
  url: string;
  target?: "_self" | "_blank";
}[] = [
  {
    name: "CV",
    url: "/resume-max-georgopoulos.pdf",
    target: '_self'
  },
  {
    name: "Arena",
    url: "https://www.are.na/max-georgopoulos",
  },
  {
    name: "Layers",
    url: "https://layers.to/maxgeorgopoulos",
  },
  {
    name: "Github",
    url:  "https://github.com/maxgeor",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/maxoulos",
  },
  {
    name: "Dribbble",
    url: "https://dribbble.com/maxgeo",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/max-georgopoulos-109095136/",
  },
];
---

<ul>
  {links.map((link) => (
    <li>
      <a
        href={link.url}
        target={link.target}
        class=" flex w-full items-center justify-between gap-[5px] transition duration-75 hover:bg-[#e1e1e1]"
      >
        {link.name}
        <hr class="border-t h-px border-black border-dotted  w-full" />
        {link.target === "_self" ? (
          <RightArrowIcon  classes="shrink-0 opacity-80 -ml-[3px]" />
        ) : (
          <UpRightArrowIcon classes="shrink-0 opacity-80 -ml-[3px]" />
        )}
      </a>
    </li>
  ))}
  <li>
    <button
      aria-label="Copy email"
      class={`copy-email-button relative flex justify-between gap-[5px] w-full items-center ring-offset-2 ring-pink focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-pink  cursor-default transition duration-75 hover:bg-[#e1e1e1]`}
    >
      <span class="capitalize">Email</span>
      <hr class="border-t h-px border-black border-dotted w-full" />
      <CopyIcon id="copy-icon" classes="shrink-0 opacity-80 " />
      <CheckIcon id="check-icon" classes="hidden shrink-0 opacity-80" />
    </button>
  </li>
</ul>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const emailButtons: NodeListOf<HTMLButtonElement> = 
      document.querySelectorAll('.copy-email-button');

    emailButtons.forEach((button) => {
      button?.addEventListener("click", () => {
        navigator.clipboard.writeText('max123358@gmail.com');
  
        const copyIcon: HTMLElement | null = button.querySelector("#copy-icon");
        const checkIcon: HTMLElement | null = button.querySelector("#check-icon");
  
        copyIcon?.classList.add("hidden");
        checkIcon?.classList.remove("hidden");
  
        setTimeout(() => {
          copyIcon?.classList.remove("hidden");
          checkIcon?.classList.add("hidden");
        }, 2500);
      });
    })
  });
</script>
