---
import CopyIcon from "./icons/CopyIcon.astro";
import CheckIcon from "./icons/CheckIcon.astro";
import UpRightArrowIcon from "./icons/UpRightArrowIcon.astro";

export interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

const links = [
  {
    name: "CV",
    url: "/resume-max-georgopoulos.pdf",
  },
  {
    name: "Arena",
    url: "https://www.are.na/max-georgopoulos",
  },
  {
    name: "Layers",
    url: "https://layers.to/maxgeorgopoulos",
  },
  {
    name: "Github",
    url:  "https://github.com/maxgeor",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/maxoulos",
  },
  {
    name: "Dribbble",
    url: "https://dribbble.com/maxgeo",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/max-georgopoulos-109095136/",
  },
];
---

<ul class={`flex flex-col ${classes}`}>
  {links.map(link => (
    <li>
      <a
        href={link.url}
        target="_blank"
        class="flex w-full items-center justify-between border-t-[0.5px] border-[#636363]  hover:bg-neutral-700 py-1"
      >
        {link.name}
        <UpRightArrowIcon classes="" />
      </a>
    </li>
  ))}
  <li>
    <button
      id="email"
      aria-label="Copy email"
      class="relative flex w-full cursor-pointer items-center justify-between border-y-[0.5px] border-[#636363] focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-yellow focus-visible:ring-offset-4 ring-offset-neutral-700 hover:bg-neutral-700 py-1"
    >
      <span class="flex gap-px uppercase">
        max123358<code>@</code>gmail<span class="hidden xs:inline-block">.com</span>
      </span>
      <CopyIcon id="copy-icon" classes="absolute right-0 transform " />
      <CheckIcon id="check-icon" classes="absolute right-0 transform opacity-0 text-green scale-75" />
    </button>
  </li>
</ul>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const email = document.querySelector("#email") as HTMLElement;

    email?.addEventListener("click", () => {
      navigator.clipboard.writeText(email.innerText);

      const copyIcon = document.querySelector("#copy-icon") as HTMLElement;
      const checkIcon = document.querySelector("#check-icon") as HTMLElement;

      copyIcon.classList.add("opacity-0", 'scale-75');
      checkIcon.classList.remove("opacity-0", 'scale-75');

      setTimeout(() => {
        copyIcon.classList.remove("opacity-0", 'scale-75');
        checkIcon.classList.add("opacity-0", 'scale-75');
      }, 2500);
    });
  });
</script>
