---
import RightArrowIcon from "./icons/RightArrowIcon.astro";
import UpRightArrowIcon from "./icons/UpRightArrowIcon.astro";
import CopyEmailButton from "./CopyEmailButton.astro";

export interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

const links = [
  {
    name: "CV",
    url: "/resume-max-georgopoulos.pdf",
    target: '_self'
  },
  {
    name: "Arena",
    url: "https://www.are.na/max-georgopoulos",
  },
  {
    name: "Layers",
    url: "https://layers.to/maxgeorgopoulos",
  },
  {
    name: "Github",
    url:  "https://github.com/maxgeor",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/maxoulos",
  },
  {
    name: "Dribbble",
    url: "https://dribbble.com/maxgeo",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/max-georgopoulos-109095136/",
  },
];
---

<ul class={`flex flex-col  ${classes}`}>
  {links.map((link) => (
    <li class="-ml-[3px] hover:bg-black hover:text-white">
      <a
        href={link.url}
        target={link.target || "_blank"}
        class="flex w-full items-center gap-1 "
      >
        {link.target === "_self" ? (
          <RightArrowIcon classes="shrink-0" />
        ) : (
          <UpRightArrowIcon classes="shrink-0" />
        )}
        {link.name}
      </a>
    </li>
  ))}
  <li class="-ml-[3px] "><CopyEmailButton>email</CopyEmailButton></li>
</ul
