---
import Divider from "./Divider.astro";
import RightArrowIcon from "./icons/RightArrowIcon.astro";
import UpRightArrowIcon from "./icons/UpRightArrowIcon.astro";
import CopyEmailButton from "./CopyEmailButton.astro";
export interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

const links: {
  name: string;
  url: string;
  target?: "_self" | "_blank";
}[] = [
  {
    name: "CV",
    url: "/resume-max-georgopoulos.pdf",
    target: '_self'
  },
  {
    name: "Arena",
    url: "https://www.are.na/max-georgopoulos",
  },
  {
    name: "Layers",
    url: "https://layers.to/maxgeorgopoulos",
  },
  {
    name: "Github",
    url:  "https://github.com/maxgeor",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/maxoulos",
  },
  {
    name: "Dribbble",
    url: "https://dribbble.com/maxgeo",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/max-georgopoulos-109095136/",
  },
];
---

<ul class={`flex flex-col  ${classes}`}>
  {links.map((link) => (
    <li>
    {/* <li class="-mx-[3px]" > */}
      <a
        href={link.url}
        target={link.target}
        class="flex w-full items-center justify-between gap-1 transition duration-75 hover:bg-[#e1e1e1]"
        // class="flex w-full items-center justify-between gap-1 transition duration-75 hover:bg-[#e1e1e1] px-[3px] "
      >
        {link.name}
        {link.target === "_self" ? (
          <RightArrowIcon classes="shrink-0 -mr-0.5" />
        ) : (
          <UpRightArrowIcon classes="shrink-0 -mr-0.5" />
        )}
      </a>
      <Divider />
    </li>
  ))}
  <li>
    <CopyEmailButton>email</CopyEmailButton>
  </li>
  <!-- <li class="-mx-[3px]">
    <CopyEmailButton classes="transition duration-75 hover:bg-[#e1e1e1] px-[3px]  w-full">email</CopyEmailButton>
  </li> -->
</ul
