---
import CopyIcon from "./icons/CopyIcon.astro";
import CheckIcon from "./icons/CheckIcon.astro";
import ExternalLinkIcon from "./icons/ExternalLinkIcon.astro";

export interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;

const links = [
  {
    name: "Arena",
    url: "https://www.are.na/max-georgopoulos",
  },
  {
    name: "Layers",
    url: "https://layers.to/maxgeorgopoulos",
  },
  {
    name: "Github",
    url:  "https://github.com/maxgeor",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/maxoulos",
  },
  {
    name: "Dribbble",
    url: "https://dribbble.com/maxgeo",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/max-georgopoulos-109095136/",
  },
];
---

<ul class={`flex flex-col ${classes}`}>
  {links.map(link => (
    <li>
      <a
        href={link.url}
        target="_blank"
        class="flex w-full items-center justify-between border-t py-1 hover:underline border-neutral-190 dark:border-neutral-710"
      >
        {link.name}
        <ExternalLinkIcon classes="mt-0.5 -mr-[3px]" />
      </a>
    </li>
  ))}
  <li>
    <button
      id="email"
      aria-label="Copy email"
      class="group flex w-full cursor-pointer items-center justify-between border-y py-1 border-neutral-190 dark:border-neutral-710 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-4 ring-offset-neutral-800 rounded-sm"
    >
      <div class="flex items-center gap-1">
        <span class="flex gap-px group-hover:underline">
          max123358<code>@</code>gmail.com
        </span>
        <CheckIcon id="confirmation-check" classes="hidden text-blue-500 dark:text-blue-400" />
      </div>
      <CopyIcon id="copy-icon" classes="group-active:scale-90 -mr-[3px]" />
    </button>
  </li>
</ul>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const email = document.querySelector("#email") as HTMLElement;

    email?.addEventListener("click", () => {
      navigator.clipboard.writeText(email.innerText);

      const confirmationCheck = document.querySelector(
        "#confirmation-check"
      ) as HTMLElement;
      confirmationCheck.style.display = "inline";
      setTimeout(() => (confirmationCheck.style.display = "none"), 2000);
    });
  });
</script>
