---
import CopyIcon from "./icons/CopyIcon.astro";
import CheckIcon from "./icons/CheckIcon.astro";
import ExternalLinkIcon from "./icons/ExternalLinkIcon.astro";

export interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;
---

<ul class={`flex flex-col ${classes}`}>
  <li>
    <a
      href="https://www.are.na/max-georgopoulos"
      target="_blank"
      class="flex w-full items-center justify-between border-t py-1 hover:underline dark:border-neutral-700"
    >
      Arena
      <ExternalLinkIcon classes="mt-0.5 -mr-[3px]" />
    </a>
  </li>
  <li>
    <a
      href="https://layers.to/maxgeorgopoulos"
      target="_blank"
      class="flex w-full items-center justify-between border-t py-1 hover:underline dark:border-neutral-700"
    >
      Layers
      <ExternalLinkIcon classes="mt-0.5 -mr-[3px]" />
    </a>
  </li>
  <li>
    <a
      href="https://github.com/maxgeor"
      target="_blank"
      class="flex w-full items-center justify-between border-t py-1 hover:underline dark:border-neutral-700"
    >
      Github
      <ExternalLinkIcon classes="mt-0.5 -mr-[3px]" />
    </a>
  </li>
  <li>
    <a
      href="https://twitter.com/maxoulos"
      target="_blank"
      class="flex w-full items-center justify-between border-t py-1 hover:underline dark:border-neutral-700"
    >
      Twitter
      <ExternalLinkIcon classes="mt-0.5 -mr-[3px]" />
    </a>
  </li>
  <li>
    <a
      href="https://dribbble.com/maxgeo"
      target="_blank"
      class="flex w-full items-center justify-between border-t py-1 hover:underline dark:border-neutral-700"
    >
      Dribbble
      <ExternalLinkIcon classes="mt-0.5 -mr-[3px]" />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/max-georgopoulos-109095136/"
      target="_blank"
      class="flex w-full items-center justify-between border-t py-1 hover:underline dark:border-neutral-700"
    >
      LinkedIn
      <ExternalLinkIcon classes="mt-0.5 -mr-[3px]" />
    </a>
  </li>
  <li>
    <button
      id="email"
      aria-label="Copy email"
      class="group flex w-full cursor-pointer items-center justify-between border-y py-1 dark:border-neutral-700"
    >
      <div class="flex items-center gap-1">
        <span class="flex gap-px group-hover:underline">
          max123358<code>@</code>gmail.com
        </span>
        <CheckIcon id="confirmation-check" classes="hidden text-green" />
      </div>
      <CopyIcon id="copy-icon" classes="group-active:scale-90 -mr-[3px]" />
    </button>
  </li>
</ul>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const email = document.querySelector("#email") as HTMLElement;

    email?.addEventListener("click", () => {
      navigator.clipboard.writeText(email.innerText);

      const confirmationCheck = document.querySelector(
        "#confirmation-check"
      ) as HTMLElement;
      confirmationCheck.style.display = "inline";
      setTimeout(() => (confirmationCheck.style.display = "none"), 2000);
    });
  });
</script>
