---
import type Section from '../types/section';

const tabColorMap = new Map([
  ['work', 'red'],
  ['projects', 'blue'],
  ['writing', 'yellow'],
]);

export interface Props {
  title: Section;
}
const { title } = Astro.props;
---

<span class="flex items-center gap-x-2 ">
  <span 
    class={`
      text-${tabColorMap.get(title.toLowerCase())}
      h-2 w-2 bg-red rounded-full
    `}
  ></span>
  <span class="uppercase tracking-wider text-[11.5px]">{title}</span>
</span>