---
export interface Props {
  type?: 'list' | 'row'
  activeTab?: string;
}
const { activeTab, type = 'list'} = Astro.props;
---

{type === 'row' ? (
  <div class="flex md:hidden items-center w-full full-width">
    <span class="h-6 border-box pt-1 flex items-center justify-center gap-x-2 w-full border-t-[0.5px] border-gray-dark">
      <span class="h-2 w-2 bg-red rounded-full"></span>
      <span class="uppercase tracking-wider text-[11.5px] leading-4">Work</span>
    </span>
    <span class="h-6 border-box pt-1 flex items-center justify-center gap-x-2 w-full border-t-[0.5px] border-gray-dark">
      <span class="h-2 w-2 bg-blue rounded-full"></span>
      <span class="uppercase tracking-wider text-[11.5px] leading-4">Writing</span>
    </span>
    <span class="h-6 border-box pt-1 flex items-center justify-center gap-x-2 w-full border-t-[0.5px] border-gray-dark">
      <span class="h-2 w-2 bg-yellow rounded-full"></span>
      <span class="uppercase tracking-wider text-[11.5px] leading-4">Projects</span>
    </span>
  </div>
) : (
  <div class="hidden md:flex flex-col w-full ">
    <span class='flex items-center gap-x-2 w-full'>
      {/* 
        <span class="h-2 w-2 bg-red rounded-full"></span>
      */}
      <span class="h-2 w-2 bg-transparent rounded-full"></span>
      <span class="uppercase tracking-wider text-[11.5px] leading-4">Work</span>
    </span>
    {/* 
      <span class='flex items-center gap-x-2 w-full'>
        <span class="h-2 w-2 bg-blue rounded-full"></span>
        <span class="uppercase tracking-wider text-[11.5px] leading-4">Writing</span>
      </span>
    */}
    <div>
      <span class='flex items-center gap-x-2 w-full'>
        <span class="h-2 w-2 bg-blue rounded-full"></span>
        <span class="uppercase tracking-wider text-[11.5px] leading-4">Writing</span>
      </span>
      <span class="flex gap-x-[7px] ml-[3px]">
        <div class="mt-[4.5px] h-[9.5px] w-1.5 border-l border-b border-[#5f5f5f] shrink-0"></div>
        <span class=" text-gray  pt-1 pb-2">Yes, you can learn to code</span>
      </span>
    </div>
    <span class='flex items-center gap-x-2 w-full'>
      <span class="h-2 w-2 bg-transparent rounded-full"></span>
      {/* 
        <span class="h-2 w-2 bg-yellow rounded-full"></span>
      */}
      <span class="uppercase tracking-wider text-[11.5px] leading-4">Projects</span>
    </span>
    {/*
      <div >
        <span class='flex items-center gap-x-2 w-full'>
          <span class="h-2 w-2 bg-red rounded-full"></span>
          <span class="uppercase tracking-wider text-[11.5px] leading-4">Pork</span>
        </span>
        <span class="flex gap-x-[7px] ml-[3px]">
          <div class="mt-0.5 h-2 w-1.5 border-l border-b border-gray shrink-0"></div>
          
          <span class="text-[11.5px] leading-4 text-gray -mt-px pb-px ">Memiori</span>
        </span>
      </div>
    */}
  </div>
)}