---
export interface Props { 
  classes?: string; 
}
const { classes = "" } = Astro.props;
---

<button id="theme-button" class={`transition group justify-self-end p-5 -m-5 ${classes}`}>
  <div class="transition h-2 w-2 rounded-full border border-[#393e47] dark:border-[#B8B8B8] group-hover:bg-[#212121] group-active:bg-[#212121] group-hover:border-[#212121] group-active:border-[#212121] dark:group-hover:bg-white dark:group-active:bg-white dark:group-hover:border-white dark:group-active:border-white shrink-0"></div>
</button>

<script>
  const themeButton = document.querySelector('#theme-button') as HTMLButtonElement;
  
  themeButton.addEventListener('click', () => {
    switch (localStorage.theme) {
      case "light":
        localStorage.theme = 'dark'
        break;
      case "dark":
        localStorage.theme = 'light'
        break;
      default:
        localStorage.theme = 'light'
    }
    location.reload();
  });
</script>
