<button id="theme-button" class="group justify-self-end p-5 -m-5">
  <div class="h-2 w-2 rounded-full group-hover:scale-[120%] group-active:scale-[110%] group-focus:scale-[120%] border border-black dark:border-[#9aa9b6] group-hover:bg-[#0b0f12] group-focus:bg-[#0b0f12] group-hover:border-[#0b0f12] group-focus:border-[#0b0f12] dark:group-hover:bg-white dark:group-focus:bg-white dark:group-hover:border-white dark:group-focus:border-white shrink-0 transition duraton-75"></div>
</button>

<script>
  const themeButton = document.querySelector('#theme-button') as HTMLButtonElement;

  const toggleTheme = () => {
    switch (localStorage.theme) {
      case "light":
        localStorage.theme = 'dark'
        break;
      case "dark":
        localStorage.theme = 'light'
        break;
      default:
        localStorage.theme = 'light'
    }
    location.reload();
  };

  themeButton.addEventListener('click', () => toggleTheme());
</script>
