---
import type { Buttonable } from "./Button.astro";
import Button from "./Button.astro";

export type Props = Buttonable;
const {
  padding = "p-0",
  invisiblePadding = "p-3 -m-3",
  hasBackground = false,
  classes = "",
} = Astro.props;
---

<Button
  id="theme-button"
  padding={padding}
  invisiblePadding={invisiblePadding}
  hasBackground={hasBackground}
  classes={classes}
>
  <div
    class="h-2 w-2 shrink-0 rounded-full border border-gray-700 transition group-hover:border-neutral-800 group-hover:bg-neutral-700 group-active:border-neutral-800 group-active:bg-neutral-700 dark:border-neutral-350 dark:group-hover:border-white dark:group-hover:bg-white dark:group-active:border-white dark:group-active:bg-white"
  >
  </div>
</Button>

<script>
  const themeButton = document.querySelector(
    "#theme-button"
  ) as HTMLButtonElement;

  themeButton.addEventListener("click", () => {
    switch (localStorage.theme) {
      case "light":
        localStorage.theme = "dark";
        break;
      case "dark":
        localStorage.theme = "light";
        break;
      default:
        localStorage.theme = "light";
    }
    location.reload();
  });
</script>
