---
export interface Props { 
  classes?: string; 
}
const { classes = "" } = Astro.props;
---

<button id="theme-button" class={`group justify-self-end p-5 -m-5 ${classes}`}>
  <div class="h-2 w-2 rounded-full border border-[#393e47] dark:border-[#afb2b2] group-hover:bg-[#1c1e1e] group-hover:border-[#1c1e1e] dark:group-hover:bg-white dark:group-hover:border-white shrink-0 transition duration-75"></div>
</button>

<script>
  const themeButton = document.querySelector('#theme-button') as HTMLButtonElement;
  
  themeButton.addEventListener('click', () => {
    switch (localStorage.theme) {
      case "light":
        localStorage.theme = 'dark'
        break;
      case "dark":
        localStorage.theme = 'light'
        break;
      default:
        localStorage.theme = 'light'
    }
    location.reload();
  });
</script>
