---
import clsx from 'clsx';

export interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;
---
<button class={clsx(
  "theme-toggle flex items-center justify-self-end group p-10 -m-10 uppercase",
  classes
)}>
  Light/Dark
</button>

<script>
  const themeToggles = document.querySelectorAll('.theme-toggle');

  function toggleTheme() {
    document.documentElement.classList.toggle('dark');

    if (document.documentElement.classList.contains('dark')) {
      localStorage.setItem('theme', 'dark');
    } else {
      localStorage.setItem('theme', 'light');
    }

    loadThemePreference();
  }

  function loadThemePreference() {
    const theme = localStorage.getItem('theme');

    if (theme === 'dark') {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
  }

  themeToggles?.forEach((toggle) => toggle.addEventListener('click', toggleTheme));
  loadThemePreference();
</script>