---
import type { Buttonable } from "./Button.astro";
import Button from "./Button.astro";

export type Props = Buttonable;
const {
  padding = 0,
  invisiblePadding = 3,
  hasBackground = false,
  classes = "",
} = Astro.props;
---

<Button
  id="theme-button"
  padding={padding}
  invisiblePadding={invisiblePadding}
  hasBackground={hasBackground}
  classes={classes}
>
  <div
    class="h-2 w-2 shrink-0 rounded-full border border-[#3a3e47] transition group-hover:border-[#212121] group-hover:bg-[#212121] group-active:border-[#212121] group-active:bg-[#212121] dark:border-[#B8B8B8] dark:group-hover:border-white dark:group-hover:bg-white dark:group-active:border-white dark:group-active:bg-white"
  >
  </div>
</Button>

<script>
  const themeButton = document.querySelector(
    "#theme-button"
  ) as HTMLButtonElement;

  themeButton.addEventListener("click", () => {
    switch (localStorage.theme) {
      case "light":
        localStorage.theme = "dark";
        break;
      case "dark":
        localStorage.theme = "light";
        break;
      default:
        localStorage.theme = "light";
    }
    location.reload();
  });
</script>
