---
export interface Props {
	href: string;
	title: string;
	description: string;
	roles: string[];
	tools: string[];
	year: number;
	image?: string;
	company?: string;
	collaborators?: {
		name: string;
		href: string;
		role: string;
	}[];
}

const { 
	href, 
	title,
	description,
	roles,
	image,
	year
} = Astro.props;
---
<a 
	href={href}
	class="group grid grid-cols-12 gap-y-5 gap-x-5 xl:gap-x-0 p-5 xl:pr-0 border-b-[0.5px] border-gray-darkest hover:bg-gray focus:bg-gray transition duration-100"
>
	<img src="/work/memiori/cover.png" class="col-span-full sm:hidden aspect-video object-cover w-full"/>
	
	<div class="col-span-full sm:col-span-6 flex flex-col gap-y-5 justify-between w-full xl:pr-5">
		<div class="flex flex-col gap-y-3 sm:gap-y-5">
			<div class="flex justify-between gap-x-5">
				<h2 class="text-[28px] leading-6">
					{title}
				</h2>
				<p class="text-sm leading-5 clear-left -my-1">{year}</p>
			</div>
			<p class="-my-1 text-[#8D8D8D] sm:text-gray-light">{roles.join(', ')}</p>
		</div>
		<p class="-my-1">{description}</p>
	</div>
	<img src="/work/memiori/cover.png" class="col-span-6 hidden sm:block aspect-video object-cover w-full h-full"/>
</a>
