---
export interface Props {
	href: string;
	title: string;
	description: string;
	roles: string[];
	year: number;
	image?: string;
	// titleTightness?: 'normal' | 'tight';
}

const { 
	href, 
	title,
	description,
	roles,
	image,
	titleTightness = 'normal',
} = Astro.props;
---
<a 
	href={href}
	class="col-span-full grid grid-cols-1 sm:grid-cols-12 gap-5 lg:gap-10 xl:gap-20 border-t-[0.5px] border-black pt-3 sm:pt-5"
>	

	<div class="sm:col-span-4 flex flex-col gap-5 sm:gap-10 justify-between h-full">
		<h2 class={`
			${titleTightness === 'tight' ? 'tracking-[-0.175em]' : null}
			font-bodoni uppercase text-[32px] sm:text-[40px] lg:text-[45px] leading-6 sm:leading-8 
		`}>
			{title}
		</h2>
		<div class="flex sm:flex-col gap-5 h-full">
			<div class="basis-1/2 ">
				<p class="-my-1 leading-5">{description}</p>
			</div>
			<div class="basis-1/2 flex sm:items-end ">
				<p class="-my-1 leading-5">{roles.join(', ')}</p>
			</div>
		</div>
	</div>
	<img src="/work/memiori/cover.png" class="sm:col-span-8 aspect-video object-cover w-full sm:h-full"/>
</a>
