---
import { formatDate } from '../utils/formatting';

export interface Props {
  title: string;
  href: string;
  date: string;
}

const { title, href, date } = Astro.props;

const formattedDate = formatDate(date);
---

<a 
  href={href}
  class="col-span-full hover:bg-white hover:text-black flex justify-between xs:justify-auto gap-6 border-t-[0.5px] border-neutral-600 last:border-y-[0.5px]"
>
  <span class="xs:basis-1/2">{title}</span>
  <span class="xs:basis-1/2">{formattedDate}</span>
</a>