---
import { formatDate } from '../utils/formatting';

export interface Props {
  title: string;
  href: string;
  date: string;
}

const { title, href, date } = Astro.props;

const formattedDate = formatDate(date);
---

<a 
  href={href}
  class="col-span-1 flex flex-col gap-2"
>
  <div class="flex items-end aspet-square h-full w-full bg-neutral-900 text-neutral-400 p-4 text-xl">
    {title}
  </div>
  <span class="md:col-span-2 whitespace-nowrap">
    {formattedDate}
  </span>
</a>