---
import { formatDate } from '../utils/formatting';

export interface Props {
  title: string;
  href: string;
  date: string;
}

const { title, href, date } = Astro.props;

const formattedDate = formatDate(date);
---

<a 
  href={href}
  class="grid grid-cols-12 hover:bg-neutral-750 gap-4 "
>
  <span class="flex col-span-4 sm:col-span-2 text-[11px]">{formattedDate}</span>
  <span class="col-span-8 sm:col-span-10">{title}</span>
</a>