---
import { formatDate } from '../utils/formatting';

export interface Props {
  title: string;
  href: string;
  date: string;
}

const { title, href, date } = Astro.props;

const formattedDate = formatDate(date);
---

<a 
  href={href}
  class="group col-span-full flex justify-between sm:grid grid-cols-2 md:grid-cols-4 gap-4 border-t last:border-y border-white/[35%]"
>
  <span class="md:col-span-2 group-hover:underline group-focus:underline">{title}</span>
  <span class="md:col-span-2 whitespace-nowrap">
    {formattedDate}
  </span>
</a>