---
import { formatDate } from '../utils/formatting';

export interface Props {
  title: string;
  href: string;
  date: string;
}

const { title, href, date } = Astro.props;

const formattedDate = formatDate(date);
---

<a 
  href={href}
  class="grid grid-cols-12 md:grid-cols-10 hover:bg-neutral-750 gap-4 border-t last:border-y border-neutral-700 py-1 "
>
  <span class="col-span-6 md:col-span-4">{title}</span>
  <span class="col-span-6 uppercase">{formattedDate}</span>
</a>