---
import { format } from 'date-fns';

export interface Props {
  title: string;
  href: string;
  date: string;
}

const { title, href, date } = Astro.props;

const dateObject = new Date(date);
const formattedDate = format(dateObject, 'MMM d, yyyy');
---

<a 
  href={href}
  class="group col-span-full grid grid-cols-2 md:grid-cols-4 gap-6 border-t last:border-y border-[#DADADA] dark:border-neutral-700"
>
  <span class="md:col-span-2 group-hover:underline group-focus:underline">{title}</span>
  <span class="md:col-span-2 text-neutral-500 dark:text-neutral-490">
    {formattedDate}
  </span>
</a>