---
import { formatDate } from '../utils/formatting';

export interface Props {
  title: string;
  href: string;
  date: string;
}

const { title, href, date } = Astro.props;

const formattedDate = formatDate(date);
---

<a 
  href={href}
  class="col-span-full hover:bg-neutral-800 hover: flex justify-between xs:justify-auto gap-4 border-t last:border-y border-neutral-700 py-1 "
>
  <span class="basis-1/2 ">{title}</span>
  <span class="basis-1/2 uppercase font-mono text-[11px] tracking-tight">{formattedDate}</span>
</a>