---
export interface Props {
  tools?: string[];
  className?: string;
}

const { tools, className = "" } = Astro.props;
---

<div class={`flex flex-col gap-15 ${className}`}>
  <p>Tools</p>
  <ul class="text-balance">
    {tools?.map((tool: string) => <li>{tool}</li>) || "—"}
  </ul>
</div>