---
export interface Props {
  tradeoffs?: string[];
  className?: string;
}

const { tradeoffs, className = "" } = Astro.props;
---

<div class={`flex flex-col gap-2 ${className}`}>
  <p>Tradeoffs</p>
  <ul class="text-balance md:-ml-[16px]">
    {tradeoffs?.map((tradeoff: string, index: number) => 
      <li class="flex gap-5 md:gap-2">
        <span>{index + 1}</span>
        <span>{tradeoff}</span>
      </li>
    ) || "—"}
  </ul>
</div>