---
const {frontmatter} = Astro.props;
---
<div class="relative flex flex-col">
  <a href="/" class="h-16 w-16 -mt-[64px] bg-stone-800 outline-1 outline-white/10 rounded-full sticky top-6 right-6" ></a>
  <div class="flex h-64">
    <div class="w-full bg-[#918C88] h-full"></div>
    <div class="w-full bg-stone-600 h-full"></div>
    <div class="w-full bg-stone-500 h-full"></div>
    <div class="w-full bg-gray-200 h-full"></div>
  </div>
  <section class="p-6 md:p-9 pb-0 mb-24">
    <div class="flex flex-col gap-y-6 md:gap-y-9 ">
      <div class="flex justify-between">
        <h1 class="italic text-4xl md:text-5xl leading-[32px] tracking-tight">
          {frontmatter.title}
        </h1>
        <span class="leading-4 text-[10px] font-ibm text-stone-400 uppercase tracking-wider ">
          Case Study
        </span>
      </div>
      <div class="inline-flex flex-col-reverse md:flex-row w-full gap-y-6">
        <div class="flex-1">
          <table class="h-min max-w-sm" cellspacing="0" cellpadding="0">
            {frontmatter.company && (
              <tr>
                <td>Company</td>
                <td class="text-[#918C88]">{frontmatter.company}</td>
              </tr>
            )}
            <tr>
              <td>Role</td>
              <td class="text-[#918C88]">
                {frontmatter.roles.join(", ")}
              </td>
            </tr>
            <tr>
              <td>Tools</td>
              <td class="text-[#918C88]">{frontmatter.tools.join(", ")}</td>
            </tr>
            {frontmatter.collaborators && (
              <tr>
                <td><p>Collaborators</p></td>
                <td class="text-[#918C88]">{frontmatter.roles.join(", ")}</td>
              </tr>
            )}
          </table>
        </div>
        <div class="flex-1">
          <p class="max-w-sm">{frontmatter.tldr}</p>
        </div>
      </div>
    </div>
  </section>
  <article id="content" class="text-base mx-auto">
    <span class="font-flowers ">d</span>
    <slot />
  </article>
</div>

<style is:inline>
  td {
    width: fit-content;
  }
  article#content > * {
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
  }

  article#content > img {
    width: 100%;
    max-width: calc(65ch + 48px);
    margin: 0 auto;
  }

  article#content > h2 {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  article#content > p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  article#content > p:last-child {
    margin-bottom: 0;
  }
</style>
