---
import ThemeToggle from '../components/ThemeToggle.astro';

export interface Props {
  title?: string;
  description?: string;
}
const {
  title = "Max Georgopoulos",
  description,
} = Astro.props;
---
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description || "Designer & developer"} />
  </head>
  <body
    style="text-rendering: optimizeLegibility;"
    class=" grid grid-cols-6  relative  bg-white dark:bg-black dark:text-white text-black  min-h-screen text-[12px] leading-[16px] selection:bg-[var(--highlight-color)] p-2 pt-[48px] gap-2 gap-y-8"
  >
    <header class="  grid grid-cols-12 col-span-full gap-2 uppercase fixed top-2 left-2 right-2 z-10">
      <!-- <button class="md:hidden menu-open col-span-3 justify-self-end uppercase">Menu</button> -->
      <a class="col-span-4 whitespace-nowrap uppercase mix-blend-difference">Max Kevin Crapper Georgopoulos</a>
      <a class=" col-span-1">Work</a>
      <a class=" col-span-1">About</a>
      <a class=" col-span-1">Writing <sup >4</sup></a>
      <a class="  col-span-1">Contact</a>
      <ThemeToggle classes='col-start-11 col-span-2' />
    </header>

    <slot />
  </body>
</html>

<style is:global> 
  @font-face {
    font-family: "Bookish";
    src: url(/fonts/bookish-off-white-regular.woff2);
  }

  @font-face {
    font-family: "Berkeley Mono";
    src: url(/fonts/BerkeleyMono-Regular.ttf);
  }

  :root {
    --nav-width: 75px;  
    --nav-offset: calc(var(--nav-width) + (15px * 2));
    --aside-width: calc((100vw - var(--nav-width) - 15px) / 4);
    --highlight-color: #eaeaea;
    --accent-color: #23FF27;
  }

  ::-moz-selection { 
    background-color: var(--highlight-color);
  }

  ::selection {
    background-color: var(--highlight-color);
  }

  html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: var(--accent-color);
    /* letter-spacing: -0.0065em; */
  }

  html.dark {
    --highlight-color: #323232;
  }

  a {
    text-underline-offset: 2px;
  }
  
  a:focus-visible, button:focus-visible, summary:focus-visible {
    outline: solid 2px var(--accent-color);
    outline-offset: 1px;
    text-decoration: none;
  }

  a:hover, button:hover, summary:hover {
    opacity: 0.5;
    text-decoration: none;
  }

  tr:last-child > td {
    padding-bottom: 0;
  }

  td {
    vertical-align: top;
  }

  del {
    text-decoration-thickness: 0.08em;
  }

  .light-border::after {
    box-shadow: inset 0 0 0 1px RGBA(255,255,255,0.09);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .dark-border::after {
    box-shadow: inset 0 0 0 1px RGBA(0,0,0,0.09);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .text-balance {
    text-wrap: balance;
  }
</style>
