---
import Footer from '../components/Footer.astro';

export interface Props {
	title: string;
	maxWidth?: string;
}

const { title, maxWidth } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-sm font-serif text-neutral-800">
		<div class={maxWidth && `${maxWidth} mx-auto`}>
			<slot />
			<Footer />
		</div>
	</body>
</html>
<style is:global>

	h1, h2, h3, h4, h5, h6 {
		letter-spacing: -0.0075em;
	}
	max-header {
  	text-align: justify;
	}

	@font-face {
    font-family: floral;
    src: url(/FloralCapitals.ttf);
	}
  
	.font-floral {
		font-family: floral;
	}
	@font-face {
    font-family: goudy;
    src: url(/GoudyInitialen.ttf);
	}
  
	.font-goudy {
		font-family: goudy;
	}
	
	@font-face {
    font-family: pointer;
    src: url(/Pointage.ttf);
	}
  
	.font-pointer {
		font-family: pointer;
	}

	max-header:after {
		content: "";
		display: inline-block;
		width: 100%;
	}

	ul > li, ol > li {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	
	ul > li:first-child, ol > li:first-child {
		margin-top: 0;
	}
	
	ul > li:last-child, ol > li:last-child {
		margin-bottom: 1.5rem;
	}

	ul, ol {
		list-style-position: outside;
	}

	ol {
		list-style-type: decimal;
		padding-left: 18px;
	}

	ul > li {
    list-style: disc;
		/* background: transparent url(../images/bullet-18px.svg) no-repeat left top; */
		margin-left: 16px;
		/* margin-left: -1px; */
	}

	/* @media (max-width: 767px) {
		ul > li {
			background: transparent url(../images/bullet-16px.svg) no-repeat left top;
			padding-left: 16px;
			margin-left: 1px;
		}
	} */

	@font-face {
    font-family: flowers;
    src: url(../../public/fonts/bodooitc.ttf) format('ttf');
  }

	font-flowers {
		font-family: flowers;
	}

	tr {
		height: fit-content;
	}

	tr > td {
		padding-bottom: 8px;
	}
	
	tr:last-child > td {
		padding-bottom: 0;
	}

	tr > td:first-child {
		width: min-content;
		padding-right: 24px;
	}


	td {
		vertical-align: top;
		padding: 0;
		margin: 0;
		line-height: 20px;
	}
</style>
