---
export interface Props {
  title: string;
  description?: string;
  backgroundColor?: string;
}

const { title, description, backgroundColor } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth transition">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <script is:inline>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>
  <body
    style="text-rendering: optimizeLegibility;"
    class={`
      ${backgroundColor ? backgroundColor : 'bg-white dark:bg-[#1c1e1e]'}
      text-[#393e47] dark:text-[#b0b5b5] min-h-screen text-sm selection:bg-[#fdfd41] dark:selection:bg-[#ffff5a] selection:text-[#000] antialiased max-w-[1440px] mx-auto 
    `}
  >
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-regular.woff2) format("woff2");
    font-weight: 400;
  }

  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-medium.woff2) format("woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-regular-italic.woff2)
      format("woff2");
    font-style: italic;
  }

  @font-face {
    font-family: "Berkeley Mono";
    src: url(/fonts/BerkeleyMono-Regular.ttf);
  }
  
  html {
    text-rendering: optimizeLegibility;
    letter-spacing: -0.01em;
  }

  a {
    text-underline-offset: 3px;
    text-underline-thickness: 0.01em;
  }
  
  tr:last-child > td {
    padding-bottom: 0;
  }

  td {
    vertical-align: top;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
