---
export interface Props {
  title: string;
  description?: string;
  maxWidth?: string;
  backgroundColor?: string;
}

const {
  title = "Max Georgopoulos",
  description,
  maxWidth = "",
  backgroundColor = "bg-white dark:bg-[#111]",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth transition">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description || "Designer & developer"} />
    
    <script is:inline>
      document.documentElement.classList.add("dark");
      // if (
      //   localStorage.theme === "dark" ||
      //   (!("theme" in localStorage) &&
      //     window.matchMedia("(prefers-color-scheme: dark)").matches)
      // ) {
      //   document.documentElement.classList.add("dark");
      // } else {
      //   document.documentElement.classList.remove("dark");
      // }
    </script>
  </head>
  <body
    style="text-rendering: optimizeLegibility;"
    class={`
      ${backgroundColor} ${maxWidth}
      text-neutral-900 dark:text-neutral-50 min-h-screen text-sm selection:bg-yellow dark:selection:bg-[#d1d120] selection:text-neutral-950 antialiased mx-auto pb-24
    `}
  >
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-regular.woff2) format("woff2");
    font-weight: 400;
  }

  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-medium.woff2) format("woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-regular-italic.woff2)
      format("woff2");
    font-style: italic;
  }
  
  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-medium-italic.woff2)
      format("woff2");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "Berkeley Mono";
    src: url(/fonts/BerkeleyMono-Regular.ttf);
  }

  html {
    text-rendering: optimizeLegibility;
    letter-spacing: -0.01em;
  }


  a {
    text-underline-offset: 2px;
    text-underline-thickness: 0.01em;
  }

  a:focus-visible {
    outline: none;
    outline: solid 2px #3a7ff1;
    border-radius: 1px;
    outline-offset: 4px;
  }

  tr:last-child > td {
    padding-bottom: 0;
  }

  td {
    vertical-align: top;
  }

  del {
    text-decoration-thickness: 0.1em;
  }

  sup {
    margin-left: 1px;
  }

  select::-ms-expand {
    display: none;
  } 

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
