---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

export interface Props {
	title: string;
	maxWidth?: string;
}

const { title, maxWidth = '6xl' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" type="text/css" href="/Ranade_Complete/Fonts/WEB/css/ranade.css"/>
		<link rel="stylesheet" type="text/css" href="/Erode_Complete/Fonts/WEB/css/erode.css"/>
		<link rel="stylesheet" type="text/css" href="/Switzer_Complete/Fonts/WEB/css/switzer.css"/>
		<link rel="stylesheet" type="text/css" href="/Zodiak_Complete/Fonts/WEB/css/zodiak.css"/>
		<link rel="stylesheet" type="text/css" href="/Literata_Complete/Fonts/WEB/css/literata.css"/>
		<link rel="stylesheet" type="text/css" href="/Gambarino_Complete/Fonts/WEB/css/gambarino.css"/>
		<link rel="stylesheet" type="text/css" href="/Melodrama_Complete/Fonts/WEB/css/melodrama.css"/>
		<link rel="stylesheet" type="text/css" href="/Sentient_Complete/Fonts/WEB/css/sentient.css"/>
		<link rel="stylesheet" type="text/css" href="/Gambetta_Complete/Fonts/WEB/css/gambetta.css"/>
		<link rel="stylesheet" type="text/css" href="/BespokeSerif_Complete/Fonts/WEB/css/bespoke-serif.css"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-black text-white text-sm min-h-screen">
		<slot />
	</body>
</html>
<style is:global>

	
	
	@font-face {
    font-family: untitled;
    src: url(/untitled/sans/test-untitled-sans-regular.woff2) format('woff2');
	}

	.font-untitled {
		font-family: untitled;
	}
	
	@font-face {
    font-family: untitled-light;
    src: url(/untitled/sans/test-untitled-sans-light.woff2) format('woff2');
	}

	.font-untitled {
		font-family: untitled;
	}

	.font-bespoke {
		font-family: BespokeSerif-Light;
	}

	@font-face {
    font-family: miller;
    src: url(/miller-display-regular.otf) format('otf');
	}

	.font-miller {
		font-family: miller;
	}
	
	@font-face {
    font-family: miller-italic;
    src: url(miller-display-italic.otf) format('otf');
	}
  
	.font-miller-italic {
		font-family: miller-italic;
	}

	.full-width {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}

</style>