---
import Header from '../components/Header.astro';

export interface Props {
  title: string;
  description?: string;
  maxWidth?: string;
  backgroundColor?: string;
}

const {
  title = "Max Georgopoulos",
  description,
  maxWidth = "",
  backgroundColor = "bg-[#000]",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth transition">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description || "Designer & developer"} />
  </head>
  <body
    style="text-rendering: optimizeLegibility;"
    class={`
      ${backgroundColor} ${maxWidth}
    flex flex-col gap-4 text-[#ccc] font-sans min-h-screen text-[12px] leading-[16px] selection:bg-neutral-700 antialiased p-4 pb-24 h-min
    `}
  >
    <slot />
  
  </body>
</html>

<style is:global>  
  .tabualar {
    font-variant: small-caps;
  }
  .text-balance {
    text-wrap: balance;
  }
  .small-caps {
    font-variant: small-caps;
  }
  
  @font-face {
    font-family: Pixel;
    src: url(/fonts/MintsodaLimeGreen.ttf);
  }
  
  @font-face {
    font-family: Geist Mono;
    src: url(/fonts/geist-mono/GeistMono-Regular.woff2);
  }

  @font-face {
    font-family: Romie;
    src: url(/fonts/romie/RomieTrial-Regular-Italic.otf);
  }
  
  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-regular.woff2) format("woff2");
    font-weight: 400;
  }

  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-medium.woff2) format("woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-regular-italic.woff2)
      format("woff2");
    font-style: italic;
  }
  
  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-medium-italic.woff2)
      format("woff2");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "Berkeley Mono";
    src: url(/fonts/BerkeleyMono-Regular.ttf);
  }

  html {
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
  }

  a {
    text-underline-offset: 2px;
  }
  
  a:focus-visible {
    outline: solid 2px #0E9900;
    outline-offset: 2px;
    border-radius: 0.02em;
  }

  tr:last-child > td {
    padding-bottom: 0;
  }

  td {
    vertical-align: top;
  }

  del {
    text-decoration-thickness: 0.08em;
  }

  sup {
    margin-left: 1px;
  }

  select::-ms-expand {
    display: none;
  } 

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

</style>
