---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-sm font-ibm antialiased bg-gray-100 text-gray-900">
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Karla:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

	h1, h2, h3, h4, h5, h6 {
		font-family: "Crimson Text", serif;
		font-style: italic;
	}

	@font-face {
    font-family: ornament;
    src: url(../../public/fonts/bodooitc.ttf);
  }

	font-onament {
		font-family: ornament;
	}

	tr {
		height: fit-content;
	}

	
	tr:last-child > td {
		padding-bottom: 0;
	}

	tr > td:first-child {
		width: min-content;
		padding-right: 24px;
	}

	td {
		vertical-align: top;
		padding: 0;
		margin: 0;
	}
</style>
