---
export interface Props {
  title: string;
  description?: string;
  maxWidth?: string;
  backgroundColor?: string;
}

const {
  title = "Max Georgopoulos",
  description,
  maxWidth = "",
  backgroundColor = "bg-black",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth transition">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description || "Designer & developer"} />
  </head>
  <body
    style="text-rendering: optimizeLegibility;"
    class={`
      ${backgroundColor} ${maxWidth}
      text-neutral-200 min-h-screen text-sm selection:bg-yellow selection:text-black antialiased pb-24 max-w-[1600px] mx-auto
    `}
  >
    <slot />
  </body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  
  @font-face {
    font-family: Romie;
    src: url(/fonts/romie/RomieTrial-Regular-Italic.otf);
  }
  
  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-regular.woff2) format("woff2");
    font-weight: 400;
  }

  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-medium.woff2) format("woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-regular-italic.woff2)
      format("woff2");
    font-style: italic;
  }
  
  @font-face {
    font-family: untitled;
    src: url(/fonts/untitled/test-untitled-sans-medium-italic.woff2)
      format("woff2");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "Berkeley Mono";
    src: url(/fonts/BerkeleyMono-Regular.ttf);
  }

  html {
    text-rendering: optimizeLegibility;
    letter-spacing: -0.008em;
    -webkit-tap-highlight-color: rgba(255, 240, 0, 0.25);
  }

  a {
    text-underline-offset: 2px;
  }
  
  a:focus-visible {
    outline: solid 2px #fff000;
    outline-offset: 2px;
    border-radius: 0.02em;
  }

  tr:last-child > td {
    padding-bottom: 0;
  }

  td {
    vertical-align: top;
  }

  del {
    text-decoration-thickness: 0.08em;
  }

  sup {
    margin-left: 1px;
  }

  select::-ms-expand {
    display: none;
  } 

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

</style>
