---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" type="text/css" href="/Ranade_Complete/Fonts/WEB/css/ranade.css"/>
		<link rel="stylesheet" type="text/css" href="/Erode_Complete/Fonts/WEB/css/erode.css"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#56565b] text-[#d5d5dc] leading-5 min-h-screen antialiased">
	<!-- <body class="bg-[#585858] text-[#d5d5d5] leading-5 min-h-screen antialiased"> -->
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
	
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Bodoni Moda', serif;
		text-transform: uppercase;
		line-height: normal;
	}

	@font-face {
    font-family: untitled;
    src: url(/untitled/sans/test-untitled-sans-regular.woff2) format('woff2');
	}

	.font-untitled {
		font-family: untitled;
	}
	
	@font-face {
    font-family: 'century-expanded';
    src: url(/century-regular.otf) format('otf');
	}

	.font-century {
		font-family: 'century-expanded';
	}

	.full-width {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}

</style>