---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
  <main class="grid grid-cols-12 gap-y-8 gap-x-4 col-span-full border-t-[0.5px] pt-2 border-black dark:border-white h-fit">
    <div class="flex flex-col col-span-full md:col-span-3  pr-4 -my-0.5 ">
      <h1 class="uppercase">{frontmatter.title}</h1>
      <p>{frontmatter.date}</p>
    </div>
    <article
      class={`
        flex flex-col gap-4 col-span-full md:col-span-8 lg:col-span-5 2xl:col-span-4  -my-0.5 
        text-12
        prose-headings:uppercase 
        prose-p:my-0
        prose-ul:my-0 prose-ul:list-disc prose-ul:pl-[12px] md:prose-ul:pl-0
        prose-ol:my-0 prose-ol:list-decimal prose-ol:pl-[12px] md:prose-ol:pl-0
        prose-li:marker:text-inherit
      `}
    >
      <slot />
    </article>
  </main>
</Layout>