---
const {frontmatter} = Astro.props;
import DropLetter from '../components/DropLetter.astro';
---
<div class="font-serif flex flex-col items-center mx-6 md:mx-9">
  <header class="flex items-center justify-between py-3 md:py-4 gap-6 md:gap-9 w-full">
    <p class="text-[11px] leading-3 font-sans uppercase tacking-wide  md:-ml-4">{frontmatter.date}</p>
    <a href="/" class="hover:underline whitespace-nowrap">Max Georgopoulos</a>
  </header>
  <div class="">
    <section class="max-w-3xl flex flex-col items-center mt-32 mb-32 w-full">
		<h1 class="indent-[124px] relative text-7xl  mb-6 leading-[84px] tracking-tight">
			<span class=" font-floral text[#333] text-[164px] absolute -top-0.5 -left-[126px]">Y</span>
			<span >es, you can learn to code</span>
		</h1>
	</section>
    <article id="content" class="text-lg max-w-3xl mt-12">
      <slot />
    </article>
  </div>
</div>

<style is:inline>
  article#content > h2 {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  article#content > p,
  article#content > ul,
  article#content > ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 65ch;
  }
  
  article#content > p:first-child {
    margin-top: 0;
  }
  article#content > p:last-child {
    margin-bottom: 0;
  }
</style>
