---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="flex grid-cols-12 flex-col gap-12 px-6 pb-24 sm:px-12 lg:grid">
    <Header />
    <aside class="col-span-full -my-1 pb-1 lg:col-span-3">
      <h1>{frontmatter.title}</h1>
      <p class="mt-1 text-[12px] text-gray-500 dark:text-[#838688]">
        {frontmatter.date}
      </p>
    </aside>
    <main class="col-span-full -my-1.5 lg:col-span-9 xl:col-span-6">
      <div
        class={`
        prose-sm max-w-prose
        prose-headings:text-sm prose-headings:font-medium prose-headings:text-[15px] prose-headings:text-black dark:prose-headings:text-[#dbe0e0] prose-headings:leading-6
        prose-h2:mt-6 prose-h2:mb-3
        prose-a:underline
        prose-strong:font-medium dark:prose-strong:text-[#cbdee8]
        prose-code:bg-gray-100 prose-code:rounded prose-code:px-1 prose-code:border prose-code:border-gray-300/30 prose-code:py-[2px] prose-code:text-[12px] prose-code:tracking-tight prose-code:leading-6 prose-code:font-mono prose-code:font-normal
        prose-ul:list-disc  
        prose-ol:list-decimal
      `}
      >
        <slot />
      </div>
    </main>
  </div>
</Layout>
