---
import Layout from "./Layout.astro";
import Nav from "../components/Nav.astro";
import { formatDate } from '../utils/formatting';

const { frontmatter } = Astro.props;
const formattedDate = formatDate(frontmatter.date);
---
<Layout title={frontmatter.title}>
  <Nav activeCategories={['writing']} />
  <main class="flex flex-col gap-15 col-span-full md:ml-[var(--nav-offset)]">
    <div class="flex justify-between">
      <h1 class="uppercase">{frontmatter.title}</h1>
      <p>{formattedDate}</p>
    </div>  
    <article
      class={`
        flex flex-col gap-15 max-w-[80ch] col-span-full lg:col-span-full pb-[45px]
        text-12
        prose-headings:uppercase
        prose-p:my-0
        prose-ul:my-0 prose-ul:list-disc prose-ul:pl-[13px] md:prose-ul:pl-0
        prose-ol:my-0 prose-ol:list-decimal prose-ol:pl-[13px] md:prose-ol:pl-0
        prose-li:marker:text-inherit

      `}
    >
      <slot />
    </article>
  </main>
</Layout>

<!-- prose-headings:before:content-['['] md:prose-headings:before:content-['']
          prose-headings:after:content-[']'] md:prose-headings:after:content-[''] -->