---
const {frontmatter} = Astro.props;
import Logo from '../components/Logo.astro';
---
<div class="relative flex flex-col items-center">
  <a href="/" class="flex items-center justify-center h-14 w-14 -mt-[56px] bg-neutral-800 hover:bg-[#2f2f2f] transition duration-150 outline-1 outline-white/10 rounded-full sticky top-8" >
    <Logo classes="h-10 w-10 shrink-0 text-[#c2c2c2]" />
  </a>
  <section class="flex flex-col items-center bg-[#2f2f2f] px-6 pt-[88px] pb-12 w-full">
    <h1 class="mt-8 text-5xl leading-[48px] tracking-tight mb-6 text-center">{frontmatter.title}</h1>
    <p class="text-[10px] leading-3 uppercase tracking-wider text-neutral-400">{frontmatter.date}</p>
  </section>
  <article id="content" class="text-base text-neutral-400 mx-6 mt-12">
    <slot />
  </article>
</div>

<style is:inline>
  article#content > * {
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
  }

  article#content > img, video {
    width: 100%;
    max-width: calc(65ch + 48px);
    margin: 0 auto;
  }

  article#content > h2 {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  article#content > p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  article#content > p:first-child {
    margin-top: 0;
  }
  article#content > p:last-child {
    margin-bottom: 0;
  }
</style>
