---
const {frontmatter} = Astro.props;
---
<div class="flex flex-col items-center ">
  
</div>

<style is:inline>
  article#content > h2 {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  article#content > p,
  article#content > ul,
  article#content > ol {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    max-width: 65ch;
  }
  
  article#content > p:first-child {
    margin-top: 0;
  }
  article#content > p:last-child {
    margin-bottom: 0;
  }
</style>
