---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import { formatDate } from '../utils/formatting';

const { frontmatter } = Astro.props;
const formattedDate = formatDate(frontmatter.date);

---

<Layout title={frontmatter.title}>
  <div class="grid grid-cols-4 mx-auto flex-col gap-6 px-6 sm:px-6">
    <Header />
    <aside class="col-span-full border-t border-[#333333] pt-1">
      <h1 class="basis-1/4">{frontmatter.title}</h1>
      <p class="text-[13px] text-neutral-600">
        {formattedDate}
      </p>
    </aside>
    <main class="col-span-full md:col-start-2 xl:col-end-4">
      <div
        class={`
          prose-sm max-w-prose leading-5 text-neutral-250
          prose-headings:text-sm prose-headings: prose-headings:text-neutral-50 prose-headings:leading-6
          prose-h2:text-[14px] prose-h2:mt-9 prose-h2:leading-5 prose-h2:mb-4
          prose-a:underline
          prose-strong: prose-strong:text-neutral-50
          prose-code:bg-neutral-700/50 prose-code:rounded prose-code:px-1 prose-code:border prose-code:border-[#333333]/[40%] prose-code:py-[2px] prose-code:text-[12px] prose-code:tracking-tight prose-code:leading-6 prose-code:font-mono prose-code:font-normal prose-code:whitespace-nowrap
          prose-ul:list-disc
          prose-ol:list-decimal
          pt-4 md:pt-0
        `}
      >
        <slot />
      </div>
    </main>
  </div>
</Layout>
