---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Writing from "../../components/Writing.astro";
import { getCollection } from 'astro:content';

const writings = await getCollection('writing');
---

<Layout title="Writing">
  <div class="grid grid-cols-12 gap-y-4 gap-x-4 col-span-full">
    <Header />

    <h1 class="hidden md:inline col-span-2 uppercase pt-1">Writing</h1>
    <div class="flex flex-col col-span-full md:col-start-3 ">
      <div class="md:hidden uppercase pb-1 col-span-full grid grid-cols-12 gap-4 ">
        <p class="col-span-6">Writing</p>
        <p class="col-span-6">Date</p>
      </div>
      {writings?.sort((a, b) => {
        const dateA: any = new Date(a.data.date);
        const dateB: any = new Date(b.data.date);
        return dateB - dateA;
      }).map(writing => (
        <Writing
          title={writing.data.title}
          href={`/writing/${writing.slug}`}
          date={writing.data.date}
        />
      ))}
    </div>
  </div>
</Layout>