---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Writing from "../../components/Writing.astro";
import { getCollection } from 'astro:content';

const writings = await getCollection('writing');
---

<Layout title="Writing">
  <div class="grid grid-cols-12 gap-y-3 gap-x-3 col-span-full">
    <Header />
    <div class="flex flex-col col-span-full ">
      {writings?.sort((a, b) => {
        const dateA: any = new Date(a.data.date);
        const dateB: any = new Date(b.data.date);
        return dateB - dateA;
      }).map((writing, index) => (
        <Writing
          title={writing.data.title}
          href={`/writing/${writing.slug}`}
          date={writing.data.date}
          index={index}
        />
      ))}
    </div>
  </div>
</Layout>