---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Writing from "../../components/Writing.astro";
import { getCollection } from 'astro:content';

const writings = await getCollection('writing');
---

<Layout title="Writing">
  <div class="grid grid-cols-6 gap-y-8 gap-x-4">
    <Header />
    <div class="flex flex-col col-span-full xl:col-span-4 xl:col-start-2 -my-1">
      {writings?.sort((a, b) => {
        const dateA: any = new Date(a.data.date);
        const dateB: any = new Date(b.data.date);
        return dateB - dateA;
      }).map(writing => (
        <Writing
          title={writing.data.title}
          href={`/writing/${writing.slug}`}
          date={writing.data.date}
        />
      ))}
    </div>
  </div>
</Layout>