---
export interface Props {
	href: string;
	title: string;
	type: string;
	image?: string;
}

const { 
	href, 
	title,
	type,
	image,
} = Astro.props;
---
<a 
	href={href}
	class="group grid grid-cols-12 col-span-full relative  gap-6 md:gap-12"
>
	<div class="col-span-full md:col-span-4 xl:col-span-3 -my-1">
		<h2 class="group-hover:underline ">{title}</h2>
		<p class="text-[#737373] ">{type}</p>
	</div>
	<img src={image || "/work/memiori/preview.png"} class="col-span-full md:col-span-8 xl:col-span-6 h-full w-full "/>
</a>