---
export interface Props {
  href: string;
  title: string;
  roles: string[];
  description?: string;
  image: string;
}

const { href, title, roles, description, image } = Astro.props;
---

<>
  <a
    href={href}
    class="group col-span-full flex grid-cols-6 flex-col gap-y-6 gap-x-12 sm:grid xl:grid-cols-8"
  >
    <div
      class="col-span-full -my-1 flex flex-wrap justify-between gap-y-1 gap-x-6 xs:flex-nowrap sm:col-span-2 sm:flex-wrap lg:col-span-full lg:flex-nowrap xl:col-span-2 xl:flex-col"
    >
      <div>
        <h2 class="group-hover:underline">{title}</h2>
        <p class="text-neutral-500 dark:text-neutral-490">{description || ""}</p>
      </div>
      <div
        class="h-fit whitespace-nowrap text-neutral-500 dark:text-neutral-490 sm:self-end lg:self-auto"
      >
        {roles.join(", ")}
      </div>
    </div>
    <figure class="relative h-0 w-full pt-[calc((2/3*100%)-12px)] col-span-full sm:col-span-4 lg:col-span-full xl:col-span-6">
      <img
        src={image}
        alt={`Preview mockup of ${title}`}
        class="absolute inset-0 bottom-auto w-full h-full object-contain select-none drop-shadow-sm dark:brightness-90 dark:drop-shadow-sm-dark"
      />
    </figure>
  </a>
  <hr
    class="col-span-full h-0 border-t border-neutral-200 last:hidden dark:border-neutral-700"
  />
</>
