---

import { stripExtension } from '../../utils/formatting';
export interface Props {
  href: string;
  title: string;
  description?: string;
  image: string;
}

const { href, title, description, image } = Astro.props;

const extensionlessImage = stripExtension(image);
---

<>
  <a
    href={href}
    class="group flex flex-col gap-1"
  >
  <div>
    <h2 class="group-hover:underline">{title}</h2>
    <p class="text-neutral-500 dark:text-neutral-490">{description || ""}</p>
  </div>
  <picture class="relative h-0 w-full pt-[calc(1495/2286*100%)] col-span-full sm:col-span-4  lg:col-span-full xl:col-span-6">
    <img
      src={`${extensionlessImage}-1x.png`}
      alt={`Preview mockup of ${title}`}
      class="absolute inset-0 bottom-auto w-full h-full object-contain select-none dark:brightness-90"
    />
  </picture>
  </a>
</>
