---
export interface Props {
	href: string;
	title: string;
	type: string;
	image?: string;
}

const { 
	href, 
	title,
	type,
	image,
} = Astro.props;
---
<a 
	href={href}
	class="-mx-6 sm:mx-0 bg-neutral-50 hover:brightness-[98.75%] active:hover:brightness-[98.75%] focus:hover:brightness-[98.75%] transition duration-75 relative flex items-center justify-center gap-6 p-6 pt-[60px] sm:p-12 sm:pt-[60px]"
>
	<img src="/work/memiori/preview.png" class="h-full w-full max-w-xs sm:max-w-md mx-auto"/>
	<h2 class="absolute top-5 left-6">{title}</h2>
	<p class="text-[#737373] absolute top-5 right-6 lg:top-auto lg:right-auto lg:bottom-5 lg:left-6">{type}</p>
</a>